<!-- /snippets/ajax-cart-template.liquid -->
{% comment %}

  This snippet provides the default handlebars.js templates for
  the ajax cart plugin. Use the raw liquid tags to keep the
  handlebar.js template tags as available hooks.

{% endcomment %}
  <script id="CartTemplate" type="text/template">
  {% raw %}
      <div class="header-cart__products">
        <form action="/cart" method="post" novalidate class="cart ajaxcart">
        {{#items}}
          <div class="ajaxcart__row header-cart__item" data-line="{{line}}">
          <a href="{{url}}">
            <img class="header-cart__item-image" src="{{img}}" alt="{{name}}">
          </a>
          <span class="header-cart__item-info header-cart__item-info--name">{{name}}</span>
          {{#if variation}}
          <span class="header-cart__item-info">{{variation}}</span>
          {{/if}}
          {{#properties}}
            {{#each this}}
              {{#if this}}
                <span class="header-cart__item-info">{{@key}}: {{this}}</span>
              {{/if}}
            {{/each}}
          {{/properties}}
          <span class="header-cart__item-info header-cart__item-info--qty">Qty: <span class="ajaxcart__qty-num">{{itemQty}}</span>
          </span>
          <span class="header-cart__item-info header-cart__item-info--price">{{{linePrice}}}</span>

            <!-- {{#if discountsApplied}}
              <small class="ajaxcart-item__price-strikethrough"><s>{{{originalLinePrice}}}</s></small>
              <br><span>{{{linePrice}}}</span>
            {{else}}
              <span>{{{linePrice}}}</span>
            {{/if}}
            {{#if discountsApplied}}
              <span class="header-cart__item-info header-cart__item-info--price">
                {{#each discounts}}
                    <small class="ajaxcart-item__discount">{{ this.title }}</small><br>
                  {{/each}}
              </span>
            {{/if}} -->
          <a class="header-cart__item-remove button button--plain-text">Remove</a>
            </div>
        {{/items}}
        </form>
      </div>
      <div class="header-cart__footer">
        <div class="header-cart__subtotal">
            <span class="header-cart__subtotal-label">{% endraw %}{{ 'cart.general.subtotal' | t }}{% raw %}</span>
            <span class="header-cart__subtotal-value">{{{totalPrice}}}</span>
            {{#if totalCartDiscount}}
            <span class="ajaxcart__savings header-cart__subtotal-tax">{{{totalCartDiscount}}}</span>
            {{/if}}
        </div>
        <div class="header-cart__actions">
          <a class="header-cart__action button button--primary cart__checkout" href="/cart">
            View your cart
          </a>
        </div>
      </div>
  {% endraw %}
  </script>
  <script id="AjaxQty" type="text/template">
  {% raw %}
    <div class="ajaxcart__qty">
      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus icon-fallback-text" data-id="{{key}}" data-qty="{{itemMinus}}">
        <span class="icon icon-minus" aria-hidden="true"></span>
        <span class="fallback-text" aria-hidden="true">&minus;</span>
        <span class="visually-hidden">{% endraw %}{{ 'cart.general.reduce_quantity' | t }}{% raw %}</span>
      </button>
      <input type="text" class="ajaxcart__qty-num" value="{{itemQty}}" min="5" data-id="{{key}}" aria-label="quantity" pattern="[0-9]*">
      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus icon-fallback-text" data-id="{{key}}" data-qty="{{itemAdd}}">
        <span class="icon icon-plus" aria-hidden="true"></span>
        <span class="fallback-text" aria-hidden="true">+</span>
        <span class="visually-hidden">{% endraw %}{{ 'cart.general.increase_quantity' | t }}{% raw %}</span>
      </button>
    </div>
  {% endraw %}
  </script>
  <script id="JsQty" type="text/template">
  {% raw %}
    <div class="js-qty">
      <button type="button" class="js-qty__adjust js-qty__adjust--minus icon-fallback-text" data-id="{{key}}" data-qty="{{itemMinus}}">
        <span class="icon icon-minus" aria-hidden="true"></span>
        <span class="fallback-text" aria-hidden="true">&minus;</span>
        <span class="visually-hidden">{% endraw %}{{ 'cart.general.reduce_quantity' | t }}{% raw %}</span>
      </button>
      <input type="text" class="js-qty__num" value="{{itemQty}}" min="5" data-id="{{key}}" aria-label="quantity" pattern="[0-9]*" name="{{inputName}}" id="{{inputId}}">
      <button type="button" class="js-qty__adjust js-qty__adjust--plus icon-fallback-text" data-id="{{key}}" data-qty="{{itemAdd}}">
        <span class="icon icon-plus" aria-hidden="true"></span>
        <span class="fallback-text" aria-hidden="true">+</span>
        <span class="visually-hidden">{% endraw %}{{ 'cart.general.increase_quantity' | t }}{% raw %}</span>
      </button>
    </div>
  {% endraw %}
  </script>
