{% comment %}
  Replace the text below with the handle of your add-on product.
{% endcomment %}
{% assign freeProduct = all_products['free-gift-product'] %}
{% unless cart.item_count == 0 or freeProduct.empty? or freeProduct.variants.first.available == false %}
{% assign freeProduct_variationId = freeProduct.variants.first.id %}
{% assign bogofree_variationId = 31808420151353 %}
  <script>
    function removeItemFromCart(skuNo,removedQty) {
      alert('inside removeItemFromCart skuNo=> ' + skuNo + ' removedQty=> ' + removedQty);
      var setObj = {sku:skuNo,qty:removedQty};
      localStorage.setItem("removeSetProduct", JSON.stringify(setObj));
    }
  (function($) {
    var oldSetRemoved,oldSetRemovedSku,oldSetRemovedQty
    if(localStorage.getItem("removeSetProduct")) {
      oldSetRemoved = JSON.parse(localStorage.getItem("removeSetProduct"));
      oldSetRemovedSku = oldSetRemoved.sku;
      oldSetRemovedQty = oldSetRemoved.qty;
    }

    const queryString = window.location.search;
    console.log('queryString2 ' + queryString);
    const urlParams = new URLSearchParams(queryString);
    const setremove = urlParams.get('setremove');
    console.log('setremove' + setremove);
    var freeGiftQty = 5;
    var cartItemArray = [];
    var bogofree_variationId = 31808420151353;
    var BogoP1 = "10012";
    var BogoP2 = "10013";
    var bogoFreeInCart = false;
    var bogoFreeInCartQty = null;
    var isBOGOJulyTrue = false;
    var actionType = '';
    var bogoNormalProductQty = 0;
    var bogoNormalProductVID = null;
    var bogoFreeQty = 0;
    var cartItems = {{ cart.items | json }},
        qtyInTheCart = 0,
        cartUpdates = {};

    for (var i=0; i<cartItems.length; i++) {
		// generateCartItemArray
      cartItemArray.push(cartItems[i].sku);
      if(cartItems[i].sku == BogoP1) {
        bogoFreeQty = (bogoFreeQty + parseInt(cartItems[i].quantity));
      }
      if(cartItems[i].sku == BogoP2) {
        bogoFreeQty = (bogoFreeQty + parseInt(cartItems[i].quantity));
      }
      if ( cartItems[i].id === {{ bogofree_variationId }} ) {
        bogoFreeInCart = true;
        bogoFreeInCartQty = cartItems[i].quantity;
        if(cartItems[i].final_price != 0) {
          bogoNormalProductQty = ( bogoNormalProductQty + parseInt(cartItems[i].quantity));
          bogoNormalProductVID = cartItems[i].variant_id;
        }
      }

    }
    for (var i=0; i<cartItems.length; i++) {
      if ( cartItems[i].id === {{ freeProduct_variationId }} ) {
		    // get free prod vid if its in already in cart
        qtyInTheCart = cartItems[i].quantity;
        break;
      }
    }

    console.log('cartItemArray ' + cartItemArray);

    if(cartItemArray.includes(BogoP1) || cartItemArray.includes(BogoP2)) {
      isBOGOJulyTrue = true;
    }

    console.log('isBOGOJulyTrue ' + isBOGOJulyTrue);
    debugger;
    if ( ( cartItems.length === 2 ) && ( ( qtyInTheCart > 0 ) && bogoFreeInCart ) ) {
      console.log('cart item 2 && free product && BOGO ' + isBOGOJulyTrue);
      cartUpdates = { {{ freeProduct_variationId }} : 0, {{ bogofree_variationId }} : 0};
      actionType = 'julyOffersremoved';
    } else if ( (bogoNormalProductQty && oldSetRemovedQty) && (bogoNormalProductQty == oldSetRemovedQty)) {
      // if only free gift prod in cart
      cartUpdates[bogoNormalProductVID] = 0;
      // actionType = 'julyOffersremoved';
    } else if ( bogoFreeQty !== bogoFreeInCartQty) {
      // if only free gift prod in cart
      cartUpdates[31808420151353] = bogoFreeQty;
      // actionType = 'julyOffersremoved';
    } else if ( ( cartItems.length === 1 ) && ( qtyInTheCart > 0 ) ) {
      // if only free gift prod in cart
      cartUpdates = { {{ freeProduct_variationId }}: 0 };
      actionType = 'julyOffersremoved';
    } else if ( ( cartItems.length >= 1 ) && ( qtyInTheCart !== freeGiftQty ) ) {
		// if items in cart and no free gift
      cartUpdates = { {{ freeProduct_variationId }}: freeGiftQty };
      actionType = 'julyOffersadded';
    }
    else {
		// else retun no proceed
      return;
    }
    // if(isBOGOJulyTrue) {
    //   cartUpdates[bogofree_variationId] = bogoFreeQty;
    // }
    console.log('cartUpdates2 ' + cartUpdates);
    console.log('cartUpdates2 ' + JSON.stringify(cartUpdates));
    console.log('actionType ' + actionType);
    debugger;
    var params = {
      type: 'POST',
      url: '/cart/update.js',
      data: { updates: cartUpdates },
      dataType: 'json',
      success: function(stuff) {
        if(bogoNormalProductQty == oldSetRemovedQty) {
          localStorage.removeItem("removeSetProduct");
        }
        window.location.href = '/cart?actiontype='+actionType;
      }
    };
    $.ajax(params);

  })(jQuery);
  </script>
{% endunless %}