<!-- /snippets/collection-sorting.liquid -->

  {% comment %} <label for="SortBy">{{ 'collections.sorting.title' | t }}</label> {% endcomment %}
  <select name="SortBy" class="js-select-tooltip-select" id="SortBy">
    <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
    <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
    <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
    <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
    <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
    {% comment %} <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
    <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
    <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option> {% endcomment %}
  </select>
  <ul class="filter-controls__sort-tooltip tooltip js-select-tooltip-list">
            <li class="js-select-tooltip-option js-select-tooltip-option--active" data-value="created-descending">New Arrivals</li>
            <li class="js-select-tooltip-option" data-value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</li>
            <li class="js-select-tooltip-option" data-value="price-descending">{{ 'collections.sorting.price_descending' | t }}</li>
            <li class="js-select-tooltip-option" data-value="title-ascending">{{ 'collections.sorting.az' | t }}</li>
            <li class="js-select-tooltip-option" data-value="title-descending">{{ 'collections.sorting.za' | t }}</li>
        </ul>


{% comment %}
  Toggle between collection.liquid and collection.list.liquid with the
  ?view= parameter.
{% endcomment %}
{% comment %} <div class="collection-view">
  <button type="button" title="{{ 'collections.general.grid_view' | t }}" class="change-view{% unless template contains 'list' %} change-view--active{% endunless %}" data-view="grid">
    <span class="icon-fallback-text">
      <span class="icon icon-grid-view" aria-hidden="true"></span>
      <span class="fallback-text">{{ 'collections.general.grid_view' | t }}</span>
    </span>
  </button>
  <button type="button" title="{{ 'collections.general.list_view' | t }}" class="change-view{% if template contains 'list' %} change-view--active{% endif %}" data-view="list">
    <span class="icon-fallback-text">
      <span class="icon icon-list-view" aria-hidden="true"></span>
      <span class="fallback-text">{{ 'collections.general.list_view' | t }}</span>
    </span>
  </button>
</div> {% endcomment %}

<script>
  /*============================================================================
    Inline JS because collection liquid object is only available
    on collection pages and not external JS files
  ==============================================================================*/
  Shopify.queryParams = {};
  if (location.search.length) {
    for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
      aKeyValue = aCouples[i].split('=');
      if (aKeyValue.length > 1) {
        Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
      }
    }
  }

  $(function() {
    $('#SortBy')
      .val('{{ collection.sort_by | default: collection.default_sort_by }}')
      .bind('change', function() {
        Shopify.queryParams.sort_by = jQuery(this).val();
        location.search = jQuery.param(Shopify.queryParams);
      }
    );
    var selectedFilter = $('#SortBy').val();
    $('.js-select-tooltip-list li').removeClass('js-select-tooltip-option--active');
    $('.js-select-tooltip-list li[data-value="'+selectedFilter+'"]').addClass('js-select-tooltip-option--active');
  });
</script>
