<div class="order-summary__section order-summary__section--discount" id="show" data-reduction-form="update">
<h3 class="visually-hidden">Discount</h3>
<form class="edit_checkout animate-floating-labels" action="/9150791737/checkouts/707b93e78aaf3083f4dfd1b6773088c3" accept-charset="UTF-8" method="post"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="IgMIdoPu/iahVezJhBGl6z+XeDiZ9wsY3YBlBOHfOGvc3ZyCmcaucLDmMMxDgzWBWoVI71cHdzCf1dvGoyLKaw==">
<input type="hidden" name="step" value="contact_information">
<input type="hidden" name="checkout[client_details][browser_width]" value="1349"><input type="hidden" name="checkout[client_details][browser_height]" value="635"><input type="hidden" name="checkout[client_details][javascript_enabled]" value="1"><input type="hidden" name="checkout[client_details][color_depth]" value="24"><input type="hidden" name="checkout[client_details][java_enabled]" value="false"><input type="hidden" name="checkout[client_details][browser_tz]" value="-330"></form>
<form class="edit_checkout animate-floating-labels" action="/9150791737/checkouts/707b93e78aaf3083f4dfd1b6773088c3" accept-charset="UTF-8" method="post"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="AqxfT3ULROC3N4vDB7MMYyvsDuMOzGYi12ICcsDt/NP8csu7byMUtqaEV8bAIZwJTv4+NMA8GgqVN7ywghAO0w==">
<input type="hidden" name="step" value="contact_information">
<div class="fieldset">
<div class="field">

<div class="field__input-btn-wrapper">
<div class="field__input-wrapper"><label class="field__label field__label--visible" for="checkout_reduction_code">Discount code</label>
<input placeholder="Discount code" class="field__input" id="checkout_reduction_code" data-discount-field="true" data-trekkie-id="reduction_code_field" autocomplete="off" aria-required="true" size="30" type="text" name="checkout[reduction_code]">
</div>

<button name="button" type="submit" class="field__input-btn btn btn--disabled" data-trekkie-id="apply_discount_button" aria-busy="false" disabled="disabled">
<span class="btn__content visually-hidden-on-mobile" aria-hidden="true">
Apply
</span>
<span class="visually-hidden">
Apply Discount Code
</span>
<svg class="icon-svg icon-svg--size-16 btn__icon shown-on-mobile" aria-hidden="true" focusable="false"> <use xlink:href="#arrow"></use> </svg>
<svg class="icon-svg icon-svg--size-18 btn__spinner icon-svg--spinner-button" aria-hidden="true" focusable="false"> <use xlink:href="#spinner-button"></use> </svg>
</button> </div>

</div>
</div>
<input type="hidden" name="checkout[client_details][browser_width]" value="1349"><input type="hidden" name="checkout[client_details][browser_height]" value="635"><input type="hidden" name="checkout[client_details][javascript_enabled]" value="1"><input type="hidden" name="checkout[client_details][color_depth]" value="24"><input type="hidden" name="checkout[client_details][java_enabled]" value="false"><input type="hidden" name="checkout[client_details][browser_tz]" value="-330"></form>

</div>