<header class="header">
    {% section 'topbar' %}
    <div class="headroom">
        <nav class="header-nav">
            <ul class="header-nav__primary">
                <li class="header-nav__primary-item header-nav__primary-item--active">
                    <a class="header-nav__primary-link" href="https://wayfire.myshopify.com/collections/sunglasses">Sunglasses</a>
                    <div class="header-nav__secondary-wrapper">
                        <div class="u-page-width-max">
                            <ul class="header-nav__secondary js-header-nav--secondary" id="header-nav-secondary-item">
                                {% for link in linklists.main-menu.links %}
                                    {% if link.links != blank %}
                                    <li class="header-nav__secondary-item js-header-nav-item">
                                        <button class="header-nav__secondary-button js-header-nav-button" id="header-Shop">
                                        {{ link.title | escape }}
                                        </button>
                                        <div class="header-nav__tertiary-wrapper u-page-width-max">
                                            <button class="header-nav__tertiary-back-button js-header-nav-back-button">
                                                <svg class="icon icon--arrow-left"><use xlink:href="#arrow-left"></use></svg> 
                                                BACK</button>
                                                <ul class="header-nav__tertiary header-nav__tertiary--marketing js-header-nav--tertiary">
                                            {% for sub_link in link.links %}
                                                    <li class="header-nav__tertiary-menu header-nav__tertiary-menu-l{{ sub_link.levels }}">
                                                    <span class="header-nav__tertiary-menu-label">{{ sub_link.title }}</span>
                                                    {% if sub_link.links != blank %}
                                                    <ul class="header-nav__tertiary-menu-items">
                                                    {% for sub_sub_link in sub_link.links %}
                                                            <li class="header-nav__tertiary-menu-item header-nav__tertiary-menu-{{ sub_sub_link.levels }}">
                                                                <a href="{{ sub_sub_link.url }}" class="header-nav__tertiary-menu-link" title="{{ sub_sub_link.title }}">{{ sub_sub_link.title }}</a>
                                                            </li>
                                                    {% endfor %}
                                                    </ul>
                                                    {% endif %}
                                                    </li>
                                            {% endfor %}
                                            </ul>
                                        </div>
                                    </li>
                                    {% else %}
                                    <li class="header-nav__secondary-item js-header-nav-item">
                                        <a class="header-nav__secondary-link" href="{{ link.url }}">{{ link.title | escape }}</a>
                                    </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        </div>
                </li>
                {% comment %} <li class="header-nav__primary-item">
                    <a class="header-nav__primary-link" href="#">Eyeglasses</a>
                    <div class="header-nav__secondary-wrapper">
                        <div class="u-page-width-max">
                        </div>
                    </div>
                </li> {% endcomment %}
            </ul>
        </nav>
        <div class="header-menu-bar"></div>
             {% if settings.logo_use_image %}
                <a class="header__logo-wrapper" href="/" itemprop="url" class="site-header__logo-link">
                  <img class="header__logo" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
                </a>
             {% else %}
                <a class="header__logo-wrapper" href="/" itemprop="url">{{ shop.name }}</a>
             {% endif %}
        <div class="header__menu-icon">
            <button class="header__icon header__icon--menu js-header-icon--menu">
        <span class="u-visually-hidden">Menu</span>
        <svg class="icon icon--menu-hamburger">
  <use xlink:href="#menu-hamburger"></use>
</svg>

        <svg class="icon icon--menu-close">
  <use xlink:href="#menu-close"></use>
</svg>

      </button>
        </div>
        <div class="header__icons">
            <div class="header__icons-inner">
                <button class="header__icon header__icon--search js-header-icon--search">
                    <span class="u-visually-hidden">Search</span>
                    <svg class="icon icon--search">
                <use xlink:href="#search"></use>
                </svg>
                    <svg class="icon icon--close-large">
                    <use xlink:href="#close-large"></use>
                    </svg>
                    </button>
                {% if customer %}
                <button class="header__icon header__icon--wishlist">
                    <span class="u-visually-hidden">Wishlist</span>
                    <svg class="icon icon--heart-item">
                    <use xlink:href="#heart-item"></use></svg>
                </button>
                <a href="/account">
						<button class="header__icon header__icon--account" id="header-myaccount">
                        <span class="u-visually-hidden">Account </span>
                        <svg class="icon icon--account-active"><use xlink:href="#account"></use></svg></button>
					</a>
                {% else %}
                    {{ '<button class="header__icon header__icon--account" id="header-myaccount">
							<span class="u-visually-hidden">Login </span>
							<svg class="icon icon--account"><use xlink:href="#account-active"></use></svg>
						</button>' | customer_login_link }}
                {% endif %}
                
                {% comment %} <a href="/IN/en_GB/login">
						<button class="header__icon header__icon--account" id="header-myaccount">
							<span class="u-visually-hidden">Account </span>
							<i class="far fa-user-circle"></i></button>
					</a> {% endcomment %}
                <button class="header__icon header__icon--cart header__icon--cart--button js-header-icon--cart {% if cart.item_count == 0 %}js-header-icon-empty-cart{% endif %}">
          <span class="u-visually-hidden">Cart</span>
          <svg class="icon icon--cart">
            <use xlink:href="#cart"></use>
        </svg>
          <svg class="icon icon--cart-item">
  <use xlink:href="#cart-item"></use>
</svg>

        </button>
                <a href="#" class="header-cart-btn header__icon header__icon--cart header__icon--cart--link">
          <span class="u-visually-hidden">Cart</span>
          <img class="icon icon--cart" src="{{ 'icon-cart.png' | asset_url }}" alt="" />
          <img class="icon icon--cart-item" src="{{ 'icon-cart.png' | asset_url }}" alt="" />
          <svg class="icon icon--cart">
  <use xlink:href="#cart"></use>
</svg>       <svg class="icon icon--cart-item">
  <use xlink:href="#cart-item"></use>
</svg>
        </a>
                <button class="header-nav__country js-modal-open-link" data-modal-id="country-selector">
          <img class="header-nav__country-image" src="{{ 'flag-US.svg' | asset_url }}" alt="US" width="31" height="20">
          <span class="header-nav__country-label">US</span>
        </button>
            </div>
        </div>
        <div class="header-search header-flyout header-flyout--search js-header-search">
            <form class="header-search__form" action="/search" method="get"  role="search">
                <input type="hidden" name="type" value="product">
                <input class="header-search__input js-header-search-input" type="search" placeholder="{{ 'layout.search_bar.placeholder' | t }}" aria-label="{{ 'layout.search_bar.placeholder' | t }}" name="q" value="{{ search.terms | escape }}">
                <button class="header-search__button js-header-search-button" type="reset">
          <span class="u-visually-hidden">Clear</span>
          <svg class="icon icon--search"><use xlink:href="#search"></use></svg>
          <svg class="icon icon--close-large"><use xlink:href="#close-large"></use></svg>

        </button>
            </form>
            <div class="header-search__list">
                <span class="header-search__list-label">Latest Search</span>
                <ul class="header-search__list-items">
                    <li class="header-search__list-item">
                        <a class="header-search__list-link js-header-search-list-link" href="#">Koko Head</a>
                    </li>
                    <li class="header-search__list-item">
                        <a class="header-search__list-link js-header-search-list-link" href="#">Tail Slide</a>
                    </li>
                </ul>
            </div>
            <div class="header-search__list">
                <span class="header-search__list-label">Popular Searches</span>
                <ul class="header-search__list-items">
                    <li class="header-search__list-item">
                        <a class="header-search__list-link js-header-search-list-link" href="#">Aviators</a>
                    </li>
                    <li class="header-search__list-item">
                        <a class="header-search__list-link js-header-search-list-link" href="#">Man</a>
                    </li>
                    <li class="header-search__list-item">
                        <a class="header-search__list-link js-header-search-list-link" href="#">Surf</a>
                    </li>
                    <li class="header-search__list-item">
                        <a class="header-search__list-link js-header-search-list-link" href="#">Vintage</a>
                    </li>
                </ul>
            </div>
            <div class="header-search__results">
                <a class="header-search__result-link" href="#"><span class="view-alltext">View all results</span> 
                <svg class="icon icon--arrow-right"><use xlink:href="#arrow-right"></use></svg></a> 
                <div id="autocomplete-result"></div>               
            </div>
        </div>
        
        <div id="CartDrawer" class="header-cart header-cart--default header-cart--tax header-flyout header-flyout--cart js-header-cart">
            <div class="header-cart__header">
                <span class="header-cart__title">
                    Your Cart
                <svg class="icon icon--arrow-right"><use xlink:href="#arrow-right"></use></svg></span>
                <span class="header-cart__item-count">
                <span id="CartCount">{{ cart.item_count }}</span> items</span>
            </div>
            <div id="CartContainer"></div>
            {% if settings.ajax_cart_method == "drawer" %}
                {% include 'ajax-cart-template' %}
            {% endif %}
        </div>
        <div class="header-flyout-overlay js-header-flyout-overlay"></div>
    </div>
</header>
<div class="empty-cart-hidden hide">
    <div class="header-cart__empty">
        <div class="header-cart__empty-inner">
        <img class="header-cart__empty-brand-logo" src="{{ 'mauijim-brand-mark-grey-small.png' | asset_url }} ">
        <span class="header-cart__empty-label">Your Shopping Cart is Empty</span>
        <a class="header-cart__empty-button button button--primary">Shop Now</a>
        </div>
    </div>
</div>