<!-- /snippets/product-grid-item.liquid -->
<div class="card js-card">
  <div class="card__inner">
{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  A liquid variable (grid_item_width) is set just before the this
  snippet is included to change the size of the container.
  Once the variable is set on a page, all future instances of this
  snippet will use that width. Overwrite the variable to adjust this.

  Example
    - assign grid_item_width = 'large--one-quarter medium--one-half'

{% endcomment %}

{% comment %}
  Set the default grid_item_width if no variable is set
{% endcomment %}
{% unless grid_item_width %}
  {% assign grid_item_width = 'large--one-quarter medium--one-half' %}
{% endunless %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

  {% comment %}
    Link to your product with the 'within: collection' filter for the link to be aware of the collection.
    This allows you to create collection-based navigation on the product page.

    Results of using 'within: collection':
    - Instead of a URL with /products/product-handle
      you would get /collections/collection-handle/products/product-handle

    For more info on navigation within a collection
      - http://docs.shopify.com/support/your-store/collections/how-to-navigate-within-a-collection

  {% endcomment %}
  <a class="card__link js-card-url"  href="{{ product.url | within: collection }}"
  {% for variant in product.variants %}
            data-{{ variant.sku }}-url="{{ variant.url }}" 
          {% endfor %}
          {% for variant in product.variants %}
           data-{{ variant.sku }}-stock="true" 
          {% endfor %}
  >
    <div class="shopify-rattings">
      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
    </div>
    <img src="{{ product.featured_image.src | img_url: '330x' }}" alt="{{ product.featured_image.alt | escape }}"  class="b-lazy lazyload fade-in card__image js-card-image" data-angle="front" 
    data-src="{{ product.featured_image.src | img_url: 'large' }}"
    data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
    data-aspectratio="{{ image.aspect_ratio }}"
    data-sizes="auto"
    data-parent-fit="contain"
    {% if product.variants.size > 1 %}
     data-variant="{{ product.first_available_variant.sku }}" 
      {% for variant in product.variants %}
      {% if variant.image.src  %}
        {% assign vimg = variant.image.src | img_url: 'large' %}
      {% else %}
        {% assign vimg = 'image-placeholder-100.jpg' | asset_url %}
      {% endif %}
        data-{{ variant.sku }}-front="{{ vimg }}" 
      {% endfor %}
    {% endif%}
    >
  </a>
  {% assign date_created = product.created_at | date:'%s' %}
  {% assign     date_now = 'now' | date:'%s' %}
  {% assign   diffSeconds = date_now | minus: date_created %}
  {% assign diffDays = diffSeconds | divided_by: 3600 | divided_by: 24 %}
  {% if diffDays < 15 %} 
    <span class="card__status js-card-status" 
    {% if product.variants.size > 1 %}
      {% for variant in product.variants %}
        data-datediff="{{ diffDays }}"
        data-{{ variant.sku }}-status="New"
      {% endfor %}
    {% endif %}
    >
    New
    </span>
  {% endif %}
  <h5 class="card__title">{{ product.title }}</h5>
  <span class="card__price js-card-price" 
  {% if product.variants.size > 1 %}
    {% for variant in product.variants %}
      data-{{ variant.sku }}-price="{{ variant.price | money }}"
    {% endfor %}
  {% endif %}
    >
      {{ product.price | money }}
    </span>
    <div class="card__variants-wrapper">
      <ul class="card__variants js-card-variants">
       {% for variant in product.variants %}
       {% if variant.image.src  %}
        {% assign vimg = variant.image.src | img_url: 'icon' %}
      {% else %}
        {% assign vimg = 'image-placeholder-100.jpg' | asset_img_url: '30x' %}
      {% endif %}
          <li class="card__variant js-card-variant {% if forloop.first == true %} js-card-variant--active {% endif %}" data-id="{{ variant.sku }}"  data-data-price="{{ variant.price | money }}" data-name="{{ variant.title | escape }}">
            <button class="card__variant-button js-card-variant-button" type="button" style="background-image:url('{{ vimg }}')">{{ variant.title | escape }}</button>
          </li>
        {% endfor %}
        </ul>
        <div class="card__variants-controls js-card-variants-controls">
              <button class="card__variants-control card__variants-control--prev" type="button">
                <span class="u-visually-hidden">Previous</span>
               <svg class="icon icon--arrow-left">
                <use xlink:href="#arrow-left"></use>
              </svg>
              </button>
              <button class="card__variants-control card__variants-control--next" type="button">
                <span class="u-visually-hidden">Next</span>
                <svg class="icon icon--arrow-right"><use xlink:href="#arrow-right"></use>
              </svg>
              </button>
            </div>
    </div>
    <a class="card__call-to-action-button button button--primary" href="{{ product.url | within: collection }}">
					 View Detail</a>
    {% comment %}
      You can show a leading 'from' or 'up to' by checking 'product.price_varies'
      if your variants have different prices.
    {% endcomment %}
    {% comment %} {% if on_sale %}
      {% if product.price_varies %}
        {% assign sale_price = product.price | money %}
        {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
      {% else %}
        <strong>{{ 'products.product.on_sale' | t }}</strong>
        {{ product.price | money }}
      {% endif %}
    {% else %}
      {% if product.price_varies %}
        {% assign price = product.price | money %}
        {{ 'products.general.from_text_html' | t: price: price }}
      {% else %}
        {{ product.price | money }}
      {% endif %}
    {% endif %}
    {% if sold_out %}
      <br><strong>{{ 'products.product.sold_out' | t }}</strong>
    {% endif %}
    {% if on_sale %}
      <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
      <br><s>{{ product.compare_at_price | money }}</s>
    {% endif %} {% endcomment %}
</div>
</div>
