{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
  {% assign found_a_collection = false %}
  {% for c in product.collections %}
    {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
      {% assign found_a_collection = true %}
      {% assign collection = c %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if collection and collection.products_count > 1 %}
<div class="l-pdp-featured-products l-pdp-block">
  <div class="popular-items u-block u-page-width-max-gutters">
    {% if settings.product_related_heading != blank  %}
      <h2 class="popular-items__title">{{ settings.product_related_heading }}</h2>
    {% endif %} 
      <div class="popular-items__items cards cards--even">
      {% assign current_product = product %}
      {% assign current_product_found = false %}
      {% for product in collection.products limit:5 %}
        {% if product.handle == current_product.handle %}
          {% assign current_product_found = true %}
        {% else %}
          {% unless current_product_found == false and forloop.last %}
            {% assign grid_item_width = 'wide--one-quarter post-large--one-quarter large--one-quarter medium--one-quarter small--one-half' %}
            {% include 'product-grid-item' %}
          {% endunless %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}


<script type="text/javascript">
  jQuery(document).ready(function(){
   var related_count = jQuery('.related-products li.item-row').length;
      if(related_count > 4) { jQuery('.nav_featured').css('display','block');}
      else {jQuery('.nav_featured').css('display','none');}
      var related = jQuery(".related-products");
      related.owlCarousel({
        items: 4,
        itemsCustom: false,
        itemsDesktop: [1199, 4],
        itemsDesktopSmall: [980, 3],
        itemsTablet: [630, 2],
        itemsTabletSmall: false,
        itemsMobile: [479, 1],
        singleItem: false,
        itemsScaleUp: false,
        responsive: true,
        responsiveRefreshRate: 200,
        responsiveBaseWidth: window,
        autoPlay: false,
        stopOnHover: false,
        navigation: false,
        pagination:false
      });
      // Custom Navigation Events
      jQuery(".nav_featured .next").click(function(){
        related.trigger('owl.next');
      })
      jQuery(".nav_featured .prev").click(function(){
        related.trigger('owl.prev');
      }) 
  });
      
</script>
