<!-- /snippets/search-bar.liquid -->
{% comment %}

  A snippet to include a search bar anywhere in your theme.
  Note we are using 'input-group' for the layout. Look under Forms > Input Groups for some demos.

  More information:
   - http://docs.shopify.com/themes/liquid-variables/search

  To return only products in results:
    - http://docs.shopify.com/manual/configuration/store-customization/return-only-product-in-storefront-search-results
    - Or manually add type=product to the search URL as a query parameter
    - Uncomment hidden input with value="product" below

{% endcomment %}
<form action="/search" method="get" class="input-group search-standalone-form" role="search">
  {% comment %}<input type="hidden" name="type" value="product">{% endcomment %}
  <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" class="search-standalone-form__input js-search-standalone-input ui-autocomplete-input" aria-label="{{ 'general.search.placeholder' | t }}">
  <button type="submit" class="search-standalone-form__button js-search-standalone-button">
      <svg class="icon icon--search" aria-hidden="true">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use>
      </svg>
      <svg class="icon icon--close-large"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close-large"></use></svg>
    </button>
</form>
