<div class="js-wish-list">
  {% if customer %}
    {% assign value = product.selected_or_first_available_variant.id %}
    {% capture productID %}{{ product.selected_or_first_available_variant.id }}{% endcapture %}
    {% for tag in customer.tags %}
      {% capture tagID %}{{ tag }}{% endcapture %}
      {% if tagID contains productID %}
        {% capture value %}x{{ tagID }}{% endcapture %}
      {% endif %}
      {% if value.size == 0 %}{% assign value = productID %}{% endif %}
    {% endfor %}

    {% unless value.size == 0 %}
      {% capture check %}{{ value.size | minus:productID.size | money_without_currency | times:100 | divided_by:2 }}{% endcapture %}
      {% assign check = check | split:'.' %}
      {% if check[1] contains "5" %}{% assign display = false %}{% else %}{% assign display = true %}{% endif %}
    {% endunless %}

    {% if display %}
      <form accept-charset="UTF-8" id="wish-list" action="/contact" class="contact-form" method="post">
        <input name="form_type" type="hidden" value="customer">
        <input name="utf8" type="hidden" value="✓">
        <input type="hidden" name="contact[email]" value="{{ customer.email }}"/>
        <input id="update-me" type="hidden" name="contact[tags]" value="{{ value }}" />
        <button type="submit" class="button button--outlined product-controls__button product-controls__button--wishlist">
        <svg class="icon icon--heart"><use xlink:href="#heart"></use></svg> 
        <span class="product-controls__label">Add to Wishlist</span></button>
      </form>
    {% else %}
      <a href="/pages/wish-list" class="button button--outlined product-controls__button product-controls__button--wishlist">
      <svg class="icon icon--heart-filled"><use xlink:href="#heart-filled"></use></svg> 
      <span class="product-controls__label">Remove from Wishlist</span></button></a>
    {% endif %}
  {% endif %}
</div>