
<main class="main main--account u-page-width-max">
    <ul class="breadcrumb u-page-width-max-gutters">
        <li class="breadcrumb__item">
            <a class="breadcrumb__link" href="{{ shop.url }}">Home</a>
        </li>
        <li class="breadcrumb__item">
            <a class="breadcrumb__link" href="#">Profile</a>
        </li>
        <li class="breadcrumb__item breadcrumb__item--current">
            Your Account
        </li>
    </ul>
    <div class="l-account-secondary">
      <div class="l-account-account-navigation">
        <div class="account-navigation1 account-navigation--default">
        <h4 class="account-navigation__title">Aloha {{ customer.first_name }}</h4>
          <ul class="account-navigation__items">
            <li class="account-navigation__item account-navigation__item--current">
              <a class="account-navigation__item-value" href="https://wayfire.myshopify.com/account">
                Your Account 
              </a>
            </li>
            <li class="account-navigation__item">
              <a class="account-navigation__item-value" href="#">
                Your Orders 
              </a>
            </li>
            <li class="account-navigation__item">
              <a class="account-navigation__item-value" href="https://wayfire.myshopify.com/pages/sample-request-lists">
                Sample Requests 
              </a>
            </li>
          </ul>
          <div class="account-navigation__actions1">
          <a class="account-navigation__logout button button--plain-text" href="/account/logout">Logout</a>
          </div>
        </div>

                <div class="l-account-assistance-info">
                  <div class="assistance-info assistance-info--cart">
                <h4 class="assistance-info__title">Need assistance?</h4>
                <ul class="assistance-info__items">
                    <li class="assistance-info__item">
                       <a class="assistance-info__item-value" href="#">
		        <span class="assistance-info__item-label">Contact Us</span>
		      </a>
                    </li>
                    <li class="assistance-info__item">
                        <span class="assistance-info__item-value">
		        <span class="assistance-info__item-label">Have a question or need help?</span>
                        </span>
                    </li>
                    <li class="assistance-info__item">
                        <a class="assistance-info__item-value" href="tel:+1800229933">
		        <span class="assistance-info__item-label">888-666-5905</span>
		      </a>
                    </li>
                    <li class="assistance-info__item">
                        <a class="assistance-info__item-value" href="mailto:customercare@mauijim.com">
	       		<span class="assistance-info__item-label">customercare@mauijim.com</span>
      			</a>
                    </li>
                </ul>
            </div>
        </div>
      </div>
    </div>

    
    <div class="l-account-primary">

            <div class="your-account__form-items">
                <h4 class="your-account__form-item-group-title">Your Account</h4>
                <div class="your-account__form-item-group">
                    <div class="form-item form-item--fake js-modal-form-item">
                        <label for="account-fullname" class="label">Full Name</label>
                        <span class="input input--fake-editable">
    <span data-value-id="fullname-first-name">{{ customer.name }}</span>
                       
                        </span>
                    </div>

                    <div class="form-item form-item--fake">
                        <label for="account-email-address" class="label">Email Address</label>
                        <span class="input input--fake">
    {{ customer.email }}
  </span>
                    </div>

<div class="grid">

  <div class="grid__item two-thirds medium-down--one-whole">
    <h2 class="h4">{{ 'customer.orders.title' | t }}</h2>

    {% comment %}
      If we have past orders, loop through each one
    {% endcomment %}
    {% paginate customer.orders by 20 %}
      {% if customer.orders.size != 0 %}

        <div class="table-wrap">
          <table class="full">
            <thead>
              <tr>
                <th>{{ 'customer.orders.order_number' | t }}</th>
                <th>{{ 'customer.orders.date' | t }}</th>
                <th>{{ 'customer.orders.payment_status' | t }}</th>
                <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                <th>{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {% for order in customer.orders %}
                <tr>
                  <td>{{ order.name | link_to: order.customer_url }}</td>
                  <td>{{ order.created_at | date: format: 'month_day_year' }}</td>
                  <td>{{ order.financial_status_label }}</td>
                  <td>{{ order.fulfillment_status_label }}</td>
                  <td>{{ order.total_price | money }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

      {% else %}

        <p>{{ 'customer.orders.none' | t }}</p>

      {% endif %}
      {% if paginate.pages > 1 %}
        <hr>
        <div class="pagination">
          {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
        </div>
      {% endif %}
    {% endpaginate %}
  </div>
</main>


	<h4 class="your-account__form-item-group-title">Shipping Addresses</h4>
    <div class="your-account__form-item-group your-account__form-item-group--shipping-addresses">
	
	{% for address in customer.addresses %}
        <div class="shipping-address js-modal-form-item">
        <input type="radio" id="checkout-shipping-address-1" name="checkout-shipping-address" class="radio radio--default" checked="true">
            <label class="shipping-address__details" for="checkout-shipping-address-1">
				<p class="shipping-address__name">
					<span class="js-shipping-address-value" data-value-id="shipping-address-first-name">{{address.first_name}}</span>
					<span class="js-shipping-address-value" data-value-id="shipping-address-last-name">{{ address.last_name}}
					{% if address == customer.default_address %}({{ 'customer.addresses.default' | t }}){% endif %}
					</span>
				</p>
				<p class="shipping-address__address">
					<span class="js-shipping-address-value" data-value-id="shipping-address-address-1">{{ address.company }}</span><br>
					<span class="js-shipping-address-value" data-value-id="shipping-address-address-1">{{ address.street }}</span><br>
					<span class="js-shipping-address-value" data-value-id="shipping-address-city">{{ address.city }}</span>,
					<span class="js-shipping-address-value" data-value-id="shipping-address-state">{{ address.province_code }}</span>
					<span class="js-shipping-address-value" data-value-id="shipping-address-zip">{{ address.zip }}</span><br>
					<span class="js-shipping-address-value" data-value-id="shipping-address-country" data-value-value="USA">{{ address.country }}</span>
				</p>
				<p class="shipping-address__phone">
					<span class="js-shipping-address-value" data-value-id="shipping-address-phone-number">{{ address.phone }}</span>
				</p>
			</label>
            <div class="shipping-address__actions">
      <p>
  
        {{ 'customer.addresses.edit' | t | edit_customer_address_link: address.id }} |
       
        {{ 'customer.addresses.delete' | t | delete_customer_address_link: address.id }}

      </p>
            </div>
            <span class="shipping-address__accent"></span>
        </div>
	{% endfor %}

                       
<br><br><br><br><br><br><br><br><br>

    {% for address in customer.addresses %}

{% comment %}
      <h3>
        {{ address.first_name | capitalize }} {{ address.last_name | capitalize }}
        {% if address == customer.default_address %}({{ 'customer.addresses.default' | t }}){% endif %}
      </h3>
      <p>
        {{ 'customer.addresses.edit' | t | edit_customer_address_link: address.id }} |
        {{ 'customer.addresses.delete' | t | delete_customer_address_link: address.id }}
      </p>
{% endcomment %}
      {% form 'customer_address', address %}
      
        <div id="EditAddress_{{ address.id }}" class="form-vertical" {% unless form.errors %}style="display:none;"{% endunless %}>
         
          <h4>{{ 'customer.addresses.edit_address' | t }}</h4>
          {{ form.errors | default_errors }}

          <div class="grid">
            <div class="grid__item one-half small--one-whole">
              <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
              <input type="text" id="AddressFirstName_{{ form.id }}" class="input-full" name="address[first_name]" value="{{ form.first_name }}" autocapitalize="words">
            </div>

            <div class="grid__item one-half small--one-whole">
              <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
              <input type="text" id="AddressLastName_{{ form.id }}" class="input-full" name="address[last_name]" value="{{ form.last_name }}" autocapitalize="words">
            </div>
          </div>

          <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
          <input type="text" id="AddressCompany_{{ form.id }}" class="input-full" name="address[company]" value="{{ form.company }}" autocapitalize="words">

          <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
          <input type="text" id="AddressAddress1_{{ form.id }}" class="input-full" name="address[address1]" value="{{ form.address1 }}" autocapitalize="words">

          <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
          <input type="text" id="AddressAddress2_{{ form.id }}" class="input-full" name="address[address2]" value="{{ form.address2 }}" autocapitalize="words">

          <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
          <input type="text" id="AddressCity_{{ form.id }}" class="input-full" name="address[city]" value="{{ form.city }}" autocapitalize="words">

          <label for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t }}</label>
          <select id="AddressCountry_{{ form.id }}" class="input-full" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>

          <div id="AddressProvinceContainer_{{ form.id }}" style="display:none">
            <label for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t }}</label>
            <select id="AddressProvince_{{ form.id }}" class="input-full" name="address[province]" data-default="{{ form.province }}"></select>
          </div>

          <div class="grid">
            <div class="grid__item one-half small--one-whole">
              <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
              <input type="text" id="AddressZip_{{ form.id }}" class="input-full" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters">
            </div>

            <div class="grid__item one-half small--one-whole">
              <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
              <input type="tel" id="AddressPhone_{{ form.id }}" class="input-full" name="address[phone]" value="{{ form.phone }}">
            </div>
          </div>

          <p>
            {{ form.set_as_default_checkbox }}
            <label for="address_default_address_{{ form.id }}" class="inline">{{ 'customer.addresses.set_default' | t }}</label>
          </p>

          <p><input type="submit" class="btn" value="{{ 'customer.addresses.update' | t }}"></p>
          <p><a href="#" onclick="Shopify.CustomerAddress.toggleForm({{ form.id }}); return false;">{{ 'customer.addresses.cancel' | t }}</a></p>

          <hr>
        </div>
      {% endform %}

    {% endfor %}

{% paginate customer.addresses by 5 %}

<header class="section-header">
  <div class="section-header__right">
    <a href="#" class="btn" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">{{ 'customer.addresses.add_new' | t }}</a>
  </div>
</header>

<hr class="hr--small">

<div class="grid">

  <div class="grid__item two-thirds medium-down--one-whole">

    {% form 'customer_address', customer.new_address %}
      <div id="AddAddress" class="form-vertical" {% unless form.errors %}style="display:none;"{% endunless %}>
        <h2>{{ 'customer.addresses.add_new' | t }}</h2>
        {{ form.errors | default_errors }}

        <div class="grid">

          <div class="grid__item one-half small--one-whole">
            <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
            <input type="text" id="AddressFirstNameNew" class="input-full" name="address[first_name]" value="{{ form.first_name }}" autocapitalize="words">
          </div>

          <div class="grid__item one-half small--one-whole">
            <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
            <input type="text" id="AddressLastNameNew" class="input-full" name="address[last_name]" value="{{ form.last_name }}" autocapitalize="words">
          </div>

        </div>

        <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
        <input type="text" id="AddressCompanyNew" class="input-full" name="address[company]" value="{{ form.company }}" autocapitalize="words">

        <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
        <input type="text" id="AddressAddress1New" class="input-full" name="address[address1]" value="{{ form.address1 }}" autocapitalize="words">

        <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
        <input type="text" id="AddressAddress2New" class="input-full" name="address[address2]" value="{{ form.address2 }}" autocapitalize="words">

        <div class="grid">
          <div class="grid__item large--one-half">
            <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
            <input type="text" id="AddressCityNew" class="input-full" name="address[city]" value="{{ form.city }}" autocapitalize="words">
          </div>

          <div class="grid__item large--one-half">
            <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
            <select id="AddressCountryNew" class="input-full" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
          </div>

          <div class="grid__item" id="AddressProvinceContainerNew" style="display:none">
            <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
            <select id="AddressProvinceNew" class="input-full" name="address[province]" data-default="{{ form.province }}"></select>
          </div>

          <div class="grid__item large--one-half">
            <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
            <input type="text" id="AddressZipNew" class="input-full" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters">
          </div>

          <div class="grid__item large--one-half">
            <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
            <input type="tel" id="AddressPhoneNew" class="input-full" name="address[phone]" value="{{ form.phone }}">
          </div>
        </div>

        <p>
          {{ form.set_as_default_checkbox }}
          <label for="address_default_address_new" class="inline">{{ 'customer.addresses.set_default' | t }}</label>
        </p>

        <p><input type="submit" class="btn" value="{{ 'customer.addresses.add' | t }}"></p>
        <p><a href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">{{ 'customer.addresses.cancel' | t }}</a></p>

        <hr>
      </div>
    {% endform %}


    {% if paginate.pages > 1 %}
      <hr>
      <div class="pagination">
        {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
      </div>
    {% endif %}
  </div>

</div>

<script>
  // Initialize observers on address selectors
  new Shopify.CountryProvinceSelector('AddressCountryNew', 'AddressProvinceNew', {
    hideElement: 'AddressProvinceContainerNew'
  });

  // Setup province selector on each customer address
  {% paginate customer.addresses by 5 %}
    {% for address in customer.addresses %}
      new Shopify.CountryProvinceSelector('AddressCountry_{{ address.id }}', 'AddressProvince_{{ address.id }}', {
        hideElement: 'AddressProvinceContainer_{{ address.id }}'}
      );
    {% endfor %}
  {% endpaginate %}

  // Modified contents of customer_area.js (global asset)
  Shopify.CustomerAddress = {
    toggleForm: function(id) {
      var editEl = document.getElementById('EditAddress_'+id);
      editEl.style.display = editEl.style.display == 'none' ? '' : 'none';
      return false;
    },

    toggleNewForm: function() {
      var el = document.getElementById('AddAddress');
      el.style.display = el.style.display == 'none' ? '' : 'none';
      return false;
    },

    destroy: function(id, confirm_msg) {
      if (confirm(confirm_msg || "Are you sure you wish to delete this address?")) {
        Shopify.postLink('/account/addresses/'+id, {'parameters': {'_method': 'delete'}});
      }
    }
  }
</script>

{% endpaginate %}
