<!-- /templates/customers/login.liquid -->

<main class="main main--login">
    <ul class="breadcrumb u-page-width-max-gutters">
        <li class="breadcrumb__item">
            <a class="breadcrumb__link" href="#">Maui Jim</a>
        </li>
        <li class="breadcrumb__item">
            <a class="breadcrumb__link" href="#">Profile</a>
        </li>
        <li class="breadcrumb__item breadcrumb__item--current">
            Login
        </li>
    </ul>

    <div class="l-login-forms l-login-forms--breadcrumb u-page-width-max-restricted">
        <div class="l-login-login l-login-form l-login-form--left">
               <div class="note form-success" id="ResetSuccess" style="display:none;">
      {{ 'customer.recover_password.success' | t }}
    </div> 
            
            {% form 'customer_login' %}
            {{ form.errors | default_errors }}

                <h4 class="login-form__title">Login</h4>
                <p class="login-form__description">If you are a returning user, please enter your email and password.</p>
                <div class="login-form__form-items">
                    <div class="form-item form-item--email form-item--login-email form-item--required">
                        <label for="login-email" class="label label--email label--required">Email Address</label>
                        <input type="email" id="login-email" name="customer[email]" class="input input--email" placeholder="name@example.com" autocomplete="email">
                    </div>

                    <div class="form-item form-item--password form-item--login-password form-item--required">
                        <label for="login-password" class="label label--password label--required">Password</label>
                        <input type="password" id="login-password" name="customer[password]" class="input input--password" autocomplete="current-password">
                    </div>

                </div>
                <div class="login-form__actions">
                    <button class="button button--primary">Login</button>

{%comment%}
<p><a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a></p>

{%endcomment%}
                    <button class="button button--plain-text js-modal-open-link" data-modal-id="reset-password" formnovalidate>Forgot password?</button>
                </div>
                {% endform %}
        </div>

        <div class=" l-login-form l-login-form--right">
                {% form 'create_customer' %}
                {{ form.errors | default_errors }}
        
                <h4 class="login-form__title">Create an account</h4>
                <p class="login-form__description">To create an account, fill out the form below.</p>
                <div class="login-form__form-items">
                    <div class="form-item form-item--text form-item--create-account-first-name form-item--required">
                        <label for="create-account-first-name" class="label label--text label--required">First Name</label>
                        <input type="text" id="create-account-first-name" name="customer[first_name]" class="input input--text" autocomplete="given-name" data-rule-required="true"
                        data-msg-required="Please provide First Name">
                    </div>

                    <div class="form-item form-item--text form-item--create-account-last-name form-item--required">
                        <label for="create-account-last-name" class="label label--text label--required">Last Name</label>
                        <input type="text" id="create-account-last-name" name="customer[last_name]" class="input input--text" autocomplete="family-name"
                        data-rule-required="true"
                        data-msg-required="Please provide Last Name">
                    </div>

                    <div class="form-item form-item--email form-item--create-account-email form-item--required">
                        <label for="create-account-email" class="label label--email label--required">Email Address</label>
                        <input type="email" id="create-account-email" name="customer[email]" class="input input--email" placeholder="name@example.com" autocomplete="email"
                        data-rule-required="true"
                        data-msg-required="Please provide your email id">
                    </div>

                    <div class="form-item form-item--email form-item--create-account-verify-email form-item--required">
                        <label for="create-account-verify-email" class="label label--email label--required">Verify Email Address</label>
                        <input type="email" id="create-account-verify-email" name="verify-email" class="input input--email" autocomplete="email"
                        data-rule-equalTo="#create-account-email"
                        data-msg-equalTo="Please provide confirm password">
                    </div>

                    <div class="form-item form-item--password form-item--create-account-password form-item--required">
                        <label for="create-account-password" class="label label--password label--required">Password</label>
                        <input type="password" id="create-account-password" name="customer[password]" class="input input--password" autocomplete="new-password"
                        data-rule-required="true"
                        data-msg-required="Please provide Password">
                    </div>

                    <div class="form-item form-item--password form-item--create-account-verify-password form-item--required">
                        <label for="create-account-verify-password" class="label label--password label--required">Verify Password</label>
                        <input type="password" id="create-account-verify-password" name="verify-password" class="input input--password" autocomplete="new-password"
                        data-rule-required="true"
                        data-rule-equalTo="#create-account-password">
                    </div>

                </div>
                <div class="login-form__actions">
                    <button type="submit" class="button button--primary">Create an account</button>
                </div>
               
              {% endform %}

        </div>
        <div class=" l-login-form l-login-form--left">
            <div class="assistance-info assistance-info--default">
                <h4 class="assistance-info__title">Need assistance?</h4>
                <ul class="assistance-info__items">
                    <li class="assistance-info__item">
                        <a class="assistance-info__item-value" href="tel:+1800229933">
        <svg class="icon icon--action-phone">
  <use xlink:href="/assets/icons/icons.svg#action-phone"></use>
</svg>

        <span class="assistance-info__item-label">888-666-5905</span>
      </a>
                    </li>
                    <li class="assistance-info__item">
                        <a class="assistance-info__item-value" href="mailto:customercare@mauijim.com">
        <svg class="icon icon--action-mail">
  <use xlink:href="/assets/icons/icons.svg#action-mail"></use>
</svg>

        <span class="assistance-info__item-label">customercare@mauijim.com</span>
      </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</main>


{% comment %}
Ankur !!!!
<div class="grid">

  <div class="grid__item large--one-third push--large--one-third text-center">

    {% comment %}
      If a user has successfully requested a new password, the form.posted_successfully? variable
      is set to true within the 'recover_customer_password' form only. Within that form you'll see
      the variable 'resetPassword' set to true, which is used to initialize timber.resetPasswordSuccess().
    {% endcomment %}
    <div class="note form-success" id="ResetSuccess" style="display:none;">
      {{ 'customer.recover_password.success' | t }}
    </div>

    <div id="CustomerLoginForm" class="form-vertical">
      {% form 'customer_login' %}

        <h1>{{ 'customer.login.title' | t }}</h1>

        {{ form.errors | default_errors }}

        <label for="CustomerEmail" class="hidden-label">{{ 'customer.login.email' | t }}</label>
        <input type="email" name="customer[email]" id="CustomerEmail" class="input-full{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'customer.login.email' | t }}" autocorrect="off" autocapitalize="off" autofocus>

        {% if form.password_needed %}
          <label for="CustomerPassword" class="hidden-label">{{ 'customer.login.password' | t }}</label>
          <input type="password" value="" name="customer[password]" id="CustomerPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.login.password' | t }}">
        {% endif %}

        <p>
          <input type="submit" class="btn btn--full" value="{{ 'customer.login.sign_in' | t }}">
        </p>
        <p><a href="/">{{ 'customer.login.cancel' | t }}</a></p>
        <p>{{ 'layout.customer.create_account' | t | customer_register_link }}</p>
        {% if form.password_needed %}
          <p><a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a></p>
        {% endif %}

      {% endform %}
    </div>

    {% comment %}
      JS shows/hides this form in timber.loginForms()
    {% endcomment %}
    <div id="RecoverPasswordForm" style="display: none;">

      <h2>{{ 'customer.recover_password.title' | t }}</h2>
      <p>{{ 'customer.recover_password.subtext' | t }}</p>

      <div class="form-vertical">
        {% form 'recover_customer_password' %}

          {{ form.errors | default_errors }}

          {% comment %}
            Assign variable to be used after timber.init() is run in theme.liquid
          {% endcomment %}
          {% if form.posted_successfully? %}
            {% assign resetPassword = true %}
          {% endif %}

          <label for="RecoverEmail" class="hidden-label">{{ 'customer.recover_password.email' | t }}</label>
          <input type="email" value="" name="email" id="RecoverEmail" class="input-full" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off">

          <p>
            <input type="submit" class="btn btn--full" value="{{ 'customer.recover_password.submit' | t }}">
          </p>
          <button type="button" id="HideRecoverPasswordLink" class="text-link">{{ 'customer.recover_password.cancel' | t }}</button>
        {% endform %}
      </div>

    </div>

    {% comment %}
      If accounts are set as optional, the following will be shown as an option
      during checkout, not on the default /login page.
    {% endcomment %}
    {% if shop.checkout.guest_login %}
      <hr>

      <h2>{{ 'customer.login.guest_title' | t }}</h2>

      {% form 'guest_login' %}
        <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
      {% endform %}
    {% endif %}

  </div>

</div>
{% endcomment %}

<div class="modal-wrapper js-modal" id="reset-password">
{% form 'recover_customer_password' %}
{{ form.errors | default_errors }}

          {% if form.posted_successfully? %}
            {% assign resetPassword = true %}
          {% endif %}

	<div class="modal-overlay js-modal-overlay"></div>
	<div class="modal modal--reset-password modal--mobile-overlay">
		<div class="modal__inner">
			<div class="reset-password">
				<div class="reset-password__content">
					<h4 class="login-form__title">
							Reset password</h4>
						<p class="login-form__description">
							Enter the email address associated with your account in order to receive instructions on how to reset your password.</p>
						<div class="login-form__form-items">
							<div
								class="form-item form-item--email form-item--reset-password-email">
          <label for="RecoverEmail" class="hidden-label">{{ 'customer.recover_password.email' | t }}</label>
          <input type="email" value="" name="email" id="RecoverEmail" class="input-full" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off">

							</div>
						</div>
						<div class="login-form__actions">
							<button class="button button--primary" id="emailButton">
								Send Email</button>
						</div>
          <p>
            <input type="submit" class="btn btn--full" value="{{ 'customer.recover_password.submit' | t }}">
          </p>
          <button type="button" id="HideRecoverPasswordLink" class="text-link">{{ 'customer.recover_password.cancel' | t }}</button>
        {% endform %}
			</div>
		</div>
	</div>
</div>
<script>
jQuery(document).ready(function(){
  jQuery('form#create_customer').validate({
			errorClass: 'input-error',
			errorPlacement: function( error, element ) {
				element.closest('.form-item').addClass('form-item--error').append(error);
			}

  });
});
</script>