<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
  <meta name="referrer" content="origin">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <title>Wayfire - {{ page_title }}</title>
  {{ content_for_header }}

  {{ checkout_stylesheets }}



  {{ checkout_scripts }}
  <script>
    var opcLang = {
      completeOrder: "Complete order",
      payment: "Payment",
      shippingMethod: "Shipping method",
      secureCheckout: "Secure Checkout",
      paymentNotice: "Please choose shipping in previous step to show payment methods",
      shippingNotice: "Please submit shipping information in previous step to show shipping methods",
      upsellTitle: "Would you like also this? (optional)",
      upsellAdded: "Product has been successfully added to checkout"
    };
  </script>
  <!--MB_OPC-->
  <script>
    if (window.location.pathname == '/singlepagecheckout') {
      document.title = 'Secure checkout';
      var css = 'body > :not(#cartLoader) {display:none !important}',
        head = document.head || document.getElementsByTagName('head')[0],
        style = document.createElement('style');
      head.appendChild(style);
      style.appendChild(document.createTextNode(css));
      var svg =
        "<svg style='position:fixed;top:100px;left:50%;margin-left:-100px;' width='200px'  height='200px'  xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid' class='lds-rolling' style='background: none;'><circle cx='50' cy='50' fill='none' ng-attr-stroke='' ng-attr-stroke-width='' ng-attr-r='' ng-attr-stroke-dasharray='' stroke='#197bbd' stroke-width='2' r='15' stroke-dasharray='70.68583470577033 25.561944901923447' transform='rotate(243.197 50 50)'><animateTransform attributeName='transform' type='rotate' calcMode='linear' values='0 50 50;360 50 50' keyTimes='0;1' dur='1s' begin='0s' repeatCount='indefinite'></animateTransform></circle></svg>";
      document.open();
      document.write("<!doctype ht" + "ml><ht" + "ml><bo" +
        "dy><div id='cartLoader' style='min-height:600px;width:100%;text-align:center;background-color: rgba(255, 255, 255, .5);position:absolute;z-index:9999999999'>" +
        svg + "</div></b" + "ody></ht" + "ml>");
      document.close();
    }
    var opcSettings = {
      checkoutUrl: 'singlepagecheckout',
      enabled: true,
      design: 3,
      skipCart: false,
      oneClickBuy: true,
      customJsFile: '',
      customCssFile: '',
      btnSelector: '',
      enablePopup: false,
      popupHtml: "",
      popupBkg: '#ffffff',
      pageSetupCompleted: false
    };
    var opcLang = {
      completeOrder: "Complete order",
      payment: "Payment",
      shippingMethod: "Shipping method",
      secureCheckout: "Secure Checkout",
      paymentNotice: "Please choose shipping in previous step to show payment methods",
      shippingNotice: "Please submit shipping information in previous step to show shipping methods",
      upsellTitle: "Would you like also this? (optional)",
      upsellAdded: "Product has been successfully added to checkout"
    };
  </script>
  <!--MB_OPC-->
  <script>
    Shopify = window.Shopify || {};
    ShopifyExperiments = window.ShopifyExperiments || {};
    //Shopify.Checkout = Shopify.Checkout || {};
    Shopify.Checkout.Autocomplete = false;
    Shopify.Checkout.apiHost = "wayfire.myshopify.com/";
    Shopify.Checkout.assetsPath = "\/\/cdn.shopify.com\/s";
    Shopify.Checkout.DefaultAddressFormat =
      "{firstName}{lastName}_{company}_{address1}_{address2}_{city}_{country}{province}{zip}_{phone}";
    // Shopify.Checkout.geolocatedAddress = { "lat": 19.455900000000014, "lng": 72.81139999999999 };
    Shopify.Checkout.i18n = {
      "orders": {
        "order_updates": {
          "title": "Order updates"
        },
        "complete_order": "Complete order",
        "pay_now": "Pay now"
      },
      "shipping_line": {
        "pickup_in_store_label": "Pickup",
        "no_pickup_location": "Your order isn't available for pickup. Enter a shipping address.",
        "shipping_label": "Shipping",
        "shipping_default_value": "Calculated at next step",
        "shipping_free_value": "Free"
      },
      "continue_button": {
        "continue_to_shipping_method": "Continue to shipping",
        "continue_to_payment_method": "Continue to payment"
      }
    };
    // Shopify.Checkout.locale = "en";
    // Shopify.Checkout.normalizedLocale = "en";
    // Shopify.Checkout.page = "show";
    // Shopify.Checkout.releaseStage = "production";
    // Shopify.Checkout.requiresShipping = true;
    // Shopify.Checkout.step = "contact_information";
    // Shopify.currency = {"active":"USD","rate":"1.0"}
    // Shopify.Checkout.dynamicCheckoutPaymentInstrumentsConfig = { "paymentInstruments": { "accessToken": "4981ea82a545f8fa39c7802dbbb6f2c9", "amazonPayConfig": null, "applePayConfig": null, "checkoutConfig": { "domain": "onepage-checkout.myshopify.com", "shopId": 5223776291 }, "shopifyPayConfig": null, "currency": "EUR", "googlePayConfig": null, "locale": "en", "paypalConfig": null, "offsiteConfigs": null, "supportsDiscounts": true, "supportsGiftCards": false, "checkoutDisabled": false } };
    ShopifyExperiments.AutocompleteServiceApiHost = "https:\/\/autocomplete-service.shopifycloud.com";
    ShopifyExperiments.googleAutocompleteAllCountries = false;
    ShopifyPay.enabled = false;
    ShopifyPay.apiHost = "pay.shopify.com";
    ShopifyPay.transactionParams = null;
    ShopifyPay.signUpButtonEnabled = false;
  </script>
  <style>
    .step_note {
      padding-top: 15px;
    }

    .section__title .step_icon {
      margin-bottom: -5px;
      margin-left: 5px
    }

    .checkout--active {
      opacity: 1;
    }

    .checkout--inactive {
      opacity: 1;
    }

    .checkout--inactive:hover {
      opacity: 1;
    }

    .checkout--active .content-box,
    .section:hover .content-box {
      background: #fff;
      box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.10);
    }

    .section--remember-me {
      display: none;
    }

    .spc .content-box {
      /* border: 0 none */
    }

    .spc .content-box .content-box__row {
      /* padding: 0 */
    }

    .spc .content-box .review-block__inner {
      display: block;
    }

    .spc .content-box .content-box__row .review-block__label {
      color: #333333;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
      font-size: 1.2857142857em;
      line-height: 1.3em;
      font-weight: 500;
    }

    .field__input.error {
      border-color: red;
    }

    .section__title {
      font-weight: 500;
      text-transform: uppercase;
      font-size: 1.34em;
    }

    .section__content {
      margin-top: 10px;
    }

    label.error {
      color: red;
      display: inline-block;
      margin-top: 5px;
      font-size: 0.8rem;
    }

    .main .field__input.valid {
      border-color: #2ecc71 !important;
    }

    button[disabled],
    input[disabled],
    button[disabled]:hover,
    input[disabled]:hover {
      background-color: #d4d4d4 !important;
      color: #fff;
    }

    .content-box__emphasis {
      font-size: 1.3em;
    }

    .section.section--shipping-method span.radio__label__primary span.small-text {
      color: #666;
    }

    @media (min-width: 1000px) {
      .section__text {
        margin-top: 0.25em;
        font-size: 12px;
        color: #666;
      }

      .step__footer__previous-link,
      .payment-method-wrapper .radio__label__accessory {
        display: none;
      }

      .step__footer {
        clear: both;
      }

      .section--remember-me .section__header {
        margin-bottom: 0.5em;
      }

      .floating-labels .field--half {
        width: 100%;
      }
    }

    .spc .leftCol .step__footer {
      display: none;
    }
    .order-summary-toggle {
      display: none;
    }

    #show{
      display:block;
      z-index:1000 !important;
    }

    .left-discount .order-summary__section,
    .left-discount {
      margin: 1em 0;
    }

    @media (max-width: 999px){
      .order-summary__section--discount {
        display: block;
        width: 100%;
      }
      .order-summary--is-collapsed {
        height: auto !important;
        visibility: visible !important;
      }
      #show{
        width:100%;
      }
    }
  </style>
</head>

<body>
  {{ skip_to_content_link }}

  <div class="banner" data-header>
    <div class="wrap">
      {{ content_for_logo }}
    </div>
  </div>

  {{ order_summary_toggle }}

  <div class="content checkout-liquid" data-content>
    <div class="wrap">
      <div class="main" role="main">
        <div class="main__header">
          {{ content_for_logo }}
          {{ breadcrumb }}

          {{ alternative_payment_methods }}
        </div>
        <div class="main__content">
          {{ content_for_layout }}
          <div class="step_note" style="clear: both">
            <p>*Please allow extra time for processing and shipping. ALL SALE ITEMS ARE FINAL.<br>
              **To prevent delays, please ensure that all above information has been entered correctly before
              proceeding. </p>
          </div>
        </div>
        <div class="main__footer">
          {{ content_for_footer }}
        </div>
      </div>
      <div class="sidebar" role="complementary">
        <div class="sidebar__header">
          {{ content_for_logo }}
        </div>
        <div class="sidebar__content">
          {{ content_for_order_summary }}
        </div>
      </div>
    </div>
  </div>
  {{ tracking_code }}
  {% section 'single-page-checkout' %}
  <!-- {{ '//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js' | script_tag }}
    {{ 'modernizr.min.js' | asset_url | script_tag }}
    {{ 'jquery.validate.min-1.17.js' | asset_url | script_tag }}
    {{ 'additional-methods-1.17.min.js' | asset_url | script_tag }}
    {{ 'script26.js' | asset_url | script_tag }} -->
  <script>
    // let currentLocation = window.location;
    // if (Shopify.Checkout.step == "contact_information"){
    //   document.querySelector("#show").style.display = "none";
    // } else {
    //   document.querySelector("#show").style.display = "block";
    // }
  </script>
</body>

</html>