<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121246450-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121246450-1');
</script>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- CSS ================================================== -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'https://use.fontawesome.com/releases/v5.0.13/css/all.css' | stylesheet_tag }}
  {{ 'https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css' | stylesheet_tag }}
  {{ 'https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css' | stylesheet_tag }}
  {% comment %} {{ 'global-mauijim.css' | asset_url | stylesheet_tag }} {% endcomment %}
  {{ 'mj-custom.scss.css' | asset_url | stylesheet_tag }}
  {{ 'products-mauijim.scss.css' | asset_url | stylesheet_tag }}
  {{ 'shoping-cart.scss.css' | asset_url | stylesheet_tag }}
  {{ 'account-pages.scss.css' | asset_url | stylesheet_tag }}
  {{ 'srp-temp.css' | asset_url | stylesheet_tag }}
  <!-- Header hook for plugins ================================================== -->
  {% include 'buddha-megamenu-before' %}
  {% include 'buddha-megamenu' %}
  {{ content_for_header }}
  {% include 'oldIE-js' %}
 
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}
  {{ 'jquery.validate.min-1.17.js' | asset_url | script_tag }}
  {{ 'additional-methods-1.17.min.js' | asset_url | script_tag }}
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'lazysizes.min.js' | asset_url }}"></script><![endif]-->


  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

	{% include 'rfq_script' %}
  <!--MB_OPC-->
<script>     
  opcSettings = window.opcSettings || {};
  opcSettings = {checkoutUrl : 'singlepagecheckout', enabled : true, design : 3, skipCart : false, oneClickBuy : true, customJsFile : '', customCssFile : '', btnSelector : '', enablePopup: false, popupHtml : "",popupBkg : '#ffffff',upsells : [{"priority":1,"trigger":"1882703527971","products":"15616597983267"}],boosters : {"booster1":"0","booster1_text":"","booster1_text2":"","booster1_min":"0","booster2":"0","booster3":"0","booster3_heading":"","booster3_title1":"","booster3_text1":"","booster3_img1":"","booster3_title2":"","booster3_text2":"","booster3_img2":"","booster3_title3":"","booster3_text3":"","booster3_img3":"","booster3_title4":"","booster3_text4":"","booster3_img4":"","booster4":"0","booster4_img":""}};
  if(window.location.pathname=='/singlepagecheckout'){
    document.title = 'Secure checkout';
    var css = 'body > :not(#cartLoader) {display:none !important}',head = document.head || document.getElementsByTagName('head')[0],style = document.createElement('style');  
    head.appendChild(style);style.appendChild(document.createTextNode(css));        
    var svg = "<svg style='position:fixed;top:100px;left:50%;margin-left:-100px;' width='200px'  height='200px'  xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid' class='lds-rolling' style='background: none;'><circle cx='50' cy='50' fill='none' ng-attr-stroke='' ng-attr-stroke-width='' ng-attr-r='' ng-attr-stroke-dasharray='' stroke='#197bbd' stroke-width='2' r='15' stroke-dasharray='70.68583470577033 25.561944901923447' transform='rotate(243.197 50 50)'><animateTransform attributeName='transform' type='rotate' calcMode='linear' values='0 50 50;360 50 50' keyTimes='0;1' dur='1s' begin='0s' repeatCount='indefinite'></animateTransform></circle></svg>";
    document.open();document.write("<!doctype ht"+"ml><ht"+"ml><bo"+"dy><div id='cartLoader' style='min-height:600px;width:100%;text-align:center;background-color: rgba(255, 255, 255, .5);position:absolute;z-index:9999999999'>"+svg+"</div></b"+"ody></ht"+"ml>");document.close();                
  }
  var opcLang = {completeOrder : "Complete order", payment : "Payment", shippingMethod : "Shipping method", secureCheckout : "Secure Checkout", paymentNotice : "Please choose shipping in previous step to show payment methods",shippingNotice : "Please submit shipping information in previous step to show shipping methods",upsellTitle : "Would you like also this? (optional)",upsellAdded : "Product has been successfully added to checkout"};
  </script>
  <!--MB_OPC-->
  <script>
    Shopify = window.Shopify || {};
    ShopifyExperiments = window.ShopifyExperiments || {};
    Shopify.Checkout = Shopify.Checkout || {};
    Shopify.Checkout.Autocomplete = false;
    Shopify.Checkout.apiHost = "wayfire.myshopify.com/";
    Shopify.Checkout.assetsPath = "\/\/cdn.shopify.com\/s";
    Shopify.Checkout.DefaultAddressFormat = "{firstName}{lastName}_{company}_{address1}_{address2}_{city}_{country}{province}{zip}_{phone}";
    Shopify.Checkout.geolocatedAddress = { "lat": 19.455900000000014, "lng": 72.81139999999999 };
    Shopify.Checkout.i18n = { "orders": { "order_updates": { "title": "Order updates" }, "complete_order": "Complete order", "pay_now": "Pay now" }, "shipping_line": { "pickup_in_store_label": "Pickup", "no_pickup_location": "Your order isn't available for pickup. Enter a shipping address.", "shipping_label": "Shipping", "shipping_default_value": "Calculated at next step", "shipping_free_value": "Free" }, "continue_button": { "continue_to_shipping_method": "Continue to shipping", "continue_to_payment_method": "Continue to payment" } };
    Shopify.Checkout.locale = "en";
    Shopify.Checkout.normalizedLocale = "en";
    Shopify.Checkout.page = "show";
    Shopify.Checkout.releaseStage = "production";
    Shopify.Checkout.requiresShipping = true;
    Shopify.Checkout.step = "contact_information";
    Shopify.currency = {"active":"USD","rate":"1.0"}
    Shopify.Checkout.dynamicCheckoutPaymentInstrumentsConfig = { "paymentInstruments": { "accessToken": "4981ea82a545f8fa39c7802dbbb6f2c9", "amazonPayConfig": null, "applePayConfig": null, "checkoutConfig": { "domain": "onepage-checkout.myshopify.com", "shopId": 5223776291 }, "shopifyPayConfig": null, "currency": "EUR", "googlePayConfig": null, "locale": "en", "paypalConfig": null, "offsiteConfigs": null, "supportsDiscounts": true, "supportsGiftCards": false, "checkoutDisabled": false } };
    ShopifyExperiments.AutocompleteServiceApiHost = "https:\/\/autocomplete-service.shopifycloud.com";
    ShopifyExperiments.googleAutocompleteAllCountries = false;
    ShopifyPay.enabled = false;
    ShopifyPay.apiHost = "pay.shopify.com";
    ShopifyPay.transactionParams = null;
    ShopifyPay.signUpButtonEnabled = false;
  </script>
</head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
  {% comment %} {% include 'buddha-megamenu-wireframe' %} {% endcomment %}
  {% include 'mj-header' %}
  {% comment %} {% section 'single-image-banner' %} {% endcomment %}
  <main class="main u-page-width-max" role="main">
   {{ content_for_layout }}
  </main>
  <!-- Best Selling products -->
  {% comment %} {% section 'hello-world' %} {% endcomment %}
  <!-- Best Selling products -->
  <!-- Bottom subscription section -->
  {% section 'bottom-newsletter-form' %}
  <!-- Global footer section -->
  {% section 'footer' %}
  {% comment %} {% section 'footer' %} {% endcomment %}
  <!-- end site-footer -->
  {{ 'app.js' | asset_url | script_tag }}
  {{ 'https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js' | script_tag }}
  {{ 'fastclick.min.js' | asset_url | script_tag }}
  {{ 'timber.js' | asset_url | script_tag }}

  {% comment %}
    Template-specific js
  {% endcomment %}
  <script>
    {% if resetPassword %}
      $(function() {
        timber.resetPasswordSuccess();
      });
    {% endif %}
  </script>

  {% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
      - http://shopify.com/timber#ajax-cart
  {% endcomment %}
  {% if settings.ajax_cart_method == "drawer" %}
    {{ 'handlebars.min.js' | asset_url | script_tag }}
    {% comment %} called in mj-header {% include 'ajax-cart-template' %} {% endcomment %}
    {{ 'ajax-cart.js' | asset_url | script_tag }}
    <script>
    if ((typeof ShopifyAPI) === 'undefined') { ShopifyAPI = {}; }
      jQuery(function($) {
        ajaxCart.init({
          formSelector: '#AddToCartForm',
          cartContainer: '#CartContainer',
          addToCartSelector: '#AddToCart',
          cartCountSelector: '#CartCount',
          cartCostSelector: '#CartCost',
          moneyFormat: {{ shop.money_format | json }}
        });
        
      });
      jQuery(document).on('click','.header__icon--cart',function(){
        ajaxCart.load();
        //window.componentEvents.emitEvent('open-cart-flyout');
      });
      jQuery(document.body).on('afterCartLoad.ajaxCart', function(evt, cart) {
        console.log('afterCartLoad.ajaxCart  ' + evt + ' ' + cart);
        // Bind to 'afterCartLoad.ajaxCart' to run any javascript after the cart has loaded in the DOM
        //timber.RightDrawer.open();
        window.componentEvents.emitEvent('open-cart-flyout');
      });

      jQuery(document.body).on('afterCartLoad.ajaxCart', function(evt, cart) {
        
      });
    </script>
  {% endif %}

  <script type="text/javascript">
    jQuery(function($) {
      jQuery('.owl-carousel').owlCarousel({
        margin:10,
        center:true,
        stagePadding:5,
        nav:true,
        autoplay:true,
      });
    });
  </script>
  <script>
  /* Product Tag Filters - Good for any number of filters on any type of collection pages */
  var collFilters = jQuery('.coll-filter');
  collFilters.change(function() {
    var newTags = [];
    collFilters.each(function() {
      if (jQuery(this).val()) {
        newTags.push(jQuery(this).val());
      }
    });
    if (newTags.length) {
      var query = newTags.join('+');
      window.location.href = jQuery('{{ 'tag' | link_to_tag: 'tag' }}').attr('href').replace('/' + 'tag', '/' + query);
    }
    else {
      {% if collection.handle %}
      window.location.href = '/collections/{{ collection.handle }}';
      {% elsif collection.products.first.type == collection.title %}
      window.location.href = '{{ collection.title | url_for_type }}';
      {% elsif collection.products.first.vendor == collection.title %}
      window.location.href = '{{ collection.title | url_for_vendor }}';
      {% endif %}
    }
  });
</script>
<?xml version="1.0" encoding="utf-8"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="hide"><symbol viewBox="0 0 30 30" id="account" xmlns="http://www.w3.org/2000/svg"><path d="M15 0C6.7 0 0 6.7 0 15c0 4.4 2 8.6 5.4 11.5C8 28.8 11.5 30 15 30s7-1.2 9.6-3.5C28 23.6 30 19.4 30 15c0-8.3-6.7-15-15-15zm-1.2 29h-.4c-.3 0-.5-.1-.8-.1-.2 0-.3-.1-.5-.1s-.5-.1-.7-.2c-.2 0-.3-.1-.5-.1-.2-.1-.4-.1-.7-.2-.2-.1-.3-.1-.5-.2l-.6-.3c-.2-.1-.3-.1-.5-.2l-.6-.3c0-.1-.1-.2-.3-.3-.2-.1-.4-.2-.6-.4-.1-.1-.3-.2-.4-.3-.1-.1-.2-.1-.3-.2.3-.2.7-.5 1.1-.7 1.9-1.2 4-1.9 4.7-2 1.6-.4 1.7-1.5 1.6-2.2 0-.2-.2-.3-.3-.4-1.2-.4-2.1-1.7-2.4-3.5 0-.2-.2-.4-.5-.4-.1 0-.3-.2-.5-.6-.2-.6-.2-1.4.2-1.7.1-.1.2-.2.2-.4v-.4c-.1-1-.4-3.3.9-4.8.7-.8 1.9-1.3 3.5-1.3s2.8.4 3.5 1.3c1.3 1.4 1 3.8.9 4.8v.4c0 .2.1.3.2.4.4.3.4 1.1.2 1.7-.1.4-.4.6-.5.6-.2 0-.4.2-.5.4-.3 1.9-1.2 3.2-2.4 3.5-.2.1-.3.2-.3.4-.1.6 0 1.8 1.7 2.2.8.1 2.8.8 4.7 2 .4.2.7.5 1.1.7-.1.1-.2.1-.3.2-.1.1-.3.2-.4.3-.2.1-.4.2-.6.4-.1.1-.3.2-.5.3l-.6.3c-.2.1-.3.2-.5.2l-.6.3c-.2.1-.3.1-.5.2s-.4.1-.7.2c-.2 0-.3.1-.5.1-.2.1-.5.1-.7.2-.2 0-.3.1-.5.1-.3 0-.5.1-.8.1h-2.5zm10.5-3.5c-.4-.3-.8-.6-1.3-.9-1.9-1.1-4.1-2-5-2.2-.7-.2-.9-.5-.9-.8 1.3-.6 2.3-1.9 2.7-3.9.4-.2.8-.6 1-1.2.3-.8.3-1.9-.3-2.6v-.1c.1-1 .4-3.7-1.2-5.5-.9-1-2.4-1.6-4.2-1.6s-3.3.5-4.2 1.6c-1.6 1.8-1.3 4.5-1.2 5.5v.1c-.7.8-.7 1.9-.4 2.7.2.6.6 1 1 1.2.4 1.9 1.3 3.3 2.7 3.9 0 .3-.2.6-.9.8-1 .2-3.2 1-5.1 2.2-.5.3-.9.6-1.3.9C2.7 22.8 1 19 1 15 1 7.3 7.3 1 15 1s14 6.3 14 14c0 4-1.7 7.8-4.7 10.5z"/></symbol><symbol viewBox="0 0 30 30" id="account-active" xmlns="http://www.w3.org/2000/svg"><path d="M15 0C6.7 0 0 6.7 0 15c0 4.4 2 8.6 5.4 11.5C8 28.8 11.5 30 15 30s7-1.2 9.6-3.5C28 23.6 30 19.4 30 15c0-8.3-6.7-15-15-15zm9.3 25.5c-.4-.3-.8-.6-1.3-.9-1.9-1.1-4.1-2-5-2.2-.7-.2-.9-.5-.9-.8 1.3-.6 2.3-1.9 2.7-3.9.4-.2.8-.6 1-1.2.3-.8.3-1.9-.3-2.6v-.1c.1-1 .4-3.7-1.2-5.5-.9-1-2.4-1.6-4.2-1.6s-3.3.5-4.2 1.6c-1.6 1.8-1.3 4.5-1.2 5.5v.1c-.7.8-.7 1.9-.4 2.7.2.6.6 1 1 1.2.4 1.9 1.3 3.3 2.7 3.9 0 .3-.2.6-.9.8-1 .2-3.2 1-5.1 2.2-.5.3-.9.6-1.3.9C2.7 22.8 1 19 1 15 1 7.3 7.3 1 15 1s14 6.3 14 14c0 4-1.7 7.8-4.7 10.5z"/></symbol><symbol viewBox="0 0 11 13" id="action-location" xmlns="http://www.w3.org/2000/svg"><path d="M5.5 13c-.1 0-.1 0-.2-.1-.2-.1-5-3.6-5-7.5C.4 2.3 2.6 0 5.5 0s5.1 2.3 5.1 5.4c0 3.9-4.8 7.4-5 7.5 0 .1 0 .1-.1.1zM5.5.5C2.9.5.9 2.6.9 5.4c0 3.2 3.8 6.3 4.6 7 .8-.6 4.6-3.7 4.6-7 0-2.8-2-4.9-4.6-4.9z"/><path d="M5.5 8.1c-1.6 0-3-1.3-3-3s1.3-3 3-3c1.6 0 3 1.3 3 3s-1.4 3-3 3zm0-5.4c-1.3 0-2.4 1.1-2.4 2.4s1.1 2.4 2.4 2.4 2.4-1.1 2.4-2.4-1.1-2.4-2.4-2.4z"/></symbol><symbol viewBox="0 0 14 9" id="action-mail" xmlns="http://www.w3.org/2000/svg"><path d="M12.9 8.8H2.1c-.6 0-1.1-.5-1.1-1V1.2C1 .6 1.5.1 2.1.1h10.8c.6 0 1.1.5 1.1 1.1v6.5c0 .6-.5 1.1-1.1 1.1zM2.1.7c-.3 0-.6.3-.6.5v6.5c0 .3.2.5.5.5h10.8c.3 0 .5-.2.5-.5V1.2c0-.3-.2-.5-.5-.5H2.1z"/><path d="M7.5 5.9c-.1 0-.1 0 0 0l-4.7-3c-.2-.1-.2-.3-.1-.4 0-.2.2-.2.3-.1l4.5 2.9L12 2.4c.1-.1.3 0 .4.1.1.1 0 .3-.1.4l-4.6 3c-.1-.1-.1 0-.2 0zM2.9 6.9c-.1 0-.2 0-.2-.1-.1-.1 0-.3.1-.4l1.9-1.1c.1 0 .3 0 .3.1.1.1 0 .3-.1.4l-2 1.1zM12.1 6.9H12l-1.9-1.1c-.2-.1-.2-.2-.1-.4 0-.1.2-.1.3-.1l1.9 1.1c.1.1.2.2.1.4 0 .1-.1.1-.2.1z"/></symbol><symbol viewBox="0 0 13 13" id="action-phone" xmlns="http://www.w3.org/2000/svg"><path d="M10.2 13c-.4 0-.9-.1-1.2-.4C5.6 10.4 2.7 7.4.4 4c-.6-.8-.5-2 .3-2.8l.8-.8c.6-.6 1.6-.6 2.2 0l1.4 1.4c.6.6.6 1.6 0 2.2l-.3.4c1.1 1.4 2.5 2.7 3.8 3.8l.3-.2c.3-.3.7-.5 1.1-.5.4 0 .8.2 1.1.5l1.4 1.4c.3.2.5.6.5 1.1 0 .4-.2.8-.5 1.1l-.8.8c-.4.4-.9.6-1.5.6zM2.5.6c-.2 0-.5.1-.7.3l-.7.7C.5 2.2.4 3.1.8 3.7 3 7.1 5.9 10 9.3 12.2c.7.4 1.6.3 2.1-.2l.8-.8c.2-.2.3-.5.3-.7 0-.3-.1-.5-.3-.7l-1.4-1.4c-.2-.2-.5-.3-.7-.3-.3 0-.5.1-.7.3l-.6.4c-.1.1-.3.1-.4 0-1.5-1.3-3-2.7-4.3-4.3-.1-.1-.1-.3 0-.4l.5-.5c.4-.4.4-1 0-1.4L3.3.9C3.1.7 2.8.6 2.5.6zm2.4 3.3z"/></symbol><symbol viewBox="0 0 17 25" id="angle-right" xmlns="http://www.w3.org/2000/svg"><path d="M16.8 12.1L3.5.6C3.4.5 3.3.5 3.2.5c-.2 0-.3.1-.4.2L.6 3.3c-.1.1-.1.2-.1.3 0 .1.1.3.2.3l10.1 8.5L.7 21c-.1.1-.2.2-.2.3 0 .1 0 .3.1.4l2.2 2.6c.1.1.2.2.3.2.1 0 .2 0 .3-.1l13.3-11.5c.1-.1.2-.2.2-.4s0-.3-.1-.4z"/></symbol><symbol viewBox="0 0 11 5" id="arrow-down" xmlns="http://www.w3.org/2000/svg"><path d="M0 .7C0 .6 0 .5.1.4.3.2.6.1.8.3l4.7 3.4L10.2.3c.2-.2.5-.1.7.1.2.3.1.6-.1.7l-5 3.6c-.2.1-.4.1-.6 0l-5-3.6C.1 1 0 .9 0 .7z"/></symbol><symbol viewBox="0 0 5 11" id="arrow-left" xmlns="http://www.w3.org/2000/svg"><path d="M4.3 0c.1 0 .2 0 .3.1.2.2.3.5.1.7L1.3 5.5l3.4 4.7c.2.2.1.5-.1.7-.3.2-.6.1-.7-.1l-3.6-5c-.1-.2-.1-.4 0-.6l3.6-5c.1-.1.2-.2.4-.2z"/></symbol><symbol viewBox="0 0 5 11" id="arrow-right" xmlns="http://www.w3.org/2000/svg"><path d="M.7 11c-.1 0-.2 0-.3-.1-.2-.2-.3-.5-.1-.7l3.4-4.7L.3.8C.1.6.2.3.4.1c.3-.2.6-.1.7.1l3.6 5c.1.2.1.4 0 .6l-3.6 5c-.1.1-.2.2-.4.2z"/></symbol><symbol viewBox="0 0 11 5" id="arrow-up" xmlns="http://www.w3.org/2000/svg"><path d="M11 4.3c0 .1 0 .2-.1.3-.2.2-.5.3-.7.1L5.5 1.3.8 4.7c-.2.2-.5.1-.7-.1-.2-.3-.1-.6.1-.7l5-3.6c.2-.1.4-.1.6 0l5 3.6c.1.1.2.2.2.4z"/></symbol><symbol viewBox="0 0 22 20" id="binoculars" xmlns="http://www.w3.org/2000/svg"><path d="M20.9 12.1l-2.7-6.3c0-.1-.1-.1-.1-.1l-1.3-1.3L15.5.9c0-.1-.1-.1-.1-.2-.8-.8-2.5-.8-3.4 0 0 .1-.1.2-.1.3v3.6c0 .3.2.5.5.5s.5-.2.5-.5V1.2c.5-.4 1.4-.3 1.9.1L16 4.7c0 .1.1.1.1.2l1.3 1.3 1.9 4.5c-.7-.4-1.6-.6-2.4-.6-1.7 0-3.2.8-4.1 2.1v-5c.8.3 1.4.7 1.4 1.1 0 .3.2.5.5.5s.5-.2.5-.5C15.2 7 13.4 6 11.1 6S7 7 7 8.3c0 .3.2.5.5.5s.5-.2.5-.5c0-.4.5-.8 1.4-1.1v5C8.3 10.9 6.8 10 5.1 10c-.9 0-1.7.2-2.4.6l1.9-4.5 1.3-1.3s.1-.1.1-.2l1.3-3.5C7.8.7 8.7.7 9.2 1v3.4c0 .4.2.6.4.6.3 0 .5-.2.5-.5V1c0-.1 0-.2-.1-.3-.8-.8-2.5-.8-3.4 0 0 0-.1.1-.1.2L5.2 4.3 3.9 5.6l-.1.1L1.1 12c-.6.8-1 1.8-1 2.9 0 2.8 2.2 5 5 5s5-2.2 5-5v-8c.3 0 .6-.1.9-.1s.6 0 .9.1V15c0 2.8 2.2 5 5 5s5-2.2 5-5c0-1.1-.4-2.1-1-2.9zm-15.8 7C2.8 19.1 1 17.3 1 15s1.8-4.1 4.1-4.1 4.1 1.8 4.1 4.1-1.8 4.1-4.1 4.1zm11.8 0c-2.3 0-4.1-1.8-4.1-4.1s1.8-4.1 4.1-4.1S21 12.8 21 15s-1.8 4.1-4.1 4.1z"/><path d="M5.1 11.8c-1.8 0-3.2 1.4-3.2 3.2 0 .3.2.5.5.5s.5-.2.5-.5c0-1.3 1-2.3 2.3-2.3.3 0 .5-.2.5-.5s-.4-.4-.6-.4zM16.9 11.8c-1.8 0-3.2 1.4-3.2 3.2 0 .3.2.5.5.5s.5-.2.5-.5c0-1.3 1-2.3 2.3-2.3.3 0 .5-.2.5-.5s-.3-.4-.6-.4z"/></symbol><symbol viewBox="0 0 30 30" id="cart" xmlns="http://www.w3.org/2000/svg"><path d="M29.4 1.6H25c-.2 0-.4.2-.5.4l-1.7 7.1H.6c-.2 0-.3.1-.4.2-.1.2-.1.3 0 .5L4 21c.1.2.3.3.5.3H20l-.4 1.5H6.2c-1.3 0-2.4 1.1-2.4 2.4s1.1 2.4 2.4 2.4 2.4-1.1 2.4-2.4c0-.5-.2-1-.4-1.4h9.9c-.3.4-.4.9-.4 1.4 0 1.3 1.1 2.4 2.4 2.4s2.4-1.1 2.4-2.4c0-1.1-.8-2-1.8-2.3l4.8-20.3h4c.3 0 .5-.2.5-.5s-.3-.5-.6-.5zM4.7 20.4L1.3 10.1h21.3l-2.4 10.2H4.7v.1zm2.9 4.9c0 .8-.6 1.4-1.4 1.4s-1.4-.6-1.4-1.4.6-1.4 1.4-1.4 1.4.6 1.4 1.4zm13.8 0c0 .8-.6 1.4-1.4 1.4s-1.4-.6-1.4-1.4.6-1.4 1.4-1.4 1.4.6 1.4 1.4z"/></symbol><symbol viewBox="0 0 30 30" id="cart-item" xmlns="http://www.w3.org/2000/svg"><path d="M29.4 1.6H25c-.2 0-.4.2-.5.4l-1.7 7.1H19v1h3.6l-2.4 10.2H4.7v.1L1.3 10.1H7v-.6-.4H.6c-.2 0-.3.1-.4.2-.1.2-.1.3 0 .5L4 21c.1.2.3.3.5.3H20l-.4 1.5H6.2c-1.3 0-2.4 1.1-2.4 2.4s1.1 2.4 2.4 2.4 2.4-1.1 2.4-2.4c0-.5-.2-1-.4-1.4h9.9c-.3.4-.4.9-.4 1.4 0 1.3 1.1 2.4 2.4 2.4s2.4-1.1 2.4-2.4c0-1.1-.8-2-1.8-2.3l4.8-20.3h4c.3 0 .5-.2.5-.5s-.3-.5-.6-.5zM6.2 26.7c-.8 0-1.4-.6-1.4-1.4s.6-1.4 1.4-1.4 1.4.6 1.4 1.4-.6 1.4-1.4 1.4zm15.2-1.4c0 .8-.6 1.4-1.4 1.4s-1.4-.6-1.4-1.4.6-1.4 1.4-1.4 1.4.6 1.4 1.4z"/><path fill="currentColor" d="M13 4.5c2.8 0 5 2.2 5 5s-2.2 5-5 5-5-2.2-5-5 2.2-5 5-5z"/></symbol><symbol viewBox="0 0 18 18" id="check-circle" xmlns="http://www.w3.org/2000/svg"><path d="M7.3 11.8c-.1 0-.3 0-.4-.1L5.3 10c-.2-.2-.2-.5 0-.7s.5-.2.7 0l1.3 1.3L12 6.3c.2-.2.5-.2.7 0 .2.2.2.5 0 .7l-5 4.7c-.1.1-.2.1-.4.1z"/><path d="M9 17.2C4.5 17.2.8 13.5.8 9S4.5.8 9 .8s8.2 3.7 8.2 8.2-3.7 8.2-8.2 8.2zM9 1.8C5 1.8 1.8 5 1.8 9S5 16.2 9 16.2 16.2 13 16.2 9 13 1.8 9 1.8z"/></symbol><symbol viewBox="0 0 16 16" id="checkmark" xmlns="http://www.w3.org/2000/svg"><path d="M5.1 15.7c-.3 0-.5-.1-.7-.3L.6 11.6c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l3 3L13.9.7c.3-.4.9-.6 1.4-.2.4.3.6.9.2 1.4L5.9 15.3c-.2.2-.4.4-.8.4z"/></symbol><symbol viewBox="0 0 22 22" id="clock" xmlns="http://www.w3.org/2000/svg"><path d="M11 .5C5.207.5.5 5.207.5 11S5.207 21.5 11 21.5 21.5 16.793 21.5 11 16.793.5 11 .5zm0 1c5.253 0 9.5 4.247 9.5 9.5s-4.247 9.5-9.5 9.5A9.492 9.492 0 0 1 1.5 11c0-5.253 4.247-9.5 9.5-9.5zm.479 9.48a.5.5 0 0 0-.348.86l4.299 4.297a.5.5 0 1 0 .707-.707l-4.3-4.297a.5.5 0 0 0-.358-.153z"/><path d="M10.557 5.709a.5.5 0 0 0-.493.508v2.756c-.308.097-.656.144-.851.363a1.84 1.84 0 0 0-.453 1.228c0 .438.144.883.453 1.23.309.349.791.575 1.351.575.56 0 1.045-.226 1.354-.574.31-.348.451-.793.451-1.23 0-.438-.142-.881-.451-1.23-.195-.218-.545-.265-.854-.362V6.217a.5.5 0 0 0-.507-.508zm.007 4.05c.31 0 .48.1.606.241.126.142.2.35.2.564a.865.865 0 0 1-.2.567c-.126.141-.296.238-.606.238s-.48-.097-.605-.238a.865.865 0 0 1-.2-.567.86.86 0 0 1 .2-.564c.126-.142.295-.24.605-.24z"/></symbol><symbol viewBox="0 0 9 9" id="close" xmlns="http://www.w3.org/2000/svg"><path d="M1.5 0l3 3 3-3L9 1.5l-3 3 3 3L7.5 9l-3-3-3 3L0 7.5l3-3-3-3z"/></symbol><symbol viewBox="0 0 16 16" id="close-large" xmlns="http://www.w3.org/2000/svg"><path d="M8.5 8L15.9.6c.1-.1.1-.3 0-.5-.1-.1-.3-.1-.5 0L8 7.5.6.1C.4 0 .2 0 .1.1S0 .4.1.6L7.5 8 .1 15.4c-.1.1-.1.3 0 .5.1.1.1.1.2.1s.2 0 .2-.1L8 8.5l7.4 7.4c.1.1.2.1.2.1.1 0 .2 0 .2-.1.1-.1.1-.3 0-.5L8.5 8z"/></symbol><symbol viewBox="0 0 20 20" id="compare" xmlns="http://www.w3.org/2000/svg"><path d="M19.6 5H15V.4c0-.2-.2-.4-.4-.4H.4C.2 0 0 .2 0 .4v14.2c0 .2.2.4.4.4H5v4.6c0 .2.2.4.4.4h14.2c.2 0 .4-.2.4-.4V5.4c0-.2-.2-.4-.4-.4zM.8 14.2V.8h13.3V5H5.4c-.2 0-.4.2-.4.4v8.8H.8zm18.4 5H5.8V5.8h13.3v13.4z"/></symbol><symbol viewBox="0 0 20 20" id="compare-filled" xmlns="http://www.w3.org/2000/svg"><path d="M5 14.2H.9V.8h13.3V5H5.5c-.3 0-.4.1-.4.4L5 14.2z"/><path d="M5.9 19.2h13.2V5.8H5.9z"/></symbol><symbol viewBox="0 0 22 22" id="day-cloud" xmlns="http://www.w3.org/2000/svg"><path d="M8.4 1.4v.8c0 .3.2.5.5.5s.5-.2.5-.5v-.8c0-.3-.2-.5-.5-.5s-.5.2-.5.5m-5.7 2l.8.8c.2.2.5.2.7 0 .2-.2.2-.5 0-.7l-.8-.8c-.2-.2-.5-.2-.7 0-.2.2-.2.5 0 .7m11.7-.7l-.8.8c-.2.2-.2.5 0 .7.2.2.5.2.7 0l.8-.8c.2-.2.2-.5 0-.7-.2-.2-.5-.2-.7 0m-13 6.7h.8c.3 0 .5-.2.5-.5s-.2-.5-.5-.5h-.8c-.3 0-.5.2-.5.5s.2.5.5.5m17.7 5.1l.5.2c.2-.4.3-.8.3-1.2 0-1.6-1.3-3-3-3h-.4l.1.5.5-.2c-.7-1.9-2.6-3.3-4.7-3.3-2.7 0-4.8 2-5.1 4.6h.5v-.5c-2.5.4-4.4 2.4-4.4 4.8 0 2.6 2.1 4.7 4.7 4.7h9.2c2.1 0 3.8-1.7 3.8-3.8 0-1.3-.7-2.5-1.7-3.2l-.3.4.5.2-.5-.2-.3.4c.7.5 1.2 1.4 1.2 2.4 0 1.6-1.3 2.8-2.8 2.8H8.1c-1 0-1.9-.4-2.6-1.1-.7-.7-1.1-1.6-1.1-2.6 0-1.9 1.5-3.5 3.3-3.7.2 0 .4-.2.5-.5.2-2.1 1.9-3.7 4.1-3.7 1.7 0 3.2 1.1 3.8 2.6.1.2.3.3.5.3h.3c.6 0 1.1.2 1.4.6.4.4.6.9.6 1.4 0 .3-.1.5-.2.8-.1.2 0 .5.2.6l.2-.3z"/><path d="M13 5.3c-1-1.1-2.5-1.9-4.1-1.9-3 0-5.5 2.5-5.5 5.5 0 .6.1 1.2.3 1.8.1.3.4.4.7.3.3-.1.4-.4.3-.6-.2-.5-.2-1-.3-1.5 0-1.2.5-2.4 1.3-3.2.8-.8 1.9-1.3 3.2-1.3 1.3 0 2.5.6 3.4 1.5.2.2.5.2.7 0 .2-.1.2-.4 0-.6z"/></symbol><symbol viewBox="0 0 24 24" id="download" xmlns="http://www.w3.org/2000/svg"><path d="M20.5 24h-17C1.6 24 0 22.4 0 20.5v-2c0-.3.2-.5.5-.5s.5.2.5.5v2C1 21.9 2.1 23 3.5 23h17c1.4 0 2.5-1.1 2.5-2.5v-2c0-.3.2-.5.5-.5s.5.2.5.5v2c0 1.9-1.6 3.5-3.5 3.5z"/><path d="M12 18.9c-.3 0-.5-.2-.5-.5V.5c0-.3.2-.5.5-.5s.5.2.5.5v17.9c0 .3-.2.5-.5.5z"/><path d="M12 18.9c-.1 0-.3-.1-.4-.1l-7.3-7.3c-.2-.2-.2-.5 0-.7s.5-.2.7 0l7 7 7-7c.2-.2.5-.2.7 0s.2.5 0 .7l-7.3 7.3c-.1 0-.3.1-.4.1z"/></symbol><symbol viewBox="0 0 24 23" id="filters" xmlns="http://www.w3.org/2000/svg"><path d="M22.5 0h-21C.7 0 0 .7 0 1.5v20c0 .8.7 1.5 1.5 1.5h21c.8 0 1.5-.7 1.5-1.5v-20c0-.8-.7-1.5-1.5-1.5zm.5 21.5c0 .3-.2.5-.5.5h-21c-.3 0-.5-.2-.5-.5v-20c0-.3.2-.5.5-.5h21c.3 0 .5.2.5.5v20z"/><path d="M20.5 5h-6.1c-.2-1.1-1.2-2-2.4-2s-2.2.9-2.4 2h-6c-.4 0-.6.2-.6.5s.2.5.5.5h6c.2 1.1 1.2 2 2.4 2s2.2-.9 2.4-2h6.1c.4 0 .6-.2.6-.5s-.2-.5-.5-.5zM12 7c-.8 0-1.5-.7-1.5-1.5S11.2 4 12 4s1.5.7 1.5 1.5S12.8 7 12 7zM20.5 11H10.4C10.2 9.9 9.2 9 8 9s-2.2.9-2.4 2h-2c-.4 0-.6.2-.6.5s.2.5.5.5h2c.2 1.1 1.2 2 2.4 2s2.2-.9 2.4-2h10.1c.3 0 .5-.2.5-.5s-.1-.5-.4-.5zM8 13c-.8 0-1.5-.7-1.5-1.5S7.2 10 8 10s1.5.7 1.5 1.5S8.8 13 8 13zM20.5 17h-8.1c-.2-1.1-1.2-2-2.4-2s-2.2.9-2.4 2h-4c-.4 0-.6.2-.6.5s.2.5.5.5h4c.2 1.1 1.2 2 2.4 2s2.2-.9 2.4-2h8.1c.3 0 .5-.2.5-.5s-.1-.5-.4-.5zM10 19c-.8 0-1.5-.7-1.5-1.5S9.2 16 10 16s1.5.7 1.5 1.5S10.8 19 10 19z"/></symbol><symbol viewBox="0 0 23 24" id="gift-bag" xmlns="http://www.w3.org/2000/svg"><path d="M19.5 24H.5c-.3 0-.5-.2-.5-.5v-15c0-.3.2-.5.5-.5h19c.3 0 .5.2.5.5v15c0 .3-.2.5-.5.5zM1 23h18V9H1v14zM14.5 7c-.3 0-.5-.2-.5-.5V5c0-2.2-1.8-4-4-4S6 2.8 6 5v1.5c0 .3-.2.5-.5.5S5 6.8 5 6.5V5c0-2.8 2.2-5 5-5s5 2.2 5 5v1.5c0 .3-.2.5-.5.5zM18.6 7h-2.1c-.3 0-.5-.2-.5-.5V4.4c0-.1.1-.3.1-.4L19.6.5c.1-.1.2-.1.4-.1.1 0 .3.1.4.1l2.1 2.1c.2.2.2.5 0 .7L19 6.9c-.1 0-.2.1-.4.1zM17 6h1.4l3-3L20 1.5l-3 3V6z"/></symbol><symbol viewBox="0 0 82 28" id="glasses-frame" xmlns="http://www.w3.org/2000/svg"><path d="M80.9 1.5h-.4C74.7.6 63.2-.2 57.2.7c-3.2.4-6.2 1.1-9.4 1.9-2.5.6-4.3.6-6.8.7h-.2c-2.5-.1-4.3-.1-6.8-.7-3.1-.7-6.2-1.5-9.4-1.9-6-.9-17.5-.1-23.3.9h-.2v5.5h.3c1.4.6 2 2.5 2.2 3 .2.6.3 1.3.5 2 .1.7.3 1.4.4 2.1.1.3.1.7.2 1 .5 2.6.7 5.3 2.1 7.6 1.4 2.3 3.7 3.5 6.2 4.2 1.6.4 3.2.5 4.8.7 3 .2 6.2-.1 9.1-.9 1.3-.4 2.5-.9 3.6-1.7 2.1-1.5 3.7-3.3 4.7-5.6 1-2.2 1.8-4.6 2.6-6.9.3-.9.7-2.4 2.6-2.4h1c1.9-.1 2.3 1.5 2.6 2.4.8 2.3 1.6 4.7 2.6 6.9 1.1 2.3 2.7 4.1 4.7 5.6 1.1.8 2.3 1.3 3.6 1.7 2.9.8 6.1 1.1 9.1.9 1.6-.1 3.2-.3 4.8-.7 2.6-.6 4.9-1.9 6.2-4.2 1.4-2.3 1.6-5 2.1-7.6.1-.3.1-.7.2-1 .1-.7.3-1.4.4-2.1.1-.7.2-1.3.5-2 .2-.5.7-2.3 2.1-3 0 0 .4 0 .4-.1.2-.2.2-5.5.2-5.5zM35.1 13.3c-.5 2-1.5 4.8-2.7 6.4-1.1 1.5-2.1 2.7-3.7 3.7-2.7 1.7-6.2 2.1-9.3 2.1-3.5 0-7.4-.5-9.9-2.9-2.2-2-2.3-5.3-2.5-9.2-.1-1.8.1-4 .5-5.8.8-3.5 5.1-4.5 7.7-4.8 1.8-.2 3.7-.2 5.6-.1 3.8.2 6.3.7 9.8 1.8 1.7.5 3.9 1.7 4.6 3.4.7 1.6.3 3.7-.1 5.4zm39.7 0c-.1 3.9-.3 7.2-2.5 9.2-2.5 2.4-6.5 2.8-9.9 2.9-3.1 0-6.6-.3-9.3-2.1-1.5-1-2.6-2.2-3.7-3.7-1.2-1.7-2.2-4.5-2.7-6.4-.4-1.7-.8-3.8-.2-5.4.7-1.7 2.9-2.9 4.6-3.4 3.5-1.1 6.1-1.6 9.8-1.8 1.9-.1 3.8-.1 5.6.1 2.6.3 6.8 1.3 7.6 4.8.7 1.9.7 4 .7 5.8z"/></symbol><symbol viewBox="0 0 60 60" id="glasses-round" xmlns="http://www.w3.org/2000/svg"><path d="M54.8 1.5c-.3 0-.5.2-.5.5s.2.5.5.5c2.3 0 4.2 1.9 4.2 4.2v33.8c-2-4.7-6.6-7.9-11.9-7.9-6.2 0-11.4 4.4-12.6 10.3-.9-1.5-2.5-2.5-4.4-2.5s-3.5 1-4.4 2.5c-1.2-5.9-6.4-10.3-12.6-10.3-5.4 0-10 3.3-11.9 7.9V6.7c0-2.3 1.9-4.2 4.2-4.2.3 0 .5-.2.5-.5s-.5-.5-.7-.5C2.3 1.5 0 3.8 0 6.7v38.8c0 7.1 5.8 12.9 12.9 12.9s12.9-5.8 12.9-12.9c0-2.3 1.9-4.2 4.2-4.2s4.2 1.9 4.2 4.2c0 7.1 5.8 12.9 12.9 12.9 7.1 0 12.9-5.8 12.9-12.9V6.7c0-2.9-2.3-5.2-5.2-5.2zM12.9 57.4C6.4 57.4 1 52 1 45.5s5.3-11.9 11.9-11.9 11.9 5.3 11.9 11.9-5.3 11.9-11.9 11.9zm34.2 0c-6.6 0-11.9-5.3-11.9-11.9s5.3-11.9 11.9-11.9S59 38.9 59 45.5s-5.4 11.9-11.9 11.9z"/></symbol><symbol viewBox="0 0 20 20" id="heart" xmlns="http://www.w3.org/2000/svg"><path d="M15.1 0C13.2-.1 11 .9 10 3.5 9 1 6.9-.1 5 .1 2.7.2.4 2.2.4 6.3c0 7.4 9 13.4 9.4 13.7h.2c.1 0 .2 0 .3-.1.4-.3 9.3-7.3 9.3-14.2C19.6 2 17.3.2 15.1 0zM10 19c-1.5-1-8.7-6.5-8.7-12.8C1.3 2.7 3.2 1 5.1.9h.3c1.8 0 3.7 1.3 4.2 4.4 0 .2.2.4.4.4s.4-.2.4-.4C10.9 2 13.1.7 15 .9c1.9.1 3.7 1.7 3.7 4.9 0 5.8-7.3 12-8.7 13.2z"/></symbol><symbol viewBox="0 0 20 20" id="heart-filled" xmlns="http://www.w3.org/2000/svg"><path d="M15.1 0C13.2-.1 11 .9 10 3.5 9 1 6.9-.1 5 .1 2.7.2.4 2.2.4 6.3c0 7.4 9 13.4 9.4 13.7h.2c.1 0 .2 0 .3-.1.4-.3 9.3-7.3 9.3-14.2C19.6 2 17.3.2 15.1 0z"/></symbol><symbol viewBox="0 0 30 30" id="heart-item" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M24.6 0c2.7 0 4.9 2.2 4.9 4.9s-2.2 4.9-4.9 4.9-4.9-2.2-4.9-4.9S21.9 0 24.6 0z"/><path d="M26.9 10.4c-.7 8.4-10.9 17-12.8 18.5-2-1.3-12.7-9.3-12.7-18.5 0-5.1 2.9-7.6 5.7-7.8h.4c2.6 0 5.5 1.9 6.1 6.4 0 .2.3.4.5.4.3 0 .5-.2.5-.4.5-3.5 2.4-5.5 4.5-6.2.2-.5.4-.9.7-1.3-2.2.5-4.5 2.1-5.6 5.2-1.3-3.8-4.4-5.4-7.1-5.2C3.8 1.8.5 4.6.5 10.3c0 10.6 12.9 19.2 13.4 19.6.1.1.2.1.3.1.1 0 .2 0 .3-.2.5-.4 13.2-10.3 13.5-20-.4.3-.7.5-1.1.6z"/></symbol><symbol viewBox="0 0 10 13" id="location-pin" xmlns="http://www.w3.org/2000/svg"><path d="M5 13.3c-.2 0-.3-.1-.4-.2C4.2 12.5.7 7.2.7 5 .7 2.6 2.6.7 5 .7S9.3 2.6 9.3 5c0 2.2-3.5 7.5-3.9 8.1-.1.1-.2.2-.4.2zM5 1.7C3.2 1.7 1.7 3.2 1.7 5c0 1.4 2.1 5 3.3 6.9C6.2 10 8.3 6.4 8.3 5c0-1.8-1.5-3.3-3.3-3.3z"/><path d="M5 7c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm0-3c-.5 0-1 .5-1 1s.5 1 1 1 1-.5 1-1-.5-1-1-1z"/></symbol><symbol viewBox="0 0 12 16" id="lock" xmlns="http://www.w3.org/2000/svg"><path d="M6 8.8c-1 0-1.8.8-1.8 1.8S5 12.4 6 12.4s1.8-.8 1.8-1.8c0-.9-.8-1.8-1.8-1.8zm0 2.7c-.5 0-.8-.4-.8-.8 0-.5.4-.8.8-.8s.8.4.8.8-.3.8-.8.8z"/><path d="M10.2 6.1V4C10.2 1.7 8.3-.2 6-.2 3.7-.2 1.8 1.7 1.8 4v2.1c-1.2.5-2 1.6-2 2.9v4c0 1.7 1.4 3.2 3.2 3.2h6c1.7 0 3.2-1.4 3.2-3.2V9c0-1.3-.9-2.5-2-2.9zm-7.4-.3V4C2.8 2.3 4.2.8 6 .8S9.2 2.3 9.2 4v1.8H2.8zm8.4 7.2c0 1.2-1 2.2-2.2 2.2H3c-1.2 0-2.2-1-2.2-2.2V9c0-1.2 1-2.2 2.2-2.2h6c1.2 0 2.2 1 2.2 2.2v4z"/></symbol><symbol viewBox="0 0 18 18" id="map-target" xmlns="http://www.w3.org/2000/svg"><path d="M9 6.1C7.4 6.1 6.1 7.4 6.1 9s1.3 2.9 2.9 2.9c.8 0 1.5-.3 2.1-.9.6-.6.9-1.3.9-2.1s-.3-1.5-.9-2.1c-.6-.4-1.3-.7-2.1-.7zm1.4 4.3c-.4.3-.9.5-1.4.5-1.1 0-1.9-.9-1.9-1.9 0-1.1.9-1.9 1.9-1.9.5 0 1 .2 1.4.6.3.3.5.8.5 1.3s-.2 1-.5 1.4z"/><path d="M16.7 8.5H15c-.2-2.9-2.6-5.3-5.5-5.5V1.3h-1V3C5.6 3.2 3.2 5.6 3 8.5H1.3v1H3c.2 2.9 2.6 5.3 5.5 5.5v1.6h1V15c2.9-.2 5.3-2.6 5.5-5.5h1.6v-1zM9 14.1c-2.8 0-5.1-2.3-5.1-5.1S6.2 3.9 9 3.9s5.1 2.3 5.1 5.1-2.3 5.1-5.1 5.1z"/></symbol><symbol viewBox="0 0 20 20" id="menu-close" xmlns="http://www.w3.org/2000/svg"><path d="M20 1.5L18.5 0 10 8.5 1.5 0 0 1.5 8.5 10 0 18.5 1.5 20l8.5-8.5 8.5 8.5 1.5-1.5-8.5-8.5z"/></symbol><symbol viewBox="0 0 25 20" id="menu-hamburger" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h25v2H0zM0 18h25v2H0zM0 9h25v2H0z"/></symbol><symbol viewBox="0 0 35 36" id="new-address" xmlns="http://www.w3.org/2000/svg"><path d="M34.5 0h-30c-.3 0-.5.2-.5.5V6H.5c-.3 0-.5.2-.5.5v29c0 .3.2.5.5.5h28c.3 0 .5-.2.5-.5V31h5.5c.3 0 .5-.2.5-.5V.5c0-.3-.2-.5-.5-.5zM28 35H1V7h3v23.5c0 .3.2.5.5.5H28v4zM5 7V1h29v29H5V7"/><path d="M9.5 18.5h7v7c0 .3.2.5.5.5h6c.3 0 .5-.2.5-.5v-7h7c.3 0 .5-.2.5-.5v-6c0-.3-.2-.5-.5-.5h-7v-7c0-.3-.2-.5-.5-.5h-6c-.3 0-.5.2-.5.5v7h-7c-.3 0-.5.2-.5.5v6c0 .3.2.5.5.5zm.5-6h7c.3 0 .5-.2.5-.5V5h5v7c0 .3.2.5.5.5h7v5h-7c-.3 0-.5.2-.5.5v7h-5v-7c0-.3-.2-.5-.5-.5h-7v-5z"/></symbol><symbol viewBox="0 0 60 60" id="palette" xmlns="http://www.w3.org/2000/svg"><path d="M40.9 58c-3.9 0-7.6-1.5-10.4-4.3l-11-11c-.7-.7-1.4-.7-1.9-.6-.8.2-1.4.9-1.6 1.6-.1.5-.1 1.2.6 1.9 2.2 2.2 2.2 5.8 0 8-1.1 1.1-2.5 1.7-4 1.7s-2.9-.6-4-1.7c-11.8-11.8-11.8-31 0-42.8s31-11.8 42.8 0 11.8 31 0 42.8c-2.9 2.9-6.6 4.4-10.5 4.4zM18.1 41.1c.8 0 1.5.3 2.1.9l11 11c2.6 2.6 6 4 9.7 4 3.7 0 7.1-1.4 9.7-4C62 41.6 62 23 50.6 11.6s-30-11.4-41.4 0-11.4 30 0 41.4c.9.9 2.1 1.4 3.3 1.4s2.4-.5 3.3-1.4c1.8-1.8 1.8-4.8 0-6.6-.8-.8-1.1-1.8-.8-2.9.3-1.1 1.2-2 2.3-2.3.3-.1.5-.1.8-.1z"/><path d="M40.9 23.9c-2.4 0-4.4-2-4.4-4.4s2-4.4 4.4-4.4 4.4 2 4.4 4.4c-.1 2.4-2 4.4-4.4 4.4zm0-7.8c-1.9 0-3.4 1.5-3.4 3.4s1.5 3.4 3.4 3.4 3.4-1.5 3.4-3.4-1.6-3.4-3.4-3.4zM48 35.4c-1.7 0-3.1-1.4-3.1-3.1 0-1.7 1.4-3.1 3.1-3.1s3.1 1.4 3.1 3.1c0 1.7-1.4 3.1-3.1 3.1zm0-5.2c-1.2 0-2.1.9-2.1 2.1s.9 2.1 2.1 2.1 2.1-.9 2.1-2.1c0-1.2-.9-2.1-2.1-2.1zM40.9 50.8c-3.1 0-5.7-2.5-5.7-5.7s2.5-5.7 5.7-5.7 5.7 2.5 5.7 5.7-2.6 5.7-5.7 5.7zm0-10.4c-2.6 0-4.7 2.1-4.7 4.7s2.1 4.7 4.7 4.7 4.7-2.1 4.7-4.7-2.2-4.7-4.7-4.7zM25.3 21.1c-2.4 0-4.4-2-4.4-4.4s2-4.4 4.4-4.4 4.4 2 4.4 4.4c0 2.5-2 4.4-4.4 4.4zm0-7.7c-1.9 0-3.4 1.5-3.4 3.4s1.5 3.4 3.4 3.4 3.4-1.5 3.4-3.4-1.5-3.4-3.4-3.4z"/></symbol><symbol viewBox="0 0 20 20" id="print" xmlns="http://www.w3.org/2000/svg"><path d="M17.9 5.8H2.1C.9 5.8 0 6.8 0 7.9v5C0 14.1.9 15 2.1 15h2.1v3.8c0 .2.2.4.4.4h10.8c.2 0 .4-.2.4-.4V15h2.1c1.1 0 2.1-.9 2.1-2.1v-5c0-1.1-.9-2.1-2.1-2.1zM15 18.3H5v-5.8h10v5.8zm4.2-5.4c0 .7-.6 1.2-1.2 1.2h-2.1V12c0-.2-.2-.4-.4-.4H4.6c-.2 0-.4.2-.4.4v2.1H2.1c-.7 0-1.2-.6-1.2-1.2v-5c0-.7.6-1.2 1.2-1.2h15.8c.7 0 1.2.6 1.2 1.2v5zM4.6 5c.2 0 .4-.2.4-.4V1.7h7.5v2.1c0 .2.2.4.4.4H15v.4c0 .2.2.4.4.4s.4-.2.4-.4v-.8-.2c0-.1-.1-.1-.1-.1L13.2 1l-.1-.1H4.6c-.2-.1-.4.1-.4.3v3.3c0 .3.2.5.4.5zm8.7-2.7l1.1 1.1h-1.1V2.3z"/><path d="M2.9 7.5c-.7 0-1.3.6-1.3 1.2S2.2 10 2.9 10s1.2-.6 1.2-1.2-.5-1.3-1.2-1.3zm0 1.7c-.2 0-.4-.2-.4-.4s.2-.4.4-.4.4.2.4.4-.2.4-.4.4zM13.8 13.3H6.2c-.2 0-.4.2-.4.4s.2.4.4.4h7.5c.2 0 .4-.2.4-.4s-.1-.4-.3-.4zM13.8 15H6.2c-.2 0-.4.2-.4.4s.2.4.4.4h7.5c.2 0 .4-.2.4-.4.1-.2-.1-.4-.3-.4zM13.8 16.7H6.2c-.2 0-.4.2-.4.4s.2.4.4.4h7.5c.2 0 .4-.2.4-.4.1-.2-.1-.4-.3-.4z"/></symbol><symbol viewBox="0 0 24 27" id="protection-check" xmlns="http://www.w3.org/2000/svg"><path fill="#999" d="M12.1 27h-.3C2.1 24.3.3 18.2.2 18V1.6c0-.4.2-.7.5-.9s.7-.1 1 .1C5.4 3.4 9 3.2 11.2.4c.4-.5 1.2-.5 1.6 0 2.3 2.8 5.8 3 9.5.4.3-.2.7-.2 1-.1.3.2.5.5.5.9V18c-.1.3-1.8 6.3-11.6 9h-.1zm-9.9-9.5c.3.8 2.1 5.2 9.9 7.4 7.7-2.3 9.6-6.7 9.9-7.5v-14c-4.2 2.2-7.7 1.2-9.9-.9-2.2 2-5.7 3.1-9.9.9v14.1z"/><path fill="#999" d="M12.1 20.1c-.3 0-.5-.1-.7-.3l-4.9-4.9c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l4.1 4.1 5.8-8.4c.3-.5.9-.6 1.4-.3s.6.9.3 1.4L13 19.7c-.2.2-.5.4-.9.4.1 0 0 0 0 0z"/></symbol><symbol viewBox="0 0 14 14" id="question-mark-circle" xmlns="http://www.w3.org/2000/svg"><path d="M7 13.2C3.6 13.2.8 10.4.8 7S3.6.8 7 .8s6.2 2.8 6.2 6.2-2.8 6.2-6.2 6.2zM7 1.8C4.1 1.8 1.8 4.1 1.8 7s2.4 5.2 5.2 5.2c2.9 0 5.2-2.4 5.2-5.2 0-2.9-2.3-5.2-5.2-5.2z"/><path d="M7 9.3c-.3 0-.5-.2-.5-.5V7.3c0-.3.2-.5.5-.5.6 0 1.1-.5 1.1-1.1S7.6 4.6 7 4.6s-1.1.5-1.1 1.1c0 .3-.2.5-.5.5s-.5-.2-.5-.5c0-1.1.9-2.1 2.1-2.1s2.1.9 2.1 2.1c0 1-.7 1.8-1.6 2v1.1c0 .3-.2.5-.5.5zM7 10.9c-.4 0-.8-.3-.8-.8s.4-.7.8-.7.8.3.8.8-.4.7-.8.7zm0-1c-.1 0-.2.1-.2.2 0 .3.5.3.5 0-.1-.1-.2-.2-.3-.2z"/></symbol><symbol viewBox="0 0 30 30" id="search" xmlns="http://www.w3.org/2000/svg"><path d="M29.8 28.9L18.6 17.7c1.7-1.9 2.7-4.3 2.7-7C21.2 4.8 16.5 0 10.6 0 4.8 0 0 4.8 0 10.6c0 5.9 4.8 10.6 10.6 10.6 2.7 0 5.2-1 7-2.7l11.3 11.3c.1.1.3.2.4.2s.3-.1.4-.2c.4-.2.4-.6.1-.9zM1.2 10.6c0-5.2 4.2-9.4 9.4-9.4S20 5.5 20 10.6 15.8 20 10.6 20s-9.4-4.2-9.4-9.4z"/></symbol><symbol viewBox="0 0 19 21" id="snow" xmlns="http://www.w3.org/2000/svg"><path d="M16.6 7.8l.5.2c.2-.4.3-.8.3-1.2 0-1.6-1.3-3-3-3H14v.6l.5-.2C13.8 2.3 11.9.9 9.8.9 7.1.9 5 2.9 4.7 5.5h.5V5C2.8 5.3.9 7.3.9 9.8c0 2.6 2.1 4.7 4.7 4.7h9.2c2.1 0 3.8-1.7 3.8-3.8 0-1.3-.7-2.5-1.7-3.2l-.3.3.5.2-.5-.2-.3.4c.7.5 1.2 1.4 1.2 2.3 0 1.6-1.3 2.8-2.8 2.8H5.6c-2 0-3.7-1.6-3.7-3.7 0-1.9 1.5-3.5 3.3-3.6.2 0 .4-.2.5-.5.2-2.1 1.9-3.7 4.1-3.7 1.7 0 3.2 1.1 3.8 2.6.1.2.3.3.5.3h.3c.6 0 1.1.2 1.4.6.4.4.6.9.6 1.4 0 .3-.1.5-.2.8-.1.2 0 .5.2.6l.2-.3zM9.8 16c-.2 0-.4.2-.4.4s.2.4.4.4.4-.2.4-.4-.2-.4-.4-.4m5 1.2c-.2 0-.4.2-.4.4s.2.4.4.4.4-.2.4-.4-.2-.4-.4-.4m0 2.6c-.2 0-.4.2-.4.4s.2.4.4.4.4-.2.4-.4c0-.3-.2-.4-.4-.4m-5-1.3c-.2 0-.4.2-.4.4s.2.4.4.4.4-.2.4-.4-.2-.4-.4-.4m3.3 0c-.2 0-.4.2-.4.4s.2.4.4.4.4-.2.4-.4-.2-.4-.4-.4m-1.7 1.3c-.2 0-.4.2-.4.4s.2.4.4.4.4-.2.4-.4c0-.3-.2-.4-.4-.4m1.7-3.8c-.2 0-.4.2-.4.4s.2.4.4.4.4-.2.4-.4-.2-.4-.4-.4m-1.7 1.2c-.2 0-.4.2-.4.4s.2.4.4.4.4-.2.4-.4-.2-.4-.4-.4m-3.3 0c-.2 0-.4.2-.4.4s.2.4.4.4.4-.2.4-.4-.2-.4-.4-.4m0 2.6c-.2 0-.4.2-.4.4s.2.4.4.4.4-.2.4-.4c0-.3-.2-.4-.4-.4m-1.7-1.3c-.2 0-.4.2-.4.4s.2.4.4.4.4-.2.4-.4-.2-.4-.4-.4m-1.6 1.3c-.2 0-.4.2-.4.4s.2.4.4.4.4-.2.4-.4c0-.3-.2-.4-.4-.4M6.4 16c-.2 0-.4.2-.4.4s.2.4.4.4.4-.2.4-.4-.2-.4-.4-.4m-1.6 1.2c-.2 0-.4.2-.4.4s.2.4.4.4.4-.2.4-.4-.2-.4-.4-.4"/></symbol><symbol viewBox="0 0 18 22" id="snowflake" xmlns="http://www.w3.org/2000/svg"><path d="M8.8 21.1c-.3 0-.5-.2-.5-.5V1.4c0-.3.2-.5.5-.5s.5.2.5.5v19.2c-.1.3-.3.5-.5.5z"/><path d="M17 16.3l-.2-.1L.2 6.6C0 6.5-.1 6.2 0 6c.1-.2.4-.3.7-.2l16.6 9.6c.2.1.3.4.2.7-.1.1-.3.2-.5.2z"/><path d="M.4 16.3c-.2 0-.3-.1-.4-.2-.1-.2-.1-.5.2-.7l16.6-9.6c.2-.2.5-.1.7.2.1.2.1.5-.2.7L.7 16.2l-.3.1zM8.8 5.7c-.1 0-.3 0-.4-.1L6.3 3.4c-.2-.2-.2-.5 0-.7s.5-.2.7 0l1.7 1.7 1.7-1.7c.2-.2.5-.2.7 0s.2.5 0 .7l-2 2.1c-.1.1-.2.2-.3.2zM.9 9.3C.6 9.3.4 9.2.4 9c-.1-.3.1-.6.3-.6l2.4-.6-.6-2.4c-.1-.3 0-.6.3-.6.3-.1.5.1.6.4L4.2 8v.4c0 .1-.2.1-.4.2L1 9.3H.9z"/><path d="M2.9 17.3h-.1c-.3-.1-.4-.3-.4-.6l.6-2.4-2.4-.6c-.3-.1-.4-.3-.4-.6s.3-.4.6-.4l2.8.8c.1 0 .2.1.3.2s.1.3 0 .4l-.8 2.8c.3.2.1.4-.2.4zm3.8 2.1c-.1 0-.3 0-.4-.1-.2-.2-.2-.5 0-.7l2.1-2.1c.2-.2.5-.2.7 0l2.1 2.1c.2.2.2.5 0 .7s-.5.2-.7 0l-1.7-1.7L7 19.3c-.1.1-.2.1-.3.1zm7.9-2.1c-.2 0-.4-.1-.5-.4l-.8-2.9v-.4c.1-.1.2-.2.3-.2l2.8-.8c.3-.1.5.1.6.4.1.3-.1.5-.4.6l-2.4.6.6 2.4c.1.3-.1.5-.4.6l.2.1zm2-8h-.1l-2.8-.8c-.1 0-.2-.1-.3-.2-.1-.1-.1-.3-.1-.4l.8-2.8c.1-.3.3-.4.6-.4.3.1.4.4.3.7l-.6 2.4 2.4.6c.2 0 .4.3.3.6 0 .2-.2.3-.5.3zM10 7.8H7.5c-.3 0-.5-.3-.5-.6s.2-.5.5-.5H10c.3 0 .5.2.5.5s-.2.6-.5.6zm-5.1 2.9l-.2-.1c-.2-.1-.3-.4-.2-.7l1.2-2.2c.1-.2.4-.3.7-.2.2.1.3.4.2.7l-1.2 2.2c-.2.2-.4.3-.5.3zm1.2 3.8c-.2 0-.3-.1-.4-.2L4.4 12c-.1-.2-.1-.5.2-.7.2-.1.5-.1.7.2l1.2 2.2c.1.2.1.5-.2.7l-.2.1zm3.9.8H7.5c-.3 0-.5-.3-.5-.5s.2-.5.5-.5H10c.3 0 .5.2.5.5s-.2.5-.5.5zm1.4-.8l-.2-.1c-.2-.1-.3-.4-.2-.7l1.2-2.2c.1-.2.4-.3.7-.2.2.1.3.4.2.7l-1.2 2.2c-.2.2-.4.3-.5.3zm1.2-3.8c-.2 0-.3-.1-.4-.2L11 8.3c-.1-.2-.1-.5.2-.7.2-.1.5-.1.7.2l1.2 2.2c.1.2.1.5-.2.7h-.3z"/></symbol><symbol viewBox="0 0 30 30" id="social-facebook" xmlns="http://www.w3.org/2000/svg"><path d="M20.5 8.5h-3.1c-.4 0-.8.5-.8 1.2V12h3.9v3.3h-3.9V25h-3.7v-9.8H9.5v-3.3h3.4V10c0-2.8 1.9-5 4.5-5h3.1v3.5"/></symbol><symbol viewBox="0 0 30 30" id="social-instagram" xmlns="http://www.w3.org/2000/svg"><path d="M15 5c-2.7 0-3 0-4.1.1-1.1 0-1.8.2-2.4.5-.7.2-1.2.5-1.8 1.1-.6.5-.9 1.1-1.2 1.7-.2.6-.4 1.4-.5 2.4V15c0 2.7 0 3 .1 4.1 0 1.1.2 1.8.5 2.4.3.7.6 1.2 1.2 1.8.6.6 1.1.9 1.8 1.2.6.2 1.4.4 2.4.5 1.1 0 1.4.1 4.1.1 2.7 0 3 0 4.1-.1 1.1 0 1.8-.2 2.4-.5.7-.3 1.2-.6 1.8-1.2.6-.6.9-1.1 1.2-1.8.2-.6.4-1.4.5-2.4C25 18 25 17.7 25 15c0-2.7 0-3-.1-4.1 0-1.1-.2-1.8-.5-2.4-.3-.7-.6-1.2-1.2-1.8-.6-.6-1.1-.9-1.8-1.2-.6-.2-1.4-.4-2.4-.5h-4m0 1.8c2.7 0 3 0 4 .1 1 0 1.5.2 1.9.3.5.2.8.4 1.1.7.3.3.6.7.7 1.1.1.4.3.9.3 1.9 0 1.1.1 1.4.1 4 0 2.7 0 3-.1 4 0 1-.2 1.5-.3 1.9-.2.5-.4.8-.7 1.1-.3.3-.7.6-1.1.7-.4.3-.9.4-1.9.5-1.1 0-1.4.1-4 .1s-3 0-4-.1c-1 0-1.5-.2-1.9-.3-.4-.2-.8-.5-1.1-.8-.3-.3-.6-.7-.7-1.1-.2-.4-.4-.9-.4-1.9 0-1.1-.1-1.4-.1-4 0-2.7 0-3 .1-4 0-1 .2-1.5.3-1.9.2-.5.4-.8.8-1.2.3-.3.7-.6 1.1-.7.4-.1.9-.3 1.9-.4h4"/><path d="M15 18.3c-1.8 0-3.3-1.5-3.3-3.3s1.5-3.3 3.3-3.3 3.3 1.5 3.3 3.3-1.5 3.3-3.3 3.3m0-8.4c-2.8 0-5.1 2.3-5.1 5.1s2.3 5.1 5.1 5.1 5.1-2.3 5.1-5.1-2.3-5.1-5.1-5.1M21.5 9.7c0 .7-.5 1.2-1.2 1.2s-1.2-.5-1.2-1.2.5-1.2 1.2-1.2 1.2.5 1.2 1.2"/></symbol><symbol viewBox="0 0 30 30" id="social-tumblr" xmlns="http://www.w3.org/2000/svg"><path d="M21.1 20.3c-.1-.1-.2-.1-.3 0-.9.6-1.8.9-2.7.9-.5 0-.9-.1-1.3-.3-.3-.2-.4-.3-.5-.6-.1-.2-.2-.7-.2-2v-4.6h4.3c.2 0 .3-.1.3-.3v-3c0-.2-.1-.3-.3-.3h-4.3V5.3c0-.2-.1-.3-.3-.3H13c-.2 0-.3.1-.3.3-.1 1-.3 1.8-.6 2.4-.3.6-.7 1.1-1.2 1.6-.5.4-1.1.8-1.8 1-.1 0-.2.2-.2.3v2.7c0 .2.1.3.3.3H11V20c0 .9.1 1.6.3 2.1.2.5.6 1 1.1 1.4.5.4 1.1.8 1.8 1 .7.2 1.5.4 2.4.4.8 0 1.6-.1 2.2-.2.7-.2 1.5-.4 2.3-.8.1-.1.2-.2.2-.3v-3.1s-.1-.2-.2-.2z"/></symbol><symbol viewBox="0 0 30 30" id="social-twitter" xmlns="http://www.w3.org/2000/svg"><path d="M25.2 9c-.7.3-1.5.5-2.4.6.8-.5 1.5-1.3 1.8-2.2-.8.5-1.7.8-2.6 1-.7-.8-1.8-1.3-3-1.3-2.3 0-4.1 1.8-4.1 4 0 .3 0 .6.1.9-3.4-.2-6.4-1.8-8.5-4.2-.4.6-.6 1.3-.6 2 0 1.4.7 2.6 1.8 3.4-.7 0-1.3-.2-1.9-.5 0 2 1.4 3.6 3.3 4-.3.1-.7.1-1.1.1-.3 0-.5 0-.8-.1.5 1.6 2 2.8 3.8 2.8-1.4 1.1-3.2 1.7-5.1 1.7-.3 0-.7 0-1-.1 1.8 1.1 4 1.8 6.3 1.8 7.8.2 12-6 12-11.3v-.5c.8-.6 1.5-1.3 2-2.1"/></symbol><symbol viewBox="0 0 24 20" id="sort" xmlns="http://www.w3.org/2000/svg"><path d="M12 14h-.2L.3 9c-.3-.2-.4-.4-.3-.7.2-.3.4-.4.7-.3L12 13l11.3-5c.3-.1.5 0 .7.3.1.3 0 .5-.3.7l-11.5 5H12z"/><path d="M12 17h-.2L.3 12c-.3-.2-.4-.4-.3-.7.2-.3.4-.4.7-.3L12 16l11.3-5c.3-.1.5 0 .7.3.1.3 0 .5-.3.7l-11.5 5H12z"/><path d="M12 20h-.2L.3 15c-.3-.2-.4-.4-.3-.7.2-.3.4-.4.7-.3L12 19l11.3-5c.3-.1.5 0 .7.3.1.3 0 .5-.3.7l-11.5 5H12zM12 11h-.2L.3 6c-.2-.1-.3-.3-.3-.5s.1-.4.3-.5l11.5-5h.4l11.5 5c.2.1.3.3.3.5s-.1.4-.3.5l-11.5 5H12zM1.8 5.5L12 10l10.2-4.5L12 1 1.8 5.5z"/></symbol><symbol viewBox="0 0 40 40" id="spinner" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" class="bvst0" d="M20 4V0C9 0 0 9 0 20h4c0-8.8 7.2-16 16-16z"/><path class="bvst1" d="M20 0v4c8.8 0 16 7.2 16 16s-7.2 16-16 16S4 28.8 4 20H0c0 11 9 20 20 20s20-9 20-20S31 0 20 0z"/></symbol><symbol viewBox="0 0 15 15" id="star-empty" xmlns="http://www.w3.org/2000/svg"><path fill="#CCC" d="M12.2 15c-.1 0-.1 0-.2-.1l-4.5-3.3L3 14.9c-.1.1-.3.1-.4 0-.1-.1-.2-.2-.1-.4l1.8-5.4L.1 5.5c-.1 0-.1-.2-.1-.3.1-.1.2-.2.3-.2h5.1L7.2.2c.1-.2.5-.2.6 0L9.6 5h5.1c.1 0 .2.1.3.2 0 .1 0 .3-.1.3l-4.2 3.6 1.8 5.4c0 .1 0 .3-.1.4-.1.1-.1.1-.2.1z"/></symbol><symbol viewBox="0 0 15 15" id="star-full" xmlns="http://www.w3.org/2000/svg"><path fill="#FFC425" d="M12.2 15c-.1 0-.1 0-.2-.1l-4.5-3.3L3 14.9c-.1.1-.3.1-.4 0-.1-.1-.2-.2-.1-.4l1.8-5.4L.1 5.5c-.1 0-.1-.2-.1-.3.1-.1.2-.2.3-.2h5.1L7.2.2c.1-.2.5-.2.6 0L9.6 5h5.1c.1 0 .2.1.3.2 0 .1 0 .3-.1.3l-4.2 3.6 1.8 5.4c0 .1 0 .3-.1.4-.1.1-.1.1-.2.1z"/></symbol><symbol viewBox="0 0 15 15" id="star-half" xmlns="http://www.w3.org/2000/svg"><path fill="#FFC425" d="M7.2.2L5.4 5H.3c-.1 0-.2.1-.3.2 0 .1 0 .3.1.3l4.2 3.6-1.8 5.4c-.1.2 0 .3.1.4.1.1.3.1.4 0l4.5-3.3V0c-.1 0-.3.1-.3.2z"/><path fill="#CCC" d="M7.8.2L9.6 5h5.1c.1 0 .2.1.3.2 0 .1 0 .3-.1.3l-4.2 3.6 1.8 5.4c.1.2 0 .3-.1.4-.1.1-.3.1-.4 0l-4.5-3.3V0c.1 0 .3.1.3.2z"/></symbol><symbol viewBox="0 0 22 19" id="store" xmlns="http://www.w3.org/2000/svg"><path d="M3.078 7.441a.5.5 0 0 0-.492.506v10.135a.5.5 0 0 0 .5.5h15.832a.5.5 0 0 0 .5-.5V7.947a.5.5 0 1 0-1 0v9.635H3.586V7.947a.5.5 0 0 0-.508-.506z"/><path d="M3.086.918a.5.5 0 0 0-.447.275L.973 4.523l-.002.002a.5.5 0 0 0-.008.016.5.5 0 0 0-.012.031.5.5 0 0 0-.015.045.5.5 0 0 0 0 .002.5.5 0 0 0-.002.01.5.5 0 0 0-.014.078.5.5 0 0 0 0 .008.5.5 0 0 0 0 .004.5.5 0 0 0-.002.031.5.5 0 0 0 0 .018v.814c0 1.17.684 2.209 1.668 2.7.855.425 1.943.263 2.906-.438 1.37 1.692 3.834 2.022 5.51.529 1.663 1.479 4.127 1.179 5.508-.53.97.71 2.064.868 2.918.436a3.046 3.046 0 0 0 1.658-2.697V4.75a.5.5 0 0 0-.002-.016.5.5 0 0 0-.002-.035.5.5 0 0 0-.002-.013.5.5 0 0 0-.006-.036.5.5 0 0 0-.012-.046.5.5 0 0 0 0-.002.5.5 0 0 0-.004-.014.5.5 0 0 0-.013-.033.5.5 0 0 0-.006-.014.5.5 0 0 0-.008-.016l-.008-.015-1.658-3.317a.5.5 0 0 0-.447-.275zm.309 1h15.214l1.166 2.332H2.23zM1.918 5.25h18.168v.332c0 .76-.474 1.483-1.11 1.805-.635.321-1.395.313-2.205-.492a.5.5 0 0 0-.777.09c-1.049 1.667-3.294 1.97-4.617.468a.5.5 0 0 0-.75 0c-1.34 1.523-3.586 1.172-4.62-.469a.5.5 0 0 0-.775-.088c-.797.795-1.56.807-2.199.489a2.065 2.065 0 0 1-1.115-1.803zm2.834 4.832a.5.5 0 0 0-.5.5v5a.5.5 0 0 0 .5.5h6.666a.5.5 0 0 0 .5-.5v-5a.5.5 0 0 0-.5-.5zm8.334 0a.5.5 0 0 0-.5.5v7.5a.5.5 0 0 0 .5.5h4.166a.5.5 0 0 0 .5-.5v-7.5a.5.5 0 0 0-.5-.5zm-7.834 1h5.666v4H5.252zm8.334 0h3.166v6.5h-3.166z"/><path d="M6.436.91a.5.5 0 0 0-.502.385L5.1 4.629a.5.5 0 0 0-.014.121v2.5a.5.5 0 1 0 1 0V4.812l.816-3.273A.5.5 0 0 0 6.436.91zm4.558 0a.5.5 0 0 0-.492.508v6.37a.5.5 0 1 0 1 0v-6.37a.5.5 0 0 0-.508-.508zm4.559 0a.5.5 0 0 0-.453.63l.818 3.272V7.25a.5.5 0 1 0 1 0v-2.5a.5.5 0 0 0-.016-.121l-.832-3.334a.5.5 0 0 0-.517-.385zM15.586 13.832a.942.942 0 0 0-.688.299.923.923 0 0 0-.23.619c0 .215.07.438.23.62a.938.938 0 0 0 1.373 0 .923.923 0 0 0 .231-.62.923.923 0 0 0-.23-.62.938.938 0 0 0-.686-.298zm0 .836c-.014 0 .038.012.06.037.023.025.022.038.022.045 0 .007 0 .02-.022.045-.022.025-.074.037-.06.037.014 0-.04-.012-.063-.037-.022-.025-.021-.038-.021-.045 0-.007 0-.02.021-.045.023-.025.077-.037.063-.037z"/></symbol><symbol viewBox="0 0 20 10" id="submit-mail" xmlns="http://www.w3.org/2000/svg"><path d="M15.4 9.7h-10c-.4 0-.8-.3-1.1-.5-.2-.4-.3-1-.1-1.4L6.5 2C6.8 1 7.8.3 8.7.3h9.9c.5 0 .9.2 1.1.5.3.4.3.9.1 1.4L17.5 8c-.3.9-1.3 1.7-2.1 1.7zM8.7 1.5c-.5 0-1.1.4-1.3.9L5.2 8.1c-.1.2-.1.4 0 .4.1.1.2.1.3.1h9.9c.5 0 1.1-.4 1.3-.9L19 1.9v-.4c-.1-.1-.2-.1-.3-.1h-10zM17.1 8z"/><path d="M11.7 6.4c-.1 0-.3-.1-.4-.2L8.1 3c-.1-.2-.1-.5.1-.8.1-.2.5-.2.7 0l3 3 5.5-3.1c.2-.1.5-.1.6.2.1.2.1.5-.2.7L12 6.4h-.3zM6.4 8.4c-.2 0-.4 0-.5-.2-.1-.1-.1-.5.2-.6L9 5.5c.2-.2.5-.1.7.1s.1.5-.1.7l-3 2.1h-.2zM15.4 8.4c-.2 0-.3-.1-.4-.2l-1.2-2.1c-.1-.1-.1-.4.2-.6.2-.1.5-.1.7.2l1.2 2.1c.1.2.1.4-.2.6h-.3zM4.6 1.5H.5c-.3 0-.5-.4-.5-.6S.2.4.5.4h4.1c.3 0 .5.2.5.5s-.2.6-.5.6zM2.1 8.9H.4c-.2 0-.4-.3-.4-.5 0-.3.2-.5.5-.5h1.7c.3 0 .5.2.5.5-.1.2-.3.5-.6.5zM3 4.8H.5c-.3 0-.5-.3-.5-.6 0-.2.2-.5.5-.5H3c.3 0 .5.2.5.5s-.3.6-.5.6z"/></symbol><symbol viewBox="0 0 22 22" id="sunny" xmlns="http://www.w3.org/2000/svg"><path d="M17.1 11h.5c0-3.6-2.9-6.6-6.6-6.6-3.6 0-6.6 2.9-6.6 6.6 0 3.6 2.9 6.6 6.6 6.6 3.6 0 6.6-2.9 6.6-6.6h-1c0 1.5-.6 2.9-1.6 4-1 1-2.4 1.6-4 1.6-1.5 0-2.9-.6-4-1.6-1-1-1.6-2.4-1.6-4 0-1.5.6-2.9 1.6-4 1-1 2.4-1.6 4-1.6 1.5 0 2.9.6 4 1.6 1 1 1.6 2.4 1.6 4h.5zm-6.6 7.8v1.7c0 .3.2.5.5.5s.5-.2.5-.5v-1.7c0-.3-.2-.5-.5-.5s-.5.3-.5.5m8.3-7.3h1.7c.3 0 .5-.2.5-.5s-.2-.5-.5-.5h-1.7c-.3 0-.5.2-.5.5s.3.5.5.5m-7.3-8.3V1.4c0-.3-.2-.5-.5-.5s-.5.2-.5.5v1.7c0 .3.2.5.5.5.3.1.5-.2.5-.4m-8.3 7.3H1.4c-.3 0-.5.2-.5.5s.2.5.5.5h1.7c.3 0 .5-.2.5-.5.1-.3-.2-.5-.4-.5m1.9 5.7l-1.2 1.2c-.2.2-.2.5 0 .7.2.2.5.2.7 0l1.2-1.2c.2-.2.2-.5 0-.7-.2-.2-.5-.2-.7 0m11.1.7l1.2 1.2c.2.2.5.2.7 0 .2-.2.2-.5 0-.7l-1.2-1.2c-.2-.2-.5-.2-.7 0-.2.2-.2.5 0 .7m.7-11.1l1.2-1.2c.2-.2.2-.5 0-.7-.2-.2-.5-.2-.7 0l-1.2 1.2c-.2.2-.2.5 0 .7.2.2.5.2.7 0M5.8 5.1L4.6 3.9c-.2-.2-.5-.2-.7 0-.2.2-.2.5 0 .7l1.2 1.2c.2.2.5.2.7 0 .2-.2.2-.5 0-.7"/></symbol><symbol viewBox="0 0 60 60" id="swatches" xmlns="http://www.w3.org/2000/svg"><path d="M19.3 4.9H8.9c-.3 0-.5.2-.5.5v10.3c0 .3.2.5.5.5h10.3c.3 0 .5-.2.5-.5V5.4c.1-.2-.2-.5-.4-.5zm-.5 10.4H9.4V5.9h9.3v9.4zM19.3 20.4H8.9c-.3 0-.5.2-.5.5v10.3c0 .3.2.5.5.5h10.3c.3 0 .5-.2.5-.5V20.9c.1-.2-.2-.5-.4-.5zm-.5 10.4H9.4v-9.3h9.3v9.3zM19.3 36H8.9c-.3 0-.5.2-.5.5v10.3c0 .3.2.5.5.5h10.3c.3 0 .5-.2.5-.5V36.5c.1-.3-.2-.5-.4-.5zm-.5 10.3H9.4V37h9.3v9.3zM14.1 50.2c-1.7 0-3.1 1.4-3.1 3.1 0 1.7 1.4 3.1 3.1 3.1s3.1-1.4 3.1-3.1c0-1.7-1.4-3.1-3.1-3.1zm0 5.2c-1.2 0-2.1-.9-2.1-2.1s.9-2.1 2.1-2.1 2.1.9 2.1 2.1-1 2.1-2.1 2.1z"/><path d="M55.7 18.1L43.9 7.9c-.5-.5-1.2-.7-1.9-.7-.3-.6-.9-1.1-1.6-1.3L25.9.5c-.7-.3-1.4-.2-2.1 0-.5-.4-1.2-.7-1.9-.7H6.3c-1.7 0-3.1 1.4-3.1 3.1v54.3c0 1.7 1.4 3.1 3.1 3.1h15.5c.6 0 1.2-.2 1.7-.5.1 0 .2-.1.2-.1l.1-.2c.2-.2.4-.4.5-.6L56 22.4c1.1-1.3 1-3.2-.3-4.3zM25.5 1.4l14.6 5.4c.5.2 1 .6 1.2 1.1.2.5.2 1 0 1.5L24.9 53.6V2.8c0-.6-.2-1.1-.4-1.5.3 0 .7 0 1 .1zM6.3 59.2c-1.2 0-2.1-.9-2.1-2.1V2.8c0-1.2.9-2.1 2.1-2.1h15.5c1.2 0 2.1.9 2.1 2.1v54.3c0 .4-.1.8-.3 1.1l-.4.5c-.4.3-.8.5-1.4.5H6.3zm49-37.4L25 56.8v-.2L42.2 9.8c.2-.5.2-1.1.1-1.6.3.1.6.2.9.4L55 18.8c.9.8 1 2.1.3 3z"/></symbol><symbol viewBox="0 0 64 62" id="tools" xmlns="http://www.w3.org/2000/svg"><path d="M15.3 22l9.7 9.6.7-.7-10-9.9c-.1-.1-.4-.2-.5-.1-3.8 1.6-8.2.8-11-2.1C1.5 16.1.6 12.1 1.8 8.6l4.9 4.7c.1.1.2.1.3.1h5.7c.3 0 .5-.2.5-.5V7.5c0-.1 0-.3-.1-.3l-4.8-5c3.6-1.2 7.4-.3 10.2 2.4 2.9 2.9 3.8 7.2 2.1 11-.1.2 0 .4.1.5l9.9 9.9.7-.7-9.7-9.6c1.6-4.1.6-8.7-2.5-11.8C15.9.7 11.3-.2 7.2 1.5c-.2 0-.3.1-.3.3 0 .2 0 .3.1.4l5.2 5.4v4.8h-5L1.9 7.3c-.1-.1-.3-.1-.5-.1s-.3.1-.4.3c-1.7 4.1-.8 8.9 2.4 12 3.1 3.1 7.8 4.1 11.9 2.5zM46.5 40.6l-9.7-9.7-.7.7 9.9 9.9c.1.1.4.2.5.1 3.8-1.6 8.1-.8 11 2.1 2.7 2.7 3.6 6.7 2.4 10.4l-5.1-4.7c-.1-.1-.2-.1-.3-.1h-5.3c-.3 0-.5.2-.5.5V55c0 .1 0 .3.1.3l4.8 5c-3.6 1.2-7.6.3-10.4-2.4-2.9-2.9-3.8-7.2-2.1-11 .1-.2 0-.4-.1-.5l-9.9-9.9-.7.7 9.7 9.7c-1.6 4.1-.6 8.7 2.5 11.8 2.1 2.1 4.9 3.2 7.8 3.2 1.5 0 2.9-.3 4.3-.9.2-.1.3-.2.3-.4s0-.3-.1-.4l-5.2-5.4v-4.6h4.6l5.5 5.1c.1.1.3.2.4.1.2 0 .3-.1.4-.3 1.8-4.2.8-8.9-2.4-12.1-3-3.1-7.6-4-11.7-2.4z"/><path d="M63.2 4.5L59 .7c-.2-.1-.4-.2-.6-.1l-10 6.2c-.1.1-.2.2-.2.4s0 .3.2.4l2.9 2.6-27.7 27.7-1.6-1.6c-.2-.2-.5-.2-.7 0l-.3.3-4-3.9c-.2-.2-.5-.2-.7 0s-.2.5 0 .7l3.9 3.9L3.3 54.1c-1.8 1.8-1.8 4.7 0 6.5.9.9 2.1 1.3 3.2 1.3 1.2 0 2.3-.4 3.2-1.3l16.9-16.9.4.3c.1.1.2.1.4.1s.3 0 .4-.1c.2-.2.2-.5 0-.7l-.4-.3.3-.3c.1-.1.1-.2.1-.4s-.1-.3-.1-.4l-3.4-3.4L52 10.9l3.3 3c.1.1.2.1.4.1.1 0 .3-.1.3-.2l7.2-8.6c.2-.2.2-.5 0-.7zM9.1 59.9c-1.4 1.4-3.7 1.4-5.1 0-1.4-1.4-1.4-3.7 0-5.1L20.9 38l5.1 5L9.1 59.9zm46.5-47.1l-6.1-5.4 9.1-5.6L62.2 5l-6.6 7.8z"/></symbol><symbol viewBox="0 0 42 23" id="truck-delivery" xmlns="http://www.w3.org/2000/svg"><path fill="#999" d="M35.9 19.1c-.6 0-1-.4-1-1s.4-1 1-1h3.3v-3.7l-3.7-6h-6.9c-.6 0-1-.4-1-1s.4-1 1-1H36c.3 0 .7.2.8.5l4.2 6.7c.1.2.2.3.2.5v5c0 .6-.4 1-1 1h-4.3z"/><path fill="#999" d="M28.5 19.1h-9.3c-.6 0-1-.4-1-1s.4-1 1-1h8.3V2.4H10.2c-.6 0-1-.4-1-1s.4-1 1-1h18.3c.6 0 1 .4 1 1v16.7c0 .3-.1.5-.3.7-.2.3-.4.4-.7.3z"/><path fill="#999" d="M14.5 19.1h-4.3c-.6 0-1-.4-1-1V1.5c0-.6.4-1 1-1s1 .4 1 1v15.7h3.3c.6 0 1 .4 1 1s-.5.9-1 .9zm19 3.5c-1.9 0-3.5-1.6-3.5-3.5s1.6-3.5 3.5-3.5 3.5 1.6 3.5 3.5-1.6 3.5-3.5 3.5zm0-5c-.8 0-1.5.7-1.5 1.5s.7 1.5 1.5 1.5 1.5-.7 1.5-1.5-.7-1.5-1.5-1.5z"/><path fill="#999" d="M16.8 22.6c-1.9 0-3.5-1.6-3.5-3.5s1.6-3.5 3.5-3.5 3.5 1.6 3.5 3.5-1.5 3.5-3.5 3.5zm0-5c-.8 0-1.5.7-1.5 1.5s.7 1.5 1.5 1.5 1.5-.7 1.5-1.5-.6-1.5-1.5-1.5zm-10-8.3h-5c-.6 0-1-.4-1-1s.4-1 1-1h5c.6 0 1 .4 1 1s-.4 1-1 1zm0 4H4.3c-.6 0-1-.5-1-1 0-.6.4-1 1-1h2.5c.6 0 1 .5 1 1 0 .6-.4 1-1 1zm0 4.1H6c-.6 0-1-.5-1-1 0-.6.4-1 1-1h.8c.6 0 1 .5 1 1 0 .6-.4 1-1 1zm33-3.1H28.5c-.6 0-1-.4-1-1s.4-1 1-1h11.3c.6 0 1 .4 1 1s-.4 1-1 1zm-8.6 4.8h-2.6c-.6 0-1-.4-1-1s.4-1 1-1h2.6c.6 0 1 .4 1 1s-.5 1-1 1z"/></symbol></svg>
{% include 'search-autocomplete' %}
{% comment %}This is for Product Option App by hulkapps{% endcomment %}
{% comment %} {% include 'hulkcode_common' %} {% endcomment %}
<!-- Sample Request app -->
<script>
window.srpApp = {};
</script>
{{ 'samplerequestapp.js' | asset_url | script_tag }}

{% if customer %}
<script>
  srpApp.productStatus('{{ customer.id }}','{{ product.id }}');
  jQuery('.shopping-cart__checkout').click(function() {
    console.log('clicked');
    var p = jQuery(document).height();
    jQuery(".main").css("min-height", p);
    if (jQuery("#cartLoader").length > 0) {
      jQuery("#cartLoader").css("min-height", jQuery(document).height());
    } else {
      jQuery("body").append(
        '<div id="cartLoader" style="left:0;top:0;height:' +
          p +
          'px;width:100%;text-align:center;background-color: rgba(255, 255, 255, .5);position:absolute;z-index:9999999999"><img style="position:fixed;top:70px;left:50%;margin-left:-100px;" src="https://d17awlyy7mou9o.cloudfront.net/shopify/images/opc_loader.gif" /></div>'
      );
    }
  });
</script>
{% endif %}
<!-- Sample Request app -->
<!-- {{ 'jquery-3.5.1.min.js' | asset_url | script_tag }} -->
<!-- {{ 'https://d17awlyy7mou9o.cloudfront.net/shopify/script25.js?v=136&shop=onepage-checkout.myshopify.com:formatted' | script_tag }} -->
<!-- {{ '//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js' | script_tag }}
{{ 'modernizr.min.js' | asset_url | script_tag }}
{{ 'jquery.validate.min-1.17.js' | asset_url | script_tag }}
{{ 'additional-methods-1.17.min.js' | asset_url | script_tag }}
{{ 'script26.js' | asset_url | script_tag }} -->
</body>
</html>
