{% if section.settings.bsp_home_page_only == false or template.name == 'index' %}
<section id="bestSellingProducts">
      <div class="popular-items u-block u-page-width-max-gutters">
        <h2 class="popular-items__title">{{ section.settings.bsp_mainheading | escape }}</h2>
        <div class="popular-items__items cards cards--even owl-carousel owl-theme">
      {% for product in collections.best-selling.products limit:12 %}
        <div class="card js-card">
        <div class="card__inner">
          <a class="card__link js-card-url" href="{{ product.url | within: current_collection }}" 
          {% for variant in product.variants %}
            data-{{ variant.sku }}-url="{{ variant.url }}" 
          {% endfor %}
          {% for variant in product.variants %}
           data-{{ variant.sku }}-stock="true" 
          {% endfor %}
            >
            {% comment %} <ul class="rating">
  <li class="rating__star rating__star--star-full">
    <svg class="icon icon--star-full">
  <use xlink:href="#star-full"></use>
</svg>

  </li>
  <li class="rating__star rating__star--star-full">
    <svg class="icon icon--star-full">
  <use xlink:href="#star-full"></use>
</svg>

  </li>
  <li class="rating__star rating__star--star-full">
    <svg class="icon icon--star-full">
  <use xlink:href="#star-full"></use>
</svg>

  </li>
  <li class="rating__star rating__star--star-full">
    <svg class="icon icon--star-full">
  <use xlink:href="#star-full"></use>
</svg>

  </li>
  <li class="rating__star rating__star--star-empty">
    <svg class="icon icon--star-empty">
  <use xlink:href="#star-empty"></use>
</svg>

  </li>
</ul> {% endcomment %}
          <div class="shopify-rattings">
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          </div>

            <img class="card__image js-card-image" data-angle="front" src="{{ product.featured_image.src | img_url: '330x330' }}" data-variant="{{ product.first_available_variant.sku }}" 
            
            {% for variant in product.variants %}
              data-{{ variant.sku }}-front="{{ variant.image.src | img_url: 'large' }}" 
            {% endfor %}
            >
            {% comment %} <span class="card__status js-card-status" data-h257-16c-status="" data-b257-05cr-status="" data-257-17c-status=""></span> {% endcomment %}
            <h5 class="card__title">{{ product.title }}</h5>
            <span class="card__price js-card-price" 
            {% for variant in product.variants %}
              data-{{ variant.sku }}-price="{{ variant.price | money }}"
            {% endfor %}
            >
              {{ product.price | money }}
            </span>
          </a>
          <div class="card__variants-wrapper">
          <ul class="card__variants js-card-variants">
            {% for variant in product.variants %}
              <li class="card__variant js-card-variant {% if forloop.first == true %} js-card-variant--active {% endif %}" data-id="{{ variant.sku }}">
                RRRRRRRRRRRRRRRRRRRRRRRR<button class="card__variant-button js-card-variant-button" type="button"
                style="background-image:url('{{ variant.image.src | img_url: 'icon' }}')">{{ variant.title | escape }}</button>
              </li>
            {% endfor %}
            </ul>
            <div class="card__variants-controls js-card-variants-controls">
              <button class="card__variants-control card__variants-control--prev" type="button">
                <span class="u-visually-hidden">Previous</span>
                {% comment %} <svg class="icon icon--arrow-left">
  <use xlink:href="#arrow-left"></use>
</svg> {% endcomment %}

              </button>
              <button class="card__variants-control card__variants-control--next" type="button">
                <span class="u-visually-hidden">Next</span>
                {% comment %} <svg class="icon icon--arrow-right">
  <use xlink:href="#arrow-right"></use>
</svg> {% endcomment %}

              </button>
            </div>
          </div>
          </div>
      </div>
      {% endfor %}
      </div>
      </div>
    </section>
{% endif %}

{% schema %}
  {
    "name": "Best Selling Products",
    "settings": [
        {
        "type": "checkbox",
        "id": "bsp_home_page_only",
        "label": {
          "en": "Show on Home page only",
          "de": "Show on Home page only2",
          "fr": "Show on Home page only3"
        },
        "default": true
      },
      {
        "type": "text",
        "id": "bsp_mainheading",
        "label": {
          "en": "Main heading text",
          "de": "Main heading text de",
          "fr": "Main heading text fr"
        },
        "default":"Best Selling Products"
      }
    ],
    "presets": [
        {
        "name": "Best Selling Products",
        "category": "Products"
        }
    ]
  }
{% endschema %}

