<div class="big-card big-card--image-left-landscape u-block u-page-width-max-gutters">
<a class="big-card__link" href="{{ section.settings.ccb_buttonLink }}">
<div class="big-card__image-container">
    {%- assign img_url = section.settings.ccb_img | img_url: 'original' -%}
	<img class="big-card__image u-object-fit-cover" src="{{ img_url }}">
	<!--         sizes="(min-width: 681px) 66vw, 100vw" srcset="/assets/images/big-card-landscape-right-small.jpg 400w, /assets/images/big-card-landscape-right-medium.jpg 710w, /assets/images/big-card-landscape-right-large.jpg 947w"> -->
</div>
<div class="big-card__text">
		<span class="big-card__prefix">
            {{ section.settings.ccb_mainheading | escape }}
        </span>
		<h2 class="big-card__headline">
            {{ section.settings.ccb_subheading | escape }} 
        </h2>
		<span class="big-card__suffix"></span>
		<p class="big-card__description"></p>
		<form action="{{ section.settings.ccb_buttonLink }}">
				<button class="big-card__call-to-action button button--outlined">{{ section.settings.ccb_buttonheading | escape }}</button>
			</form>
		</div>
</a>
</div>

{% schema %}
  {
    "name": {
      "en": "Homepage Content Block II",
      "de": "Homepage Content Block II",
      "fr": "Homepage Content Block II"
    },
    "settings": [
      {
        "type": "checkbox",
        "id": "showHcb2",
        "label": {
          "en": "Enable Homepage Content Block II",
          "de": "Enable Homepage Content Block II",
          "fr": "Enable Homepage Content Block II"
        },
        "default": false
      },
      {
        "id": "sectionCcb2Heading",
        "type": "text",
        "label": "Section Heading",
        "default": "Section Heading"
      },
      {
        "type": "image_picker",
        "id": "ccb_img",
        "label": {
            "en": "Select Image",
            "de": "Select Image2",
            "fr": "Select Image3"
            }
       },
      {
        "type": "text",
        "id": "ccb_mainheading",
        "label": {
          "en": "Main heading text",
          "de": "Main heading text de",
          "fr": "Main heading text fr"
        }
      },
      {
        "type": "text",
        "id": "ccb_subheading",
        "label": {
          "en": "Sub heading text",
          "de": "Sub heading text de",
          "fr": "Sub heading text fr"
        }
      },
      {
        "type": "url",
        "id": "ccb_buttonLink",
        "label": {
          "en": "Button Link",
          "de": "Button Link de",
          "fr": "Button Link fr"
        }
      },
      {
        "type": "text",
        "id": "ccb_buttonheading",
        "label": {
          "en": "Button text",
          "de": "Button text de",
          "fr": "Button text fr"
        }
      }
    ],
    "presets": [
    {
      "name": "Homepage Content Block II",
      "category": "Content Blocks"
    }
  ]
  }
{% endschema %}