{% if section.settings.bottom_subscribe_enabled %}
<div class="subscribe">
    <div class="u-page-width-max">
    <div class="subscribe__text">
        <h5 class="subscribe__header">{{ section.settings.bottom_subscribe_label | escape}}</h5>
    </div>
    <div class="subscribe-form-wrapper subscribe-form-wrapper--default js-subscribe-form js-subscribe-form--default">
  {% form 'customer',class:'subscribe-form' %}
    {{ form.errors | default_errors }}
    {% if form.posted_successfully? %}
      <p class="note form-success">{{ 'layout.footer.newsletter_confirmation' | t }}</p>
    {% else %}
      <input type="hidden" name="contact[tags]" value="newsletter">
      <input class="subscribe-form__input js-subscribe-form-input" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ section.settings.bottom_subscribe_placeholder | escape }}" name="contact[email]" id="Email" aria-label="{{ section.settings.bottom_subscribe_placeholder | escape }}" autocorrect="off" autocapitalize="off">
                <button class="subscribe-form__submit button button--primary"  name="commit" id="subscribe">
      <span class="subscribe-form__submit-label">{{ section.settings.bottom_subscribe_btntext | escape}}</span>
      {% comment %} <svg class="icon icon--submit-mail">
  <use xlink:href="#submit-mail"></use>
</svg> {% endcomment %}

    </button>
    {% endif %}
  {% endform %}
<div class="subscribe-form-status">
                <span class="subscribe-form-status__message js-subscribe-status-message"></span>
                <span class="subscribe-form-status__close js-subscribe-status-close-button">
      {% comment %} <svg class="icon icon--close-large">
  <use xlink:href="#close-large"></use>
</svg> {% endcomment %}

    </span>
            </div>
        </div>

    </div>
</div>
{% endif %}
{% schema %}
  {
    "name": "MJ Subscription form",
    "class": "footer-section",
    "settings": [
      {
        "type": "checkbox",
        "id": "bottom_subscribe_enabled",
        "label": "Show bottom subscribe",
        "info": "Show subscribtion form"
      },
      {
        "type": "text",
        "id": "bottom_subscribe_label",
        "label": "bottom subscribe label",
        "default" : "Subscribe Now"
      },
      {
        "type": "text",
        "id": "bottom_subscribe_btntext",
        "label": "bottom subscribe button text",
        "default" : "Sign Up"
      },
      {
        "type": "text",
        "id": "bottom_subscribe_placeholder",
        "label": "Email placeholder text",
        "default" : "Email Address"
      }
    ]
  }
{% endschema %}
