<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
        <!-- Bottom Carousel Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#quote-carousel" data-slide-to="0" class="active">
          </li>
        <li data-target="#quote-carousel" data-slide-to="1">
          </li>
        <li data-target="#quote-carousel" data-slide-to="2">
          </li>
        <li data-target="#quote-carousel" data-slide-to="3">
          </li>
        <li data-target="#quote-carousel" data-slide-to="4">
          </li>
        <li data-target="#quote-carousel" data-slide-to="5">
        </li>
        </ol>
<div class="carousel-inner">
  {% for block in section.blocks %}  
  <div class="item">
  <div class="row">
    <div class="col-sm-12">  
      <div class="testimonial-image"><img src="{{ block.settings.imagefile | img_url }}" class="attachment-80x80 wp-post-image" width="80" height="80"></div>
     <p>{{ block.settings.authordes }}</p>
     <span class="the-title">{{ block.settings.authorname }}</span><br><br>
     <span class="the-byline">{{ block.settings.authorbio }}</span>
  </div>
  </div>
</div> 
  {% endfor %}
        </div>
</div>                          
    </div>
  </div>
</div>  
<hr>
 
   
   
{% schema %}
{
  "name": "Testimonial Custom Blocks",
  "max_blocks": 15,
  "settings": [
    {
      "id": "text-box",
      "type": "text",
      "label": "Heading",
      "default": "Title"
    }
  ],
  "blocks": [
    {
      "type": "select",
      "name": "Add Testimonial",
      "settings": [
        {
          "id": "authordes",
          "type": "text",
          "label": "text"
        },
        {
          "id": "authorbio",
          "type": "text",
          "label": "text",
          "default": "Author JOB"
        },
        {
          "id": "authorname",
          "type": "text",
          "label": "Author name",
          "default": "Author name"
        },
        {
          "id": "imagefile",
          "type": "image_picker",
          "label": "Select Image"
           
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials Custom Blocks",
      "category": "Testimonials",
      "blocks": [
        { 
          "type": "select"
        },
        {
          "type": "select"
        }
      ]
    }
  ]
}
{% endschema %}
 
{% stylesheet %}
{% endstylesheet %}
 
{% javascript %}
{% endjavascript %}