<div class="l-shopping-cart-secondary">
    <div class="l-shopping-cart-payment-faqs">
      <div class="payment-faqs js-payment-faqs">
  <h2 class="payment-faqs__title">FAQs</h2>
  <div class="payment-faqs__content-wrapper js-payment-faqs-content-wrapper js-payment-faqs-content-wrapper--active">
    <button class="payment-faqs__control js-payment-faqs-control">
      Security Payment
      <svg class="icon icon--arrow-up">
  <use xlink:href="#arrow-up"></use>
</svg>

      <svg class="icon icon--arrow-down">
  <use xlink:href="#arrow-down"></use>
</svg>

    </button>
    <div class="payment-faqs__content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elementum enim velit, id sagittis enim consequat sed. Curabitur ante nisi, posuere vitae velit et, posuere laoreet lectus.
      <ul class="payment-faqs__payment-methods">
        <li class="payment-faqs__payment-method"><img class="payment-method payment-method--visa" src="/assets/images/payment-method-visa.png" alt="">
</li>
        <li class="payment-faqs__payment-method"><img class="payment-method payment-method--mastercard" src="/assets/images/payment-method-mastercard.png" alt="">
</li>
        <li class="payment-faqs__payment-method"><img class="payment-method payment-method--amex" src="/assets/images/payment-method-amex.png" alt="">
</li>
        <li class="payment-faqs__payment-method"><img class="payment-method payment-method--discover" src="/assets/images/payment-method-discover.png" alt="">
</li>
        <li class="payment-faqs__payment-method"><img class="payment-method payment-method--verisign" src="/assets/images/payment-method-verisign.png" alt="">
</li>
      </ul>
    </div>
  </div>
  <div class="payment-faqs__content-wrapper js-payment-faqs-content-wrapper">
    <button class="payment-faqs__control js-payment-faqs-control">
      Can We Help?
      <svg class="icon icon--arrow-up">
  <use xlink:href="#arrow-up"></use>
</svg>

      <svg class="icon icon--arrow-down">
  <use xlink:href="#arrow-down"></use>
</svg>

    </button>
    <div class="payment-faqs__content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elementum enim velit, id sagittis enim consequat sed. Curabitur ante nisi, posuere vitae velit et, posuere laoreet lectus.
    </div>
  </div>
  <div class="payment-faqs__content-wrapper js-payment-faqs-content-wrapper">
    <button class="payment-faqs__control js-payment-faqs-control">
      Conditions of Sale
      <svg class="icon icon--arrow-up">
  <use xlink:href="#arrow-up"></use>
</svg>

      <svg class="icon icon--arrow-down">
  <use xlink:href="#arrow-down"></use>
</svg>

    </button>
    <div class="payment-faqs__content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elementum enim velit, id sagittis enim consequat sed. Curabitur ante nisi, posuere vitae velit et, posuere laoreet lectus.
    </div>
  </div>
  <div class="payment-faqs__content-wrapper js-payment-faqs-content-wrapper">
    <button class="payment-faqs__control js-payment-faqs-control">
      Free Shipping and Returns
      <svg class="icon icon--arrow-up">
  <use xlink:href="#arrow-up"></use>
</svg>

      <svg class="icon icon--arrow-down">
  <use xlink:href="#arrow-down"></use>
</svg>

    </button>
    <div class="payment-faqs__content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elementum enim velit, id sagittis enim consequat sed. Curabitur ante nisi, posuere vitae velit et, posuere laoreet lectus.
    </div>
  </div>
</div>

    </div>
    <div class="l-shopping-cart-assistance-info">
      <div class="assistance-info assistance-info--cart">
  <h4 class="assistance-info__title">Need assistance?</h4>
  <ul class="assistance-info__items">
    <li class="assistance-info__item">
      <a class="assistance-info__item-value" href="#">
        <span class="assistance-info__item-label">Contact Us</span>
        <svg class="icon icon--arrow-right">
  <use xlink:href="#arrow-right"></use>
</svg>

      </a>
    </li>
    <li class="assistance-info__item">
      <span class="assistance-info__item-value">
        <span class="assistance-info__item-label">Have a question or need help?</span>
      </span>
    </li>
    <li class="assistance-info__item">
      <a class="assistance-info__item-value" href="tel:+1800229933">
        <svg class="icon icon--action-phone">
  <use xlink:href="#action-phone"></use>
</svg>

        <span class="assistance-info__item-label">888-666-5905</span>
      </a>
    </li>
    <li class="assistance-info__item">
      <a class="assistance-info__item-value" href="mailto:customercare@mauijim.com">
        <svg class="icon icon--action-mail">
  <use xlink:href="#action-mail"></use>
</svg>

        <span class="assistance-info__item-label">customercare@mauijim.com</span>
      </a>
    </li>
  </ul>
</div>
</div>
</div>