<!-- /templates/collection.liquid -->
{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}

{% paginate collection.products by 50 %}

{% include 'breadcrumb' %}

{% assign has_filter = false %}
{% if collection.all_tags.size > 0 and section.settings.enable_filter %}
  {% assign has_filter = true %}
{% endif %}

<div class="plp-hero u-page-width-max-gutters">
    <img class="landing-hero__image u-object-fit-cover" src="{{ 'hero-plp-banner.jpg' | asset_url }}">
    <h1 class="landing-hero__title">{{ collection.title }}</h1>
  </div>
{% comment %}
  Use .grid--rev so that the collection tags appear below the products on mobile
{% endcomment %}
<div id="productListingPage">
<div class="filters js-filters u-page-width-max-gutters">
  <div class="filter-controls">
    <span class="filter-controls__result-summary">
        <span class="filter__controls-result-count">{{ collection.products_count }} </span> Results
    </span>
    <button class="filter-controls__button filter-controls__button--open js-filters-open-button">
      <span class="filter-controls__icon filter-controls__icon--open">
        <svg class="icon icon--filters"><use xlink:href="#filters"></use></svg>
        
      </span>
      <span class="filter-controls__label">Filter</span>
    </button>
    {% comment %} <div class="filter-controls__prescription filter-controls__prescription--medium">
        <input type="checkbox" disabled id="filters-prescription" class="js-filters-prescription-control checkbox checkbox--default">
        <label for="filters-prescription">Available for prescription</label>
    </div> {% endcomment %}
    <div class="filter-controls__sort-wrapper select-tooltip js-select-tooltip">
      <button class="filter-controls__button filter-controls__button--sort js-select-tooltip-trigger">
        <span class="filter-controls__label">{{ 'collections.sorting.title' | t }}</span>
        <span class="filter-controls__icon">
          <svg class="icon icon--sort"><use xlink:href="#sort"></use></svg>
        </span>
      </button>
      {% include 'collection-sorting' %}
    </div>
    </div>

    <div class="filters__categories-wrapper js-filters-categories-wrapper">
    <button class="filters__close-button js-filters-close-button">
      <svg class="icon icon--arrow-left">
  <use xlink:href="#arrow-left"></use>
</svg>

      Close filters
    </button>
    <div class="js-selected-filter-close-icon"><svg class="icon icon--close-large">
  <use xlink:href="#close-large"></use>
</svg>
</div>
    <ul class="filters__selected js-filters-selected"></ul>
    {% comment %} <div class="filter-controls__prescription filter-controls__prescription--small">
      <input type="checkbox" id="filters-prescription-small" class="js-filters-prescription-control checkbox checkbox--default">
      <label for="filters-prescription-small">Available for prescription</label>
    </div> {% endcomment %}
    
    
    {% if has_filter %}
     {% include 'collection-filters' %}
    {% endif %}
    <div class="filters__submit-wrapper">
	<a class="filters__submit button button--primary js-filters-submit-button" href="{{ collection.url }}">
		See Results
		{{ collection.products_count }}
	</a>
</div>
{% for tag in collection.all_tags %}
  {% if current_tags contains tag %}
    {% assign collectionHasFilter = true %}
  {% endif %}
{% endfor %}
{% if collectionHasFilter == true %}
<div class="filters__reset-wrapper" style="display: block;">
	<a href="{{ collection.url }}" class="filters__reset js-filters-reset-button">Reset Filters</a>
	</div>
{% endif %}
{% comment %} <ul class="filters__angles">
        <li class="filters__angle filters__angle--front">
            <button class="filters__angle-button js-filters-angle-button js-filters-angle-button--active" data-id="front">
    <img class="filters__angle-image" src="{{ 'filter-front.png'| asset_url }}" alt="Front">
    <span class="filters__angle-label">Front</span>
    </button>
        </li>
        <li class="filters__angle filters__angle--angle">
            <button class="filters__angle-button js-filters-angle-button" data-id="angle">
    <img class="filters__angle-image" src="{{ 'filter-angle.png'| asset_url }}" alt="Angle">
    <span class="filters__angle-label">Angle</span>
    </button>
        </li>
        <li class="filters__angle filters__angle--side">
            <button class="filters__angle-button js-filters-angle-button" data-id="side">
    <img class="filters__angle-image" src="{{ 'filter-side.png'| asset_url }}" alt="Side">
    <span class="filters__angle-label">Side</span>
    </button>
        </li>
    </ul> {% endcomment %}
    <br><br>
  </div>
  </div>
  <div class="cards">
      {% for product in collection.products %}
        {% include 'product-grid-item' %}
      {% else %}
      {% if collection.handle == 'all' and current_tags == '' %}
        {% comment %}
          Add default products to help with onboarding for collections/all only
        {% endcomment %}
          {% unless emptyState %}
            {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
            {% assign emptyState = true %}
          {% endunless %}
          {% include 'onboarding-empty-collection' %}
        {% else %}
          {% comment %}
            If collection exists but is empty, display message
          {% endcomment %}
          <div class="grid__item">
            <p>{{ 'collections.general.no_matches' | t }}</p>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    {% if paginate.pages > 1 %}
      <hr>
      <div class="pagination">
        {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
      </div>
    {% endif %}
  </div>
</div>
{% endpaginate %}
{% schema %}
  {
    "name": "Collection",
    "class": "collection-template-section",
    "settings": [
      {
        "type": "radio",
        "id": "collection_sidebar_filters",
        "label": "Sidebar product filters",
        "options": [
          {
            "value": "tags",
            "label": "By tag"
          },
          {
            "value": "groups",
            "label": "By group"
          }
        ],
        "info": "[Learn how to set up filter groups](https:\/\/help.shopify.com\/manual\/using-themes\/themes-by-shopify\/supply#product-tips-tips-specific)."
      },
      {
        "type": "checkbox",
        "id": "product_show_compare_at_price",
        "label": "Show compare at price",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "product_show_saved_amount",
        "label": "Show saved amount",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "product_reviews_enable",
        "label": "Enable product reviews",
        "info": "Install the free Shopify [Product Reviews](https:\/\/apps.shopify.com\/product-reviews) app to add product reviews."
      },
      {
        "type": "checkbox",
        "id": "enable_filter",
        "label": "Enable Filter",
        "default": true
      }
    ]
  }
{% endschema %}