<div id="homepage-mosaic-card" class="l-homepage-mosaic-card">
    <div class="mosaic-card mosaic-card--call-to-action u-block u-page-width-max-gutters">
        {% if section.settings.sectionCcbHeadingShow %}
        <div class="section-header text-center">
            <h3> {{ section.settings.sectionCcbHeading }} </h3>
        </div>
        {% endif %}
        {% comment %} Block Loop Start {% endcomment %}
        {% for block in section.blocks %}  
        <div class="mosaic-card__pair {{ block.settings.sectionCcBlockClass }}">
            <a class="mosaic-card__link" href="#">
            <div class="mosaic-card__image-container">
                {%- assign img_url = block.settings.sectionCcBlockImage | img_url: 'original' -%}
                <img class="mosaic-card__image u-object-fit-cover" src="{{ img_url }}">
            </div>
            <div class="mosaic-card__text">
                <span class="mosaic-card__prefix">
                    {{ block.settings.sectionCcBlockTitle }}
                </span>
                <h2 class="mosaic-card__headline">
                    {{ block.settings.sectionCcBlockSubTitle }}
                </h2>
                <button class="mosaic-card__call-to-action button button--outlined" href="{{ block.settings.sectionCcBlocklink }}">{{ block.settings.sectionCcBlocklinklinkText }}</button>
            </div>
            </a>
        </div>
        {% endfor %}
        {% comment %} Block Loop ends {% endcomment %}
</div>  
</div>  
{% schema %}
{
  "name": "Custom Content Blocks",
	"max_blocks": 6,
  "settings": [
    {
      "id": "sectionCcbHeading",
      "type": "text",
      "label": "Section Heading",
      "default": "Section Heading"
    },
    {
        "type": "checkbox",
        "id": "sectionCcbHeadingShow",
        "label": "Show Section Heading",
        "default": true
    }
  ],
  "blocks": [
    {
      "type": "select",
      "name": "Content Block",
      "settings": [
          {
          "id": "sectionCcBlockClass",
          "type": "text",
          "label": "Additional Class",
          "default": "mosaic-card__pair--image-right"
        },
          {
          "id": "sectionCcBlockTitle",
          "type": "text",
          "label": "Block Title",
          "default": "Block Title"
        },
        {
          "id": "sectionCcBlockSubTitle",
          "type": "text",
          "label": "Block Sub Title",
          "default": "Block Sub Title"
        },
        {
          "id": "sectionCcBlocklink",
          "type": "url",
        "label": "Button link"
        },
        {
          "id": "sectionCcBlocklinklinkText",
          "type": "text",
          "label": "Button text",
          "default": "Click here"
        },
        {
          "id": "sectionCcBlockImage",
          "type": "image_picker",
          "label": "Block Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Content Blocks",
      "category": "Content Blocks",
      "blocks": [
        { 
          "type": "select"
        },
        {
          "type": "select"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}