<div class="section-faq l-shopping-cart-payment-faqs">
    <div class="payment-faqs js-payment-faqs">
        {% if section.settings.faq_show_heading %}
            <h2 class="payment-faqs__title">{{ section.settings.faq_heading }}</h2>
        {% endif %}
        {% comment %} Block Loop Start {% endcomment %}
        {% for block in section.blocks %}  
            <div class="payment-faqs__content-wrapper js-payment-faqs-content-wrapper {{ block.settings.sectionCcBlockClass }} {% if forloop.first == true %} js-payment-faqs-content-wrapper--active {% endif %}">
                <button class="payment-faqs__control js-payment-faqs-control">
                    {{ block.settings.faq_block_title }}
                    <svg class="icon icon--arrow-up"><use xlink:href="#arrow-up"></use></svg>
                    <svg class="icon icon--arrow-down"><use xlink:href="#arrow-down"></use></svg>
                </button>
                <div class="payment-faqs__content">
                    {{ block.settings.faq_block_content }}
                    {{ block.settings.faq_block_content_html }}
                </div>
            </div>
        {% endfor %}
        {% comment %} Block Loop ends {% endcomment %}
    </div>  
</div>  
{% schema %}
{
  "name": "FAQ Blocks",
  "max_blocks": 6,
  "settings": [
    {
      "id": "faq_heading",
      "type": "text",
      "label": "FAQ Heading",
      "default": "FAQ Heading"
    },
    {
        "type": "checkbox",
        "id": "faq_show_heading",
        "label": "Show FAQ Heading",
        "default": true
    }
  ],
  "blocks": [
    {
      "type": "select",
      "name": "Content Block",
      "settings": [
          {
          "id": "faq_block_class",
          "type": "text",
          "label": "Additional Class"
        },
          {
          "id": "faq_block_title",
          "type": "text",
          "label": "Block Title",
          "default": "Block Title"
        },
         {
          "id": "faq_block_content",
          "type": "richtext",
          "label": "FAQ Block Content",
          "default": "<p>Default FAQ <em>richtext</em> <a href=\"https://example.com/\">content</a></p>"
        },
        {
          "id": "faq_block_content_html",
          "type": "html",
          "label": "FAQ Block HTML",
          "info": "Use for HTML content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ Blocks",
      "category": "Content Blocks",
      "blocks": [
        { 
          "type": "select"
        },
        {
          "type": "select"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}