<footer class="footer footer--default">
    <div class="footer-nav u-page-width-max">
        {% comment %} <a class="footer-nav__action footer-nav__action--phone" href="tel:+1800229933">
      1-888-666-5905
      <svg class="icon icon--action-phone">
  <use xlink:href="#action-phone"></use>
</svg>

    </a>
        <a class="footer-nav__action footer-nav__action--contact" href="#">
      Contact Us
      <svg class="icon icon--action-mail">
  <use xlink:href="#action-mail"></use>
</svg>

    </a>
        <a class="footer-nav__action footer-nav__action--retailers" href="#">
      Find a Retailer
      <svg class="icon icon--action-location">
  <use xlink:href="#action-location"></use>
</svg>

    </a> {% endcomment %}
      <div class="footer-nav__menus">
        {% for block in section.blocks %}

      {% case block.settings.width %}
        {% when '16%' %}
          {%- assign block_width = 'small--one-whole two-twelfths' -%}
        {% when '25%' %}
          {%- assign block_width = 'small--one-whole one-quarter' -%}
        {% when '33%' %}
          {%- assign block_width = 'small--one-whole one-third' -%}
        {% when '50%' %}
          {%- assign block_width = 'small--one-whole one-half' -%}
        {% when '66%' %}
          {%- assign block_width = 'small--one-whole two-thirds' -%}
        {% when '75%' %}
          {%- assign block_width = 'small--one-whole three-quarters' -%}
        {% when '100%' %}
          {%- assign block_width = 'one-whole' -%}
      {% endcase %}
      <div class="footer-nav__menu-column">
      <div class="footer-nav__menu js-footer-nav-menu">
      {% if block.settings.title %}
        <button class="footer-nav__menu-button js-footer-nav-button">
          {{ block.settings.title | escape }}
        <svg class="icon icon--arrow-up">
            <use xlink:href="#arrow-up"></use>
        </svg>
        <svg class="icon icon--arrow-right">
            <use xlink:href="#arrow-right"></use>
        </svg>
        <svg class="icon icon--arrow-down">
            <use xlink:href="#arrow-down"></use>
        </svg>
        </button>
      {% endif %}

      {% case block.type %}

        {% when 'menu' %}
        <ul class="footer-nav__menu-items">
          {% for link in linklists[block.settings.menu].links %}
            <li class="yCmsComponent footer-nav__menu-item">
              <a href="{{ link.url }}" class="footer-nav__menu-link" title="{{ link.title }}">
              {{ link.title }}
              </a>
            </li>
          {% else %}
            {% capture theme_settings_footer_linklist_path %}<strong>Footer</strong> > <strong>Quick links link list</strong>{% endcapture %}
            {{ 'layout.footer.instructions_for_linklist_html' | t: theme_settings_link: theme_settings_link, theme_settings_footer_linklist_path: theme_settings_footer_linklist_path }}
          {% endfor %}
        </ul>

        {% when 'text' %}
            {% if block.settings.richtext != blank %}
              {{ block.settings.richtext }}
            {% else %}
              <p class="text-white">{{ 'layout.footer.instructions_for_text_content_html' | t: theme_settings_link: theme_settings_link }}</p>
            {% endif %}


        {% when 'newsletter' %}
          <div class="site-footer__newsletter-subtext">
            {% if block.settings.subtext != blank %}
              {{ block.settings.subtext }}
            {% endif %}
          </div>
          {% include 'newsletter-form' with button: 'secondary' %}
        {% endcase %}
      </div>
      </div>
  {% endfor %}
   </div>
   </div>
    <div class="footer__bottom">
        <div class="u-page-width-max">
            <a class="footer__geo footer__geo--country js-modal-open-link" data-modal-id="country-selector" href="#">
        <span class="footer__geo-label">Country:</span>
        <span class="footer__geo-current">
          United States
          <svg class="icon icon--arrow-right">
  <use xlink:href="#arrow-right"></use>
</svg>

        </span>
      </a>
            <a class="footer__geo footer__geo--language js-modal-open-link" data-modal-id="language-selector" href="#">
        <span class="footer__geo-current">
          English
          <svg class="icon icon--arrow-right">
  <use xlink:href="#arrow-right"></use>
</svg>
      </span>
      </a>
      {% if section.settings.social_enabled %}
          <ul class="inline-list social-icons">
             {% if settings.social_twitter_link != blank %}
               <li class="social-icons__item">
                 <a class="icon-fallback-text" href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Twitter' | escape }}">
                   <span class="icon icon-twitter" aria-hidden="true"></span>
                   <span class="fallback-text">Twitter</span>
                 </a>
               </li>
             {% endif %}
             {% if settings.social_facebook_link != blank %}
               <li class="social-icons__item">
                 <a class="icon-fallback-text" href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Facebook' | escape }}">
                   <span class="icon icon-facebook" aria-hidden="true"></span>
                   <span class="fallback-text">Facebook</span>
                 </a>
               </li>
             {% endif %}
             {% if settings.social_pinterest_link != blank %}
               <li class="social-icons__item">
                 <a class="icon-fallback-text" href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Pinterest' | escape }}">
                   <span class="icon icon-pinterest" aria-hidden="true"></span>
                   <span class="fallback-text">Pinterest</span>
                 </a>
               </li>
             {% endif %}
             {% if settings.social_google_plus_link != blank %}
               <li class="social-icons__item">
                 <a class="icon-fallback-text" href="{{ settings.social_google_plus_link | escape }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Google' | escape }}" rel="publisher">
                   <span class="icon icon-google_plus" aria-hidden="true"></span>
                   <span class="fallback-text">Google</span>
                 </a>
               </li>
             {% endif %}
             {% if settings.social_instagram_link != blank %}
               <li class="social-icons__item">
                 <a class="icon-fallback-text" href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Instagram' | escape }}">
                   <span class="icon icon-instagram" aria-hidden="true"></span>
                   <span class="fallback-text">Instagram</span>
                 </a>
               </li>
             {% endif %}
             {% if settings.social_snapchat_link != blank %}
               <li class="social-icons__item">
                 <a class="icon-fallback-text" href="{{ settings.social_snapchat_link }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Snapchat' | escape }}">
                   <span class="icon icon-snapchat" aria-hidden="true"></span>
                   <span class="fallback-text">Snapchat</span>
                 </a>
               </li>
             {% endif %}
             {% if settings.social_tumblr_link != blank %}
               <li class="social-icons__item">
                 <a class="icon-fallback-text" href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Tumblr' | escape }}">
                   <span class="icon icon-tumblr" aria-hidden="true"></span>
                   <span class="fallback-text">Tumblr</span>
                 </a>
               </li>
             {% endif %}
             {% if settings.social_youtube_link != blank %}
               <li class="social-icons__item">
                 <a class="icon-fallback-text" href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'YouTube' | escape }}">
                   <span class="icon icon-youtube" aria-hidden="true"></span>
                   <span class="fallback-text">YouTube</span>
                 </a>
               </li>
             {% endif %}
             {% if settings.social_vimeo_link != blank %}
               <li class="social-icons__item">
                 <a class="icon-fallback-text" href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Vimeo' | escape }}">
                   <span class="icon icon-vimeo" aria-hidden="true"></span>
                   <span class="fallback-text">Vimeo</span>
                 </a>
               </li>
             {% endif %}
             {% if settings.social_fancy_link != blank %}
               <li class="social-icons__item">
                 <a class="icon-fallback-text" href="{{ settings.social_fancy_link | escape }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Fancy' | escape }}">
                   <span class="icon icon-fancy" aria-hidden="true"></span>
                   <span class="fallback-text">Fancy</span>
                 </a>
               </li>
             {% endif %}
           </ul>
      {% endif %}
        </div>
    </div>
    <div class="footer__copyright">
<!--         <img class="footer__copyright-logo" src="{{ 'mauijim-brand-logo-small-white.png' | asset_url }}"> -->
        <span class="footer__copyright-text">&copy; {{ 'now' | date: "%Y" }} {{ section.settings.footer_copyrighttext | escape }}</span>
    </div>
</footer>

   

{% schema %}
  {
    "name": "Footer",
    "class": "footer-section",
    "settings": [
      {
        "type": "checkbox",
        "id": "social_enabled",
        "label": "Show social media icons",
        "info": "Add accounts in Social media section"
      },
      {
        "type": "text",
        "id": "footer_copyrighttext",
        "label": "Footer Copyright text"
      }
    ],
    "max_blocks": 9,
    "blocks": [
      {
        "type": "menu",
        "name": "Menu",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Quick links"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "16%",
            "options": [
              {
                "value": "16%",
                "label": "16%"
              },
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      },
      {
        "type": "text",
        "name": "Rich text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Get in touch"
          },
          {
            "type": "richtext",
            "id": "richtext",
            "label": "Text",
            "default": "<p>Use this text to share information about your brand with your customers.</p>"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
            "options": [
              {
                "value": "16%",
                "label": "16%"
              },
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "Newsletter signup",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Newsletter"
          },
          {
            "type": "richtext",
            "id": "subtext",
            "label": "Subtext",
            "default": "<p>Promotions, new products and sales. Directly to your inbox.</p>"
          },
          {
            "type": "paragraph",
            "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "33%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      }
    ]
  }
{% endschema %}
