<div id="freeGifts">
  <h1>DateTimeStamp {{ 'now' | date: "%s"}}</h1>
  <h1>15 August {{ '1597472999' | date: "%d-%m-%Y %k:%M" }}</h1>
</div>
{% schema %}
  {
    "name": "Free Gifts",
    "settings": [
      {
        "id": "enablefreegifts",
        "type": "checkbox",
        "label": "Enable Free on Every Purchase",
        "info": "On purchase of any product, user will get x quantity of SKU XXXX as free gift",
        "default": false
      },
      {
        "id": "productvid",
        "type": "text",
        "label": "Free Product Variation ID",
        "info": "Enter Product Variation ID, which you want add as free gift product [Help](https://help.shopify.com/en/manual/online-store/legacy/using-themes/change-the-layout/find-variant-id)",
        "default": "31808420151353"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}