<section id="hellowWorld">
  <h1>{{ section.settings.hw_heading }}</h1>
  </section>
  {% schema %}
  {
    "name": "Hello world2",
    "settings": [
        {
        "type": "text",
        "id": "hw_heading",
        "label": "Enter Heading",
        "default": "TEst Value"
      }
    ],
    "presets": [
    {
      "name": "Hello world2",
      "category": "Text Block"
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}