<div class="l-shopping-cart-assistance-info">
      <div class="assistance-info assistance-info--cart">
      {% if section.settings.na_heading %}
          <h4 class="assistance-info__title">{{ section.settings.na_heading }}</h4>
      {% endif %}
      <ul class="assistance-info__items">
      {% if section.settings.na_contact_text %}
        <li class="assistance-info__item">
          <a class="assistance-info__item-value" href="{{ section.settings.na_contact_link }}">
            <span class="assistance-info__item-label">
            {{ section.settings.na_contact_text }}
            </span>
            <svg class="icon icon--arrow-right"><use xlink:href="#arrow-right"></use></svg>
          </a>
        </li>
      {% endif %}
      {% if section.settings.na_subheading %}
        <li class="assistance-info__item">
          <span class="assistance-info__item-value">
            <span class="assistance-info__item-label">{{ section.settings.na_subheading }}</span>
          </span>
        </li>
      {% endif %}
      {% if section.settings.na_number %}
        <li class="assistance-info__item">
          <a class="assistance-info__item-value" href="tel:{{ section.settings.na_number }}">
            <svg class="icon icon--action-phone"><use xlink:href="#action-phone"></use></svg>
            <span class="assistance-info__item-label">{{ section.settings.na_number }}</span>
          </a>
        </li>
        {% endif %}
        {% if section.settings.na_email %}
        <li class="assistance-info__item">
          <a class="assistance-info__item-value" href="mailto:{{ section.settings.na_email }}">
            <svg class="icon icon--action-mail"><use xlink:href="#action-mail"></use></svg>
            <span class="assistance-info__item-label">{{ section.settings.na_email }}</span>
          </a>
        </li>
        {% endif %}
      </ul>
</div>

</div>

{% schema %}
  {
    "name": "Need assistance",
    "settings": [
		{
        "id": "na_heading",
        "type": "text",
        "label": "Need assistance Heading",
        "default": "Need assistance?"
      },
      {
        "id": "na_contact_text",
        "type": "text",
        "label": "CTA Text",
        "default": "Contact Us"
      },
      {
        "id": "na_contact_link",
        "type": "url",
        "label": "CTA Link"
      },
      {
        "id": "na_subheading",
        "type": "text",
        "label": "Subheading",
        "default": "Have a question or need help?"
      },
      {
        "id": "na_number",
        "type": "text",
        "label": "Contact Number",
        "default": "+1888-666-5905",
        "info": "Include country code e.g. +1 (for US)"
      },
      {
        "id": "na_email",
        "type": "text",
        "label": "Email Id",
        "default": "customercare@domain.com"
      }
],
"presets": [
    {
      "name": "Need assistance",
      "category": "Content Blocks"
    }
  ]
 }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
