<div data-section-id="{{ section.id }}" class="secondary-hero secondary-hero__{{ section.settings.sib_style }}">
  {% if section.settings.showSib== true %}
    {% if section.settings.sib_home_page_only == false or template.name == 'index' %}
    {%- assign img_url = section.settings.sib_img | img_url: 'original' -%}
    <img class="secondary-hero__image u-object-fit-cover" src="{{ img_url }}">
    <div class="secondary-hero__copy">
      {% if section.settings.sib_mainheading != blank %}
    	 <h1 class="secondary-hero__title" {% if section.settings.sib_mainheading_color != blank %} style="color: {{ section.settings.sib_mainheading_color }}" {% endif %}>{{ section.settings.sib_mainheading | escape }}</h1>
      {% endif %}
      {% if section.settings.sib_subheading != blank %}
         <h2 class="secondary-hero__subtitle"  {% if section.settings.sib_subheading_color != blank %} style="color: {{ section.settings.sib_subheading_color }}" {% endif %}>{{ section.settings.sib_subheading | escape }}</h2>
      {% endif %}
      {% if section.settings.sib_banner_link != blank %}
         <a href="{{ section.settings.sib_banner_link }}" class="button button--outlined secondary-hero__call-to-action">
      {% endif %}
      {% if section.settings.sib_btntext != blank %}
        {{ section.settings.sib_btntext | escape }}
      {% endif %}
      {% if section.settings.sib_banner_link != blank %}
         </a>
      {% endif %}
         </div>
  {% endif %}
   {% endif %}
</div>


{% schema %}
  {
    "name": {
      "en": "Single Image Banner",
      "de": "Single Image Banner2",
      "fr": "Single Image Banner3"
    },
    "settings": [
      {
        "type": "checkbox",
        "id": "showSib",
        "label": {
          "en": "Enable Single Image Banner",
          "de": "Enable Single Image Banner2",
          "fr": "Enable Single Image Banner3"
        },
        "default": false
      },
      {
        "type": "checkbox",
        "id": "sib_home_page_only",
        "label": {
          "en": "Show on Home page only",
          "de": "Show on Home page only2",
          "fr": "Show on Home page only3"
        },
        "default": true
      },
      {
        "type": "image_picker",
        "id": "sib_img",
        "label": {
          "en": "Select Image2",
          "de": "Select Image2",
          "fr": "Select Image3"
        }
      },
      {
        "type": "text",
        "id": "sib_mainheading",
        "label": {
          "en": "Main heading text",
          "de": "Main heading text de",
          "fr": "Main heading text fr"
        }
      },
      {
        "type": "color",
        "id": "sib_mainheading_color",
        "label": "Color",
        "default": "#ffffff",
        "info": "e.g. #F9F9F9"
      },
      {
        "type": "text",
        "id": "sib_subheading",
        "label": {
          "en": "Subheading text",
          "de": "Subheading text de",
          "fr": "Subheading text fr"
        },
        "default": {
          "en": "Banner subheading",
          "de": "Banner subheading2",
          "fr": "Banner subheading3"
        }
      },
      {
        "type": "color",
        "id": "sib_subheading_color",
        "label": "Color",
        "default": "#ffffff",
        "info": "e.g. #F9F9F9"
      },
      {
        "type": "url",
        "id": "sib_banner_link",
        "label": {
          "en": "Banner Link",
          "de": "Banner Link",
          "fr": "Banner Lien"
        },
        "info": {
          "en": "Optional",
          "de": "Optional",
          "fr": "Facultatif"
        }
      },
      {
        "type": "text",
        "id": "sib_btntext",
        "label": {
          "en": "Button Text",
          "de": "Button Text de",
          "fr": "Button Text fr"
        },
        "default": "Shop Now"
      },
      {
      "type": "select",
      "id": "sib_style",
      "options": [
          { "value": "style1", "label": "Style1"},
          { "value": "style2", "label": "Style2"},
          { "value": "style3", "label": "Style3"}
      ],
      "label": "Select Banner style"
    }
    ],
    "presets": [
    {
      "name": "Single Image Banner",
      "category": "Banner"
    }
  ]
  }
{% endschema %}
