<div id="enablespc">
  {% if section.settings.enablespc %}
  {{ '//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js' | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}
  {{ 'jquery.validate.min-1.17.js' | asset_url | script_tag }}
  {{ 'additional-methods-1.17.min.js' | asset_url | script_tag }}
  {{ 'script26.js' | asset_url | script_tag }}
  {% endif %}
</div>
{% schema %}
  {
    "name": "Single Page Checkout",
    "settings": [
      {
        "id": "enablespc",
        "type": "checkbox",
        "label": "Enable Single Page checkout",
        "info": "Toggle implementation of Single page checkout",
        "default": false
      }
    ]
  }
{% endschema %}

{% stylesheet %}
.checkout--active {
  opacity: 1;
}
.checkout--inactive {
  opacity: 0.55;
}
.checkout--inactive:hover {
  opacity: 1;
}
.checkout--active .content-box,
.section:hover .content-box {
  background: #fff;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.10);
}
.section--remember-me { display: none; }
.spc .content-box {
  /* border: 0 none */
}
.spc .content-box .content-box__row {
  /* padding: 0 */
}
.spc .content-box .review-block__inner {
  display: block;
}
.spc .content-box .content-box__row .review-block__label {
  color: #333333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 1.2857142857em;
  line-height: 1.3em;
  font-weight: 500;
}
.field__input.error {
  border-color: red;
}
.section__title {
  font-weight: 500;
}
label.error {
  color: red;
  display: inline-block;
  margin-top: 5px;
  font-size: 0.8rem;
}
.main .field__input.valid {
  border-color:#2ecc71 !important;
}
button[disabled], input[disabled],
button[disabled]:hover, input[disabled]:hover {
  background-color: gray !important;
}
.content-box__emphasis {
  font-size: 1.3em;
}
.section.section--shipping-method span.radio__label__primary span.small-text {
  color: #666;
}
@media (min-width: 1000px) {
  .section__text {
      margin-top: 0.25em;
      font-size: 12px;
      color: #666;
  }
  .step__footer__previous-link,
  .payment-method-wrapper .radio__label__accessory {
    display: none;
  }
  .wrap {
      padding: 0 2%;
      width: 96%;
      max-width: 90.571429em;
  }
  .content .sidebar {
      width: 28%;
      padding-left: 2%;
  }
  .content .main {
    width: 62%;
    padding-right: 2%;
  }
  .leftCol {
    width: 45%;
    margin-right: 5%;
  }
  .rightCol {
    float: left;
    width: 45%;
  }
  .step__footer {
    clear: both;
  }
  .section--remember-me .section__header {
    margin-bottom: 0.5em;
  }
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}