<div id="textsection">
	<div class="simpletext">
	    <h1>{{ section.settings.text-box-title | escape }}</h1>
	    <h3>{{ section.settings.text-box-content | escape }}</h3> 
	</div>
</div>


{% schema %}
  {
    "name": "Single Checkout",
    "settings": [{
        "id": "text-box-title",
        "type": "checkbox",
        "label": "Enable Single Page checkout",
        "info": "Toggle implementation of Single page checkout",
        "default": false
      },
      {
        "id": "text-box-content",
        "type": "checkbox",
        "label": "Enable Single Page checkout",
        "info": "Toggle implementation of Single page checkout",
        "default": false
      }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
