{% include 'wishlist-page' %}

{% schema %}
  {
    "name": "Wishlist",
    "settings": [
		{
          "type": "checkbox",
          "id": "wishlist_enable",
          "label": "Enable Wishlist"
        }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
