.modal.modal--about-product .modal__inner {
    max-width: 680px
}

.about-product {
    padding: 15px 10px 30px;
    background: url(../images/zeal-about-product-texture.gif);
    font-size: 1.4rem;
    line-height: 2rem
}

@media (min-width: 1025px) {
    .about-product {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 40px
    }
}

@media (min-width: 1025px) {
    .about-product__copy {
        width:45%;
        padding-right: 5px
    }
}

@media (min-width: 1025px) {
    .about-product__media {
        width:50%
    }

    .about-product__media:after {
        display: table;
        clear: both;
        content: ''
    }
}

.about-product__label {
    margin-top: 5px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.8rem;
    text-transform: uppercase
}

@media (min-width: 1025px) {
    .about-product__label {
        margin-top:0
    }
}

.about-product__features {
    margin-bottom: 20px;
    padding-left: 13px;
    text-transform: uppercase
}

@media (min-width: 681px) {
    .about-product__features {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

.about-product__feature-item {
    margin: 5px 0;
    font-weight: 700;
    line-height: 2rem;
    cursor: pointer
}

@media (min-width: 681px) {
    .about-product__feature-item {
        width:50%
    }

    .about-product__feature-item:nth-child(odd) {
        width: 48%;
        padding-right: 2%
    }
}

.about-product__media-title {
    margin-top: 5px;
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 2.8rem;
    text-align: center;
    text-transform: uppercase
}

@media (min-width: 681px) {
    .about-product__media-title {
        font-size:2.4rem
    }
}

@media (min-width: 1025px) {
    .about-product__media-title {
        margin-top:0
    }
}

.about-product__image-wrapper {
    max-width: 550px;
    margin: 0 auto
}

@media (min-width: 681px) {
    .about-product__image-wrapper {
        width:100%;
        max-width: 700px
    }
}

@media (min-width: 1025px) {
    .about-product__image-wrapper {
        margin:0;
        float: right
    }
}

.about-product__video-outer {
    max-width: 550px;
    margin: 0 auto
}

@media (min-width: 681px) {
    .about-product__video-outer {
        width:100%;
        max-width: 700px
    }
}

@media (min-width: 1025px) {
    .about-product__video-outer {
        margin:0;
        float: right
    }
}

.about-product__video-inner {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden
}

.about-product__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0
}

.customize,.mymaui-customize {
    position: relative
}

.customize:before,.mymaui-customize:before {
    position: absolute;
    right: 10px;
    bottom: 0;
    left: 10px;
    width: calc(100% - 20px);
    border-bottom: 1px solid #e2e2e2;
    content: '';
    z-index: 1
}

@media (min-width: 1025px) {
    .customize:before,.mymaui-customize:before {
        content:none
    }
}

.customize__options,.mymaui-customize__options {
    padding: 0 20px;
    border-top: 1px solid #f7f7f7
}

@media (min-width: 1025px) {
    .customize__options,.mymaui-customize__options {
        padding:0;
        border: 0
    }
}

.mymaui-customize__options {
    padding-bottom: 30px
}

.customize__option:after,.mymaui-customize__option:after {
    display: table;
    clear: both;
    content: ''
}

.customize__option:last-child .tooltip,.mymaui-customize__option:last-child .tooltip {
    top: auto;
    right: 25px;
    bottom: -5px
}

.customize__option:last-child .tooltip::before,.mymaui-customize__option:last-child .tooltip::before {
    top: auto;
    bottom: 5px
}

@media (min-width: 1025px) {
    .customize__option:last-child .tooltip,.mymaui-customize__option:last-child .tooltip {
        bottom:0
    }
}

.customize__option-label,.mymaui-customize__option-label {
    position: relative;
    margin: 20px 0 5px;
    color: #525252;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 1.7rem
}

.customize__option-label .tooltip,.mymaui-customize__option-label .tooltip {
    display: none;
    position: absolute;
    top: -10px;
    right: 25px
}

.customize__option-label .tooltip:before,.mymaui-customize__option-label .tooltip:before {
    top: 5px;
    right: -5px;
    left: auto;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 5px solid #0db287;
    border-right-style: none
}

.customize__option-label .js-tooltip--open,.mymaui-customize__option-label .js-tooltip--open {
    display: block
}

@media (min-width: 1025px) {
    .customize__option-label,.mymaui-customize__option-label {
        font-size:1.9rem;
        line-height: 2.3rem
    }
}

.customize__tooltip-trigger,.mymaui-customize__tooltip-trigger {
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    border-style: none;
    background: 0 0;
    cursor: pointer;
    fill: #999
}

@media (min-width: 1025px) {
    .customize__tooltip-trigger,.mymaui-customize__tooltip-trigger {
        top:5px
    }
}

.customize__option-value,.mymaui-customize__option-value {
    font-weight: 400
}

.customize__items,.mymaui-customize__items {
    margin: 0;
    padding: 0;
    list-style-type: none
}

.customize__item,.mymaui-customize__item {
    margin-right: 10px;
    float: left
}

.customize__option--select .customize__item,.customize__option--select .mymaui-customize__item,.mymaui-customize__option--select .customize__item,.mymaui-customize__option--select .mymaui-customize__item {
    width: 100%
}

.customize__option--label .customize__item,.customize__option--label .mymaui-customize__item,.mymaui-customize__option--label .customize__item,.mymaui-customize__option--label .mymaui-customize__item {
    width: 50%;
    margin: 0
}

@media (min-width: 681px) {
    .customize__item,.mymaui-customize__item {
        margin-right:40px
    }

    .customize__option--select .customize__item,.customize__option--select .mymaui-customize__item,.mymaui-customize__option--select .customize__item,.mymaui-customize__option--select .mymaui-customize__item {
        width: 50%
    }
}

@media (min-width: 1025px) {
    .customize__item,.mymaui-customize__item {
        margin-right:30px
    }

    .customize__option--select .customize__item,.customize__option--select .mymaui-customize__item,.mymaui-customize__option--select .customize__item,.mymaui-customize__option--select .mymaui-customize__item {
        width: 100%
    }
}

.radio+.mymaui-customize__item-label {
    height: 40px;
    line-height: 40px
}

.radio+.mymaui-customize__item-label:before {
    top: 7px;
    left: 7px;
    width: 26px;
    height: 26px
}

.radio+.mymaui-customize__item-label:after {
    width: 40px;
    height: 40px;
    border-width: 3px
}

.customize__option--square .radio+.mymaui-customize__item-label:after,.customize__option--square .radio+.mymaui-customize__item-label:before,.mymaui-customize__option--square .radio+.mymaui-customize__item-label:after,.mymaui-customize__option--square .radio+.mymaui-customize__item-label:before {
    border-radius: 0
}

.customize__option--label .radio+.mymaui-customize__item-label,.mymaui-customize__option--label .radio+.mymaui-customize__item-label {
    padding-left: 50px
}

@media (min-width: 681px) {
    .radio+.mymaui-customize__item-label {
        height:60px;
        line-height: 60px
    }

    .radio+.mymaui-customize__item-label:before {
        top: 10px;
        left: 10px;
        width: 40px;
        height: 40px
    }

    .radio+.mymaui-customize__item-label:after {
        width: 60px;
        height: 60px
    }

    .customize__option--label .radio+.mymaui-customize__item-label,.mymaui-customize__option--label .radio+.mymaui-customize__item-label {
        padding-left: 70px
    }
}

.radio:checked+.customize__item-label,.radio:checked+.mymaui-customize__item-label {
    font-weight: 700
}

.mymaui-customize__item-alternate-fill {
    position: absolute;
    top: 7px;
    left: 7px;
    width: 26px;
    height: 26px;
    z-index: 1;
    box-sizing: border-box
}

.customize__option--round .mymaui-customize__item-alternate-fill,.mymaui-customize__option--round .mymaui-customize__item-alternate-fill {
    border-radius: 50%
}

@media (min-width: 681px) {
    .mymaui-customize__item-alternate-fill {
        top:10px;
        left: 10px;
        width: 40px;
        height: 40px
    }
}

.js-customize-disabled {
    display: none
}

.customize__option-value {
    font-weight: 400
}

.customize__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0
}

.customize__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 85px;
    flex: 0 0 85px;
    margin: 0 15px 15px 0;
    list-style-type: none
}

.customize__item .form-item--radio {
    margin: 0
}

.customize__item .radio__image {
    margin: 0
}

@media (min-width: 769px) {
    .customize__item {
        -webkit-box-flex:0;
        -ms-flex: 0 0 100px;
        flex: 0 0 100px
    }
}

.customize__options-help {
    margin-top: 35px;
    padding-bottom: 20px
}

.customize__options-help .paragraph {
    font-size: 1.4rem;
    line-height: 2rem
}

.customize__option .customize__items {
    margin-top: 15px
}

.customize__option .customize__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    margin-right: 15px
}

@media (min-width: 681px) {
    .customize__option .customize__item {
        -webkit-box-flex:0;
        -ms-flex: 0 0 60px;
        flex: 0 0 60px;
        margin-right: 20px
    }
}

.customize__option .customize__item-label {
    width: 30px;
    height: 30px;
    padding-left: 0
}

@media (min-width: 681px) {
    .customize__option .customize__item-label {
        width:60px;
        height: 60px
    }
}

.customize__option .radio--alternate~label:before {
    display: none
}

@media (min-width: 681px) {
    .customize__option .radio--alternate~label:after {
        width:60px;
        height: 60px;
        border-width: 3px
    }
}

@media (min-width: 681px) {
    .customize__option .radio--alternate~label .radio__alternate-fill {
        top:10px;
        left: 10px;
        width: 40px;
        height: 40px
    }
}

.customize__option .radio--alternate:not(:checked)~label .radio__alternate-fill {
    opacity: 1
}

.customize__option--square .radio--alternate~label .radio__alternate-fill,.customize__option--square .radio--alternate~label:after {
    border-radius: 0
}

.customize__option--switch {
    border-top: 1px solid #e2e2e2
}

.customize__option--switch .customize__items {
    display: block
}

.customize__option--switch .customize__item {
    display: block;
    width: 100%;
    margin-right: 0
}

.customize--core-clip-on .customize__option--square {
    margin-bottom: 25px
}

.customize--core-clip-on .customize__items {
    margin-top: 5px
}

.customize--rimless .customize__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83px;
    flex: 0 0 83px;
    margin: 0 10px 10px 0
}

@media (min-width: 681px) {
    .customize--rimless .customize__item {
        -webkit-box-flex:0;
        -ms-flex: 0 0 100px;
        flex: 0 0 100px
    }
}

.customize--rimless .radio__image {
    width: 55px;
    padding: 14px 12px
}

@media (min-width: 681px) {
    .customize--rimless .radio__image {
        width:80px;
        padding: 19px 8px
    }
}

.customize--rimless .radio__image--narrow {
    width: 75px;
    padding: 3px 2px
}

@media (min-width: 681px) {
    .customize--rimless .radio__image--narrow {
        width:92px
    }
}

.customize--rimless-colors .customize__option-label {
    display: none
}

@media (min-width: 769px) {
    .customize--rimless-colors .customize__option-label {
        display:block
    }
}

.filters {
    position: relative
}

@media (min-width: 681px) {
    .filters {
        margin:0 10px
    }
}

.filter-controls {
    height: 50px;
    margin-top: 10px;
    padding: 13px 10px;
    background-color: #f7f7f7;
    text-align: center;
    box-sizing: border-box
}

@media (min-width: 681px) {
    .filter-controls {
        margin-top:0;
        padding: 15px 0;
        background-color: transparent
    }
}

.filter-controls__result-summary {
    color: #525252;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 2px;
    position: absolute;
    right: 0;
    left: 0;
    line-height: 2.8rem;
    pointer-events: none
}

@media (min-width: 681px) {
    .filter-controls__result-summary {
        line-height:2rem
    }
}

.filter-controls__button {
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.4rem;
    color: #252525
}

.filter-controls__button:focus {
    outline: 0
}

.filter-controls__button--open {
    float: left
}

@media (min-width: 681px) {
    .filter-controls__button--open {
        display:none
    }
}

.filter-controls__icon {
    display: inline-block;
    vertical-align: middle;
    fill: #999
}

.filter-controls__button--open .filter-controls__icon {
    margin-right: 5px
}

.filter-controls__button--sort .filter-controls__icon {
    margin-left: 5px
}

.filter-controls__label {
    display: inline-block;
    vertical-align: middle
}

.filter-controls__button[data-selected=true] .filter-controls__label {
    font-weight: 700
}

.filter-controls__sort-wrapper {
    position: relative;
    top: 3px;
    width: 120px;
    height: 100%;
    float: right
}

.filter-controls__sort-wrapper .filter-controls__button {
    position: absolute;
    top: 0;
    right: 0
}

.filter-controls__sort-wrapper .filter-controls__sort-tooltip {
    top: calc(100% + 15px);
    right: 0;
    text-align: left
}

.filter-controls__sort-wrapper .filter-controls__sort-tooltip:before {
    right: 50px;
    left: auto
}

@media (min-width: 681px) {
    .filter-controls__sort-wrapper {
        top:0
    }

    .filter-controls__sort-wrapper.js-select-tooltip--open .icon,.filter-controls__sort-wrapper:hover .icon {
        fill: #0db287
    }

    .filter-controls__sort-wrapper.js-select-tooltip--open .filter-controls__button {
        color: #0db287
    }
}

.filter-controls__prescription--small {
    margin-bottom: 30px
}

.filter-controls__prescription--small .checkbox {
    background-color: transparent
}

@media (min-width: 681px) {
    .filter-controls__prescription--small {
        display:none
    }
}

.filter-controls__prescription--medium {
    display: none;
    float: left
}

@media (min-width: 681px) {
    .filter-controls__prescription--medium {
        display:block
    }
}

.filter-controls__toggle-shape {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid #999;
    vertical-align: middle;
    box-sizing: border-box
}

.filter-controls__button[data-selected=true] .filter-controls__toggle-shape:after {
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    background-color: #0db287;
    content: ''
}

.filters__categories-wrapper {
    position: relative
}

@media (min-width: 0) and (max-width:680px) {
    .filters__categories-wrapper {
        display:none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 70px;
        left: 0;
        padding: 20px;
        background-color: #f7f7f7;
        overflow: scroll;
        z-index: 50;
        box-sizing: border-box
    }

    .js-filters-categories-open .filters__categories-wrapper {
        display: block
    }
}

@media (min-width: 681px) {
    .filters__categories-wrapper {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0 -10px
    }
}

@media (min-width: 1025px) {
    .filters__categories-wrapper {
        margin:0
    }
}

.filters__close-button {
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
    color: #525252;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 2px;
    position: relative;
    left: -20px;
    margin-bottom: 30px;
    padding: 8px 10px;
    border-radius: 0 10px 10px 0;
    background-color: #fff;
    text-transform: uppercase;
    cursor: pointer
}

.filters__close-button:focus {
    outline: 0
}

.filters__close-button .icon {
    margin: 0 5px
}

@media (min-width: 681px) {
    .filters__close-button {
        display:none
    }
}

.js-selected-filter-close-icon {
    display: none
}

.filters__selected {
    margin: 10px 0 0;
    padding: 10px 0 0;
    list-style-type: none
}

.filters__selected:empty {
    display: none
}

.filters__selected:not(:empty) {
    border-top: 1px solid #e2e2e2
}

.filters__selected .icon {
    pointer-events: none
}

@media (min-width: 0) and (max-width:680px) {
    .filters__selected .icon {
        width:9px;
        height: 9px;
        margin-right: 5px;
        fill: #e62e2e
    }
}

@media (min-width: 681px) {
    .filters__selected {
        box-sizing:border-box;
        width: 83.33333%;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        margin: 0
    }

    .filters__selected:not(:empty) {
        border-top: 0
    }

    .filters__selected .icon {
        position: relative;
        top: 1px;
        width: 12px;
        height: 12px;
        margin-right: 10px
    }

    .filters__selected .js-filters-selected-filter:hover .icon {
        fill: #e62e2e;
    }
    .filters__selected .js-filters-selected-filter:hover a{
        color:#e62e2e;
    }
}

@media (min-width: 1025px) {
    .filters__selected {
        box-sizing:border-box;
        width: 66.66667%;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 16.66667%;
        text-align: center
    }
}

.js-filters-selected-filter {
    font-size: 1.4rem;
    display: inline-block;
    margin-bottom: 15px;
    cursor: pointer
}

.js-filters-selected-filter .fas {
    margin-right:5px;
}
li.advanced-filter i {
    font-size: 15px;
    margin-right: 5px;
}
@media (min-width: 0) and (max-width:680px) {
    .js-filters-selected-filter {
        margin-right:5px;
        padding: 7px 15px 5px;
        border-radius: 30px;
        background-color: #fff
    }
}

@media (min-width: 681px) {
    .js-filters-selected-filter {
        margin-right:20px
    }
}

.filters__categories {
    margin: 0;
    padding: 0;
    list-style-type: none
}

@media (min-width: 0) and (max-width:680px) {
    .filters__categories {
        border-top:1px solid #e2e2e2
    }
}

@media (min-width: 681px) {
    .filters__categories {
        position:relative;
        background-color: #e2e2e2;
        font-size: 14px;
        text-align: center
    }
}

@media (min-width: 681px) {
    .filters__category {
        display:inline-block
    }

    .filters__category.js-filters-category-open {
        background-color: #fff
    }
}

.filters__category-button {
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
    display: block;
    position: relative;
    width: 100%;
    padding: 15px 0 10px;
    border-bottom: 1px solid #e2e2e2;
    color: #252525;
    font-size: 1.9rem;
    text-align: left;
    box-sizing: border-box
}

.filters__category-button:focus {
    outline: 0
}

.filters__category-button .icon {
    position: absolute;
    right: 0;
    pointer-events: none
}

.filters__category-button .icon--arrow-down {
    top: 25px
}

.js-filters-category-open .filters__category-button .icon--arrow-down {
    display: none
}

.filters__category-button .icon--close-large {
    display: none;
    top: 20px;
    width: 12px;
    height: 12px
}

.js-filters-category-open .filters__category-button .icon--close-large {
    display: block
}

@media (min-width: 681px) {
    .filters__category-button {
        color:#525252;
        font-size: 1.4rem;
        font-weight: 700;
        letter-spacing: 2px;
        padding: 2px 15px 0;
        border-bottom: 0;
        line-height: 48px;
        text-transform: uppercase
    }

    .filters__category:not([data-toggle]) .filters__category-button {
        padding-right: 30px
    }

    .filters__category-button .icon {
        right: 10px
    }

    .filters__category-button .icon--arrow-down {
        top: 23px
    }

    .filters__category-button .icon--close-large {
        top: 19px
    }
}

@media (min-width: 1025px) {
    .filters__category:not([data-toggle]) .filters__category-button {
        padding-right:50px
    }

    .filters__category:not([data-toggle]) .filters__category-button .icon {
        right: 20px
    }
}

.filters__subcategory-wrapper {
    display: none;
    margin: 0 -20px;
    padding: 2px 20px 10px;
    background-color: #fff
}

.js-filters-category-open .filters__subcategory-wrapper {
    display: block
}

@media (min-width: 681px) {
    .filters__subcategory-wrapper {
        display:block;
        position: absolute;
        right: 20px;
        left: 20px;
        padding: 0 0 10px;
        transition: visibility .2s ease 0s,opacity .2s ease 0s;
        border-bottom: 1px solid #e2e2e2;
        text-align: left;
        box-shadow: 0 30px 30px 0 rgba(0,0,0,.1);
        opacity: 0;
        visibility: hidden;
        z-index: 5
    }

    .js-filters-category-open .filters__subcategory-wrapper {
        opacity: 1;
        visibility: visible
    }

    .js-filters-prevent-transitions .filters__subcategory-wrapper {
        transition: none 0s ease 0s
    }
}

@media (min-width: 1025px) {
    .filters__subcategory {
        margin:0 -10px
    }
}

@media (min-width: 1025px) {
    .filters__subcategory-inner {
        box-sizing:border-box;
        width: 66.66667%;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 16.66667%;
        padding: 0
    }
}

.filters__subcategory-label {
    margin: 20px 0 15px;
    text-transform: uppercase
}

@media (min-width: 681px) {
    .filters__subcategory-label {
        box-sizing:border-box;
        width: 100%;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 30px;
        font-size: 1.9rem;
        font-weight: 400;
        letter-spacing: 3px;
        text-transform: none
    }
}

.filters__items {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 10px
}

.filters__items:after {
    display: table;
    clear: both;
    content: ''
}

.filters__item {
    position: relative;
    margin-bottom: 15px
}

.filters__item .tooltip {
    display: none
}

@media (min-width: 0) and (max-width:680px) {
    .filters__item {
        width:50%;
        float: left
    }

    .filters__subcategory--conditions .filters__item,.filters__subcategory--frame-style .filters__item,.filters__subcategory--lens-color .filters__item,.filters__subcategory--lens-material .filters__item {
        width: 100%;
        float: none
    }
}

@media (min-width: 681px) {
    .filters__item {
        box-sizing:border-box;
        width: 25%;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        float: left
    }

    .filters__subcategory--conditions .filters__item,.filters__subcategory--frame-style .filters__item,.filters__subcategory--lens-size .filters__item {
        box-sizing: border-box;
        width: 33.33333%;
        float: left;
        padding-left: 10px;
        padding-right: 10px
    }

    .filters__subcategory--lens-color .filters__item {
        box-sizing: border-box;
        width: 33.33333%;
        float: left;
        padding-left: 10px;
        padding-right: 10px
    }

    .filters__item.filters__item--alternate {
        position: relative;
        left: -5px
    }

    .filters__item:hover .tooltip {
        display: block;
        position: absolute;
        top: 40px
    }
}

@media (min-width: 1440px) {
    .filters__subcategory--frame-style .filters__item {
        box-sizing:border-box;
        width: 25%;
        float: left;
        padding-left: 10px;
        padding-right: 10px
    }

    .filters__subcategory--frame-color .filters__item {
        box-sizing: border-box;
        width: 16.66667%;
        float: left;
        padding-left: 10px;
        padding-right: 10px
    }

    .filters__subcategory--lens-color .filters__item {
        box-sizing: border-box;
        width: 20%;
        float: left;
        padding-left: 10px;
        padding-right: 10px
    }

    .filters__subcategory--lens-size .filters__item {
        box-sizing: border-box;
        width: 25%;
        float: left;
        padding-left: 10px;
        padding-right: 10px
    }
}

.filters__item-label {
    font-size: 1.4rem;
    color: #252525;
    width: 100%;
    margin-bottom: 3px;
    vertical-align: middle
}

.filters__subcategory--lens-color .filters__item-label .filters__item-alternate-fill,.filters__subcategory--lens-color .filters__item-label:after,.filters__subcategory--lens-color .filters__item-label:before {
    border-radius: 50%
}

.filters__item-label .icon {
    top: -2px!important;
    padding-left: 6px!important
}

.filters__item-input:checked+.filters__item-label {
    color: #252525;
    font-weight: 700
}

.filters__item-input.checkbox--image+.filters__item-label:after {
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    border: 2px solid #ccc;
    content: '';
    pointer-events: none
}

.filters__subcategory--frame-style .filters__item-input.checkbox--image+.filters__item-label:after {
    -webkit-transform: none;
    transform: none
}

.filters__item-input.checkbox--image:checked+.filters__item-label:after {
    border: 2px solid #0db287
}

.filters__item-alternate-fill {
    position: absolute;
    top: 50%;
    left: 5px;
    width: 20px;
    height: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    box-sizing: border-box
}

.filters__item--radio .filters__item-alternate-fill {
    border-radius: 50%
}

.filters__item-image {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle
}
.filters__item--active {
    font-weight:bold;
    a {
        color: #252525;
        font-weight: 700;
    }
    i {
        color:#0db287;
    }
}

.filters__item--image {
    min-height: 35px
}

.filters__submit-wrapper {
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 70px;
    padding: 10px;
    background-color: #f7f7f7;
    z-index: 50;
    box-sizing: border-box
}

.js-filters-categories-open .filters__submit-wrapper {
    display: block
}

@media (min-width: 681px) {
    .filters__submit-wrapper {
        display:none!important
    }
}

.filters__submit {
    width: 100%;
    cursor: pointer
}

.filters__reset-wrapper {
    display: none;
    position: absolute;
    top: 100px;
    right: 10px;
    padding-top: 15px;
    z-index: 2
}

.l-secondary-filters .filters__reset-wrapper {
    top: 50px
}

@media (min-width: 681px) {
    .js-filters-active .filters__reset-wrapper {
        display:block
    }
}

.filters__reset {
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
    color: #e62e2e;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 2px
}

.filters__reset:focus {
    outline: 0
}

.filters__angles-label {
    margin: 25px 0 0;
    color: #525252;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase
}

@media (min-width: 681px) {
    .filters__angles-label {
        margin-bottom:-10px
    }
}

.filters__angles {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 10px;
    text-align: center
}

@media (min-width: 681px) {
    .filters__angles {
        margin-top:23px
    }
}

.filters__angle {
    display: inline-block;
    margin: 0 15px
}

.filters__angle:first-child {
    margin-left: 0
}

.filters__angle:last-child {
    margin-right: 0
}

@media (min-width: 681px) {
    .filters__angle {
        margin:0 20px
    }
}

.filters__angle-button {
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer
}

.filters__angle-button:focus {
    outline: 0
}

.filters__angle-image {
    transition: opacity .2s ease 0s;
    opacity: .5;
    pointer-events: none
}

.filters__angle-button:hover .filters__angle-image,.js-filters-angle-button--active .filters__angle-image {
    opacity: 1
}

@media (min-width: 0) and (max-width:680px) {
    .filters__angle-image {
        width:50px
    }
}

.filters__angle-label {
    transition: opacity .2s ease 0s;
    color: #252525;
    font-size: 1.4rem;
    letter-spacing: 1px;
    line-height: 2rem;
    opacity: 0;
    pointer-events: none
}

.filters__angle-button:hover .filters__angle-label,.js-filters-angle-button--active .filters__angle-label {
    opacity: 1
}

.lens-detail {
    padding: 0 10px;
    color: #252525;
    line-height: 2rem;
    text-align: center
}

.lens-detail:after {
    display: table;
    clear: both;
    content: ''
}

@media (min-width: 1025px) {
    .lens-detail {
        margin-right:0;
        margin-left: 0;
        padding: 0
    }
}

.lens-detail__title {
    margin: 0;
    font-size: 1.6rem;
    letter-spacing: 1px;
    line-height: 1.9rem;
    text-transform: uppercase
}

@media (min-width: 1025px) {
    .lens-detail__title {
        margin-bottom:20px;
        font-size: 2.4rem;
        line-height: 2.8rem
    }
}

@media (min-width: 1025px) {
    .lens-detail__text {
        box-sizing:border-box;
        width: 33.33333%;
        float: left;
        padding-left: 10px;
        padding-right: 10px
    }
}

@media (min-width: 1025px) {
    .lens-detail__comparison {
        box-sizing:border-box;
        width: 66.66667%;
        float: left;
        padding-left: 10px;
        padding-right: 10px
    }
}

.lens-detail__headline {
    font-size: 1.4rem;
    margin: 0
}

@media (min-width: 681px) {
    .lens-detail__headline {
        font-size:1.9rem;
        line-height: 3rem
    }
}

.lens-detail__subheadline {
    font-size: 1.4rem;
    color: #999;
    text-transform: uppercase
}

.lens-detail__description {
    font-size: 1.4rem
}

@media (min-width: 681px) {
    .lens-detail__description {
        box-sizing:border-box;
        width: 83.33333%;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 8.33333%;
        text-align: left
    }
}

@media (min-width: 1025px) {
    .lens-detail__description {
        width:100%;
        margin: 15px 0
    }
}

.lens-detail__lens-image {
    margin: 20px auto
}

@media (min-width: 1025px) {
    .lens-detail__lens-image {
        margin-top:0
    }
}

@media (min-width: 681px) {
    .product-call-to-action:after {
        display:table;
        clear: both;
        content: ''
    }
}

.product-call-to-action__label {
    color: #252525;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center
}

.product-call-to-action--try-in-store .product-call-to-action__label {
    line-height: 2rem
}

.product-call-to-action--try-in-store .product-call-to-action__label br {
    display: none
}

@media (min-width: 681px) {
    .product-call-to-action--try-in-store .product-call-to-action__label {
        text-align:left
    }

    .product-call-to-action--try-in-store .product-call-to-action__label br {
        display: block
    }
}

@media (min-width: 0) and (max-width:680px) {
    .product-call-to-action__label {
        display:block;
        margin-bottom: 5px
    }
}

@media (min-width: 681px) {
    .product-call-to-action__label {
        float:left;
        line-height: 5rem
    }
}

@media (min-width: 1025px) {
    .product-call-to-action__label {
        width:calc(100% - 274px);
        margin-top: 5px;
        line-height: 2rem;
        text-align: left
    }
}

.product-call-to-action__button {
    position: relative;
    line-height: 4.8rem
}

.product-call-to-action--mymaui .product-call-to-action__button {
    background: #fff url(../images/mymaui-accent.gif) no-repeat 10px 16px
}

.product-call-to-action--mymaui .product-call-to-action__button .icon {
    position: absolute;
    top: 21px;
    right: 10px;
    height: 8px;
    fill: #0db287
}

@media (min-width: 0) and (max-width:680px) {
    .product-call-to-action__button {
        display:block;
        margin-right: auto;
        margin-left: auto
    }
}

@media (min-width: 681px) {
    .product-call-to-action__button {
        float:right;
        box-sizing: border-box
    }
}

@media (min-width: 1025px) {
    .product-call-to-action__button {
        width:300px
    }
}

.product-call-to-action--find-an-optician .product-call-to-action__label,.product-call-to-action--print .product-call-to-action__label {
    width: auto;
    margin-bottom: 5px;
    float: none
}

.product-call-to-action--find-an-optician .product-call-to-action__button,.product-call-to-action--print .product-call-to-action__button {
    display: block;
    width: auto;
    float: none
}

@media (min-width: 1025px) {
    .product-call-to-action--find-an-optician,.product-call-to-action--print {
        width:264px
    }
}

.product-call-to-action--find-an-optician .product-call-to-action__label {
    display: none
}

@media (min-width: 1025px) {
    .product-call-to-action--find-an-optician .product-call-to-action__label {
        display:block
    }
}

.product-call-to-action--print .product-call-to-action__label {
    display: block
}

.product-controls {
    margin: 0;
    padding: 0;
    list-style-type: none
}

.product-controls:after {
    display: table;
    clear: both;
    content: ''
}

.product-controls__item {
    width: 33.3333%;
    float: left
}

@media (min-width: 1025px) {
    .product-controls__item {
        width:auto
    }

    .product-controls__item:not(:first-child) {
        margin-left: 30px;
        padding-left: 30px;
        border-left: 1px solid #999
    }
}

.product-controls__button {
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.4rem;
    width: 100%;
    transition: color .2s ease 0s;
    color: #252525;
    letter-spacing: 1px;
    text-decoration: none
}

.product-controls__button:focus {
    outline: 0
}

.product-controls__button .icon {
    display: block;
    margin: 0 auto 10px;
    transition: fill .2s ease 0s;
    fill: #999
}

.product-controls__button .icon--compare-filled,.product-controls__button .icon--heart-filled {
    fill: #0db287
}

.product-controls__button:focus .icon,.product-controls__button:hover .icon {
    fill: #0db287
}

@media (min-width: 1025px) {
    .product-controls__button .icon {
        display:inline-block;
        margin: 0 10px 0 0;
        vertical-align: middle
    }
}

.product-controls__label {
    font-weight: 400;
    text-transform: capitalize;
}

@media (min-width: 0) and (max-width:680px) {
    .product-controls__label--small {
        display:block
    }
}

@media (min-width: 681px) and (max-width:1024px) {
    .product-controls__label--medium {
        display:block
    }
}

@media (min-width: 1025px) {
    .product-controls__label--large {
        display:inline-block;
        vertical-align: middle
    }
}

.product-controls__state {
    pointer-events: none
}

.product-controls__state--add {
    display: block
}

.product-controls__state--remove {
    display: none
}

.js-product-controls-button--active .product-controls__state--add {
    display: none
}

.js-product-controls-button--active .product-controls__state--remove {
    display: block
}

.product-detail {
    max-width: 940px;
    margin: 0 auto;
    text-align: center
}

.product-detail__carousel-wrapper {
    position: relative;
    max-width: 900px;
    margin: 0 auto
}

.product-detail__carousel {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden
}

.product-detail__carousel-item:not(:first-child) {
    display: none
}

.product-detail__carousel-video-outer {
    max-width: 515.5px;
    max-height: 290px;
    margin: 0 auto
}

@media (min-width: 1025px) {
    .product-detail__carousel-video-outer {
        padding-bottom:30px
    }
}

.product-detail__carousel-video-inner {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden
}

.product-detail__carousel-video-inner iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0
}

.product-detail__carousel-control {
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
    position: absolute;
    top: calc(50% - 18px);
    width: 36px;
    height: 36px;
    fill: #525252
}

.product-detail__carousel-control:focus {
    outline: 0
}

.product-detail__carousel-control[disabled] {
    opacity: 0;
    pointer-events: none
}

.product-detail__carousel-control:before {
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    border-width: 1px 1px 0 0;
    border-style: solid;
    content: '';
    pointer-events: none
}

.product-detail__carousel-control:focus {
    outline: 0
}

@media (min-width: 1025px) {
    .product-detail__carousel-control {
        display:block
    }
}

.product-detail__carousel-control--prev {
    left: -36px
}

.product-detail__carousel-control--prev:before {
    left: 13px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg)
}

.product-detail__carousel-control--next {
    right: -36px
}

.product-detail__carousel-control--next:before {
    left: -2px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.product-detail__carousel-nav {
    display: inline-block
}

@media (min-width: 1025px) {
    .product-detail__carousel-nav {
        margin-top:-30px
    }
}

.product-detail__carousel-nav-item {
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 30px;
    float: left
}

.product-detail__carousel-nav-item:focus {
    outline: 0
}

.product-detail__carousel-nav-item:before,.product-detail__carousel-nav-item[aria-selected=true]:after {
    position: absolute;
    border-radius: 50%;
    content: ''
}

.product-detail__carousel-nav-item:before {
    top: 9px;
    left: 9px;
    width: 10px;
    height: 10px;
    border: 1px solid #525252
}

.product-detail__carousel-nav-item[aria-selected=true]:after {
    top: 12px;
    left: 12px;
    width: 6px;
    height: 6px;
    background-color: #252525
}

.product-detail__variant-label {
    min-height: 19px;
    margin: 5px 0 10px;
    color: #525252;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.9rem
}

@media (min-width: 769px) {
    .product-detail__variant-label {
        min-height:28px;
        font-size: 2.4rem;
        line-height: 2.8rem
    }
}

.product-detail__variants {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    text-align: center
}

.product-detail__variants:after {
    display: table;
    clear: both;
    content: ''
}

.product-detail__variants:not(.js-product-detail-variants--active) {
    display: none
}

@media (min-width: 0) and (max-width:680px) {
    .product-detail__variants {
        max-width:312px
    }
}

.product-detail__variant {
    position: relative;
    width: 52px;
    height: 52px;
    float: left;
    cursor: pointer
}

.product-detail__variant:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: border-color .2s ease 0s;
    border: 2px solid transparent;
    content: '';
    pointer-events: none
}

.product-detail__variant.js-product-detail-variant--active:after {
    border-color: #0db287!important
}

@media (min-width: 681px) {
    .product-detail__variant {
        width:calc(25% - 6px);
        min-width: 142px;
        height: auto;
        min-height: 62px;
        margin: 0 3px
    }

    .product-detail__variant:after {
        right: auto;
        left: 50%;
        width: 142px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }
}

@media (min-width: 769px) {
    .product-detail__variant {
        width:calc(20% - 6px)
    }
}

@media (min-width: 1025px) {
    .product-detail__variant {
        width:calc(16.6666% - 6px)
    }

    .product-detail__variant:hover:after {
        border-color: #ccc
    }
}

.product-detail__variant-button {
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    top: 6px;
    width: 40px;
    height: 40px;
    background-size: cover;
    font-size: 0;
    white-space: nowrap;
    pointer-events: none
}

.product-detail__variant-button:focus {
    outline: 0
}

@media (min-width: 681px) {
    .product-detail__variant-button {
        top:3px;
        width: 140px;
        height: auto
    }
}

@media (min-width: 681px) {
    .product-detail .product-detail__variant-button {
        border:0!important;
        background: 0 0!important
    }
}

.product-detail__variant-image {
    width: 100%;
    height: auto;
    margin: 0 auto
}

@media (min-width: 0) and (max-width:680px) {
    .product-detail__variant-image {
        display:none
    }
}

.product-detail__variants-controls {
    position: absolute;
    top: 0;
    width: 100%
}

.product-detail__variants-control {
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    width: 26px;
    height: 52px
}

.product-detail__variants-control:focus {
    outline: 0
}

.product-detail__variants-control .icon {
    position: absolute;
    top: 50%;
    width: 10px;
    height: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.product-detail__variants-control:not([data-controls]),.product-detail__variants-control[disabled] {
    display: none
}

@media (min-width: 360px) {
    .product-detail__variants-control {
        width:46px
    }
}

@media (min-width: 681px) {
    .product-detail__variants-control {
        height:67px
    }
}

.product-detail__variants-control--prev {
    left: -26px
}

@media (min-width: 360px) {
    .product-detail__variants-control--prev {
        left:-46px
    }
}

@media (min-width: 0) and (max-width:680px) {
    .product-detail__variants-control--prev .icon {
        right:7px
    }
}

@media (min-width: 1025px) {
    .product-detail__variants-control--prev .icon {
        right:12px
    }
}

.product-detail__variants-control--next {
    right: 26px
}

@media (min-width: 360px) {
    .product-detail__variants-control--next {
        right:46px
    }
}

@media (min-width: 0) and (max-width:680px) {
    .product-detail__variants-control--next .icon {
        left:7px
    }
}

@media (min-width: 1025px) {
    .product-detail__variants-control--next .icon {
        left:12px
    }
}

.product-detail__carousel-image {
    max-height: 320px;
    margin: 0 auto
}

@media (min-width: 681px) {
    .product-detail--core .product-detail__carousel-nav,.product-detail--rimless .product-detail__carousel-nav {
        position:relative;
        top: -25px
    }
}

@media (min-width: 681px) {
    .product-detail--core .product-detail__variant-wrapper,.product-detail--rimless .product-detail__variant-wrapper {
        position:relative;
        top: -25px
    }
}

@media (min-width: 681px) {
    .product-detail--core .product-detail__variants,.product-detail--rimless .product-detail__variants {
        max-width:640px;
        margin-top: 15px
    }
}

@media (min-width: 681px) {
    .product-detail--core .product-detail__variant,.product-detail--rimless .product-detail__variant {
        width:72px;
        min-width: unset;
        height: 72px;
        margin: 0 4px
    }

    .product-detail--core .product-detail__variant:after,.product-detail--rimless .product-detail__variant:after {
        width: 72px;
        height: 72px;
        box-sizing: border-box
    }
}

@media (min-width: 681px) {
    .product-detail--core .product-detail__variant-button,.product-detail--rimless .product-detail__variant-button {
        top:6px;
        width: 60px;
        height: 60px
    }
}

@media (min-width: 0) and (max-width:680px) {
    .product-detail--core .product-detail__variant-image,.product-detail--rimless .product-detail__variant-image {
        display:block
    }
}

.product-name {
    text-align: center
}

@media (min-width: 681px) {
    .product-name {
        text-align:left
    }
}

.product-name__value {
    margin: 0;
    color: #525252;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 2.8rem;
    text-shadow: none;
    text-transform: uppercase
}

@media (min-width: 681px) {
    .product-name__value {
        font-size:2.7rem;
        line-height: 3.5rem
    }
}

.product-name__summary {
    display: block;
    margin: 0 0 20px;
    padding: 0;
    color: #525252;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem
}

.product-name__rating {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle
}

@media (min-width: 681px) {
    .product-name__rating {
        margin:0 2px;
        float: left
    }
}

.product-name__rating-star {
    display: inline-block;
    margin-right: 5px
}

.product-name__rating-link {
    display: block;
    color: #252525;
    text-decoration: none
}

.product-name__rating-label {
    display: block;
    float: left;
    font-size: 1.4rem;
    line-height: 2rem;
    vertical-align: middle
}

.product-name__rating-label .icon {
    position: relative;
    top: -1px;
    height: 8px;
    padding-left: 5px
}

.product-name__rating-label:hover .icon {
    transition: fill .2s ease 0s;
    fill: #0db287
}

@media (min-width: 0) and (max-width:680px) {
    .product-name__rating-label {
        display:none
    }
}

@media (min-width: 1025px) {
    .product-price__inner {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: end;
        align-items: flex-end;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 1px;
    }
}

.product-price__value {
    display: block;
    padding-top: 1px;
    float: left;
    color: #999;
    font-size: 2.7rem;
    line-height: 3.2rem
}

@media (min-width: 1025px) {
    .product-price__value {
        display: block;
        padding-top: 1px;
        color: #999;
        font-size: 2.7rem;
    }
}

.product-price__tax {
    display: block;
    margin-top: 10px;
    float: right;
    color: #999;
    font-size: 1.2rem;
    line-height: 2rem
}

@media (min-width: 1025px) {
    .product-price__tax {
        margin-top:0;
        float: none
    }
}

.product-price__inventory {
    display: block;
    margin-top: 10px;
    float: right;
    color: #252525;
    font-size: 1.4rem;
    line-height: 2rem
}

@media (min-width: 1025px) {
    .product-price__inventory {
        margin-top:0;
        float: none
    }
}

.product-price__inventory--lower {
    float: none;
    clear: both;
    text-align: center
}

@media (min-width: 1025px) {
    .product-price__inventory--lower {
        width:264px;
        margin-top: 10px;
        float: right
    }
}

.product-price__add-button {
    width: 100%;
    line-height: 5rem
}

@media (min-width: 0) and (max-width:680px) {
    .product-price__add-button {
        padding:0
    }
}

@media (min-width: 681px) {
    .product-price__add-button {
        box-sizing:border-box
    }
}

@media (min-width: 1025px) {
    .product-price__add-button {
        width:300px;
        float: right
    }
}

.size-fit {
    padding: 0 10px;
    font-size: 1.4rem;
    text-align: center
}

@media (min-width: 1025px) {
    .size-fit {
        margin-right:0;
        margin-left: 0;
        padding: 0
    }

    .size-fit:after {
        display: table;
        clear: both;
        content: ''
    }
}

@media (min-width: 1025px) {
    .size-fit__title-group {
        margin-bottom:20px
    }
}

.size-fit__title {
    margin: 0;
    font-size: 1.6rem;
    letter-spacing: 1px;
    line-height: 1.9rem;
    text-transform: uppercase
}

@media (min-width: 1025px) {
    .size-fit__title {
        font-size:2.4rem;
        line-height: 2.8rem
    }
}

.size-fit__subtitle {
    font-size: 1.4rem;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase
}

.size-fit__side {
    margin-bottom: 30px
}

.size-fit__side:after {
    display: table;
    clear: both;
    content: ''
}

@media (min-width: 1025px) {
    .size-fit__side {
        box-sizing:border-box;
        width: 33.33333%;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        padding-right: 30px;
        padding-left: 30px
    }
}

.size-fit__measurements {
    position: relative;
    max-width: 500px;
    margin: 10px auto;
    padding: 20px 20px 0;
    box-sizing: border-box
}

@media (min-width: 1025px) {
    .size-fit__measurements {
        min-height:16vw
    }
}

@media (min-width: 1440px) {
    .size-fit__measurements {
        min-height:235px
    }
}

.size-fit__measurement {
    color: #252525;
    line-height: 2rem;
    text-transform: uppercase
}

.size-fit__measurement-group--front-upper {
    position: absolute;
    top: 10px;
    right: 50px;
    left: 50px
}

.size-fit__measurement-group--front-upper .size-fit__measurement {
    position: relative;
    float: left
}

.size-fit__measurement-group--front-upper .size-fit__measurement--eye {
    width: 40%
}

.size-fit__measurement-group--front-upper .size-fit__measurement--eye:after {
    border-right: 1px solid #a5a5a5;
    border-left: 1px solid #a5a5a5
}

.size-fit__measurement-group--front-upper .size-fit__measurement--bridge {
    width: 20%
}

.size-fit__measurement-group--front-height {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 0;
    left: 20px
}

.size-fit__measurement--height {
    position: absolute;
    top: 62%;
    left: 76.5%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

@media (min-width: 1025px) {
    .size-fit__measurement--height {
        top:60%
    }
}

.size-fit__measurement--base {
    position: absolute;
    top: 10px;
    right: 0;
    left: 0
}

.size-fit__measurement--temple {
    position: absolute;
    top: 10px;
    right: 20px;
    left: 20px
}

.size-fit__measurement-value {
    display: block;
    font-weight: 700;
    text-transform: lowercase;
    -webkit-font-smoothing: antialiased
}

.size-fit__description {
    margin: 15px 0;
    color: #252525;
    line-height: 2rem;
    text-align: left
}

@media (min-width: 681px) and (max-width:1024px) {
    .size-fit__description {
        box-sizing:border-box;
        width: 83.33333%;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 8.33333%
    }
}

@media (min-width: 1025px) {
    .size-fit__description {
        min-height:40px;
        margin: 10px 0
    }
}

.l-customize-upper:after {
    display: table;
    clear: both;
    content: ''
}

@media (min-width: 0) and (max-width:680px) {
    .l-customize-upper {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

@media (min-width: 1025px) {
    .l-customize-upper {
        margin-top:30px
    }
}

@media (min-width: 0) and (max-width:680px) {
    .l-customize-customize {
        -webkit-box-ordinal-group:-3;
        -ms-flex-order: -4;
        order: -4
    }
}

@media (min-width: 1025px) {
    .l-customize-customize {
        box-sizing:border-box;
        width: 33.33333%;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        padding-right: 20px;
        float: left;
        border-right: 1px solid #e2e2e2
    }
}

.l-customize-detail {
    margin-bottom: 20px
}

@media (min-width: 0) and (max-width:680px) {
    .l-customize-detail {
        -webkit-box-ordinal-group:-4;
        -ms-flex-order: -5;
        order: -5
    }
}

@media (min-width: 1025px) {
    .l-customize-detail {
        max-width:calc(66.6666% - 65px);
        margin: 0 20px 0 45px;
        padding-right: 0;
        padding-bottom: 20px;
        padding-left: 0;
        float: right;
        border-bottom: 1px solid #e2e2e2
    }

    .l-customize-detail .product-detail {
        max-width: calc(100% - 72px)
    }
}

.l-customize-name {
    margin: 20px 10px
}

.l-customize-name .product-name__summary {
    margin-bottom: 5px
}

@media (min-width: 0) and (max-width:680px) {
    .l-customize-name {
        -webkit-box-ordinal-group:-5;
        -ms-flex-order: -6;
        order: -6
    }
}

@media (min-width: 681px) {
    .l-customize-name {
        width:calc(100% - 300px);
        float: left
    }
}

@media (min-width: 1025px) {
    .l-customize-name {
        max-width:calc(66.6666% - 350px);
        margin-right: 20px;
        margin-left: 45px;
        padding-right: 0;
        padding-left: 0;
        float: right
    }
}

@media (min-width: 0) and (max-width:680px) {
    .l-customize-price-cta {
        -webkit-box-ordinal-group:-2;
        -ms-flex-order: -3;
        order: -3;
        margin: 30px 10px
    }

    .l-customize-price-cta .product-call-to-action {
        margin-bottom: 30px
    }
}

@media (min-width: 681px) {
    .l-customize-price-cta {
        width:264px;
        margin-top: 25px;
        margin-right: 10px;
        float: right;
        clear: right
    }
}

@media (min-width: 1025px) {
    .l-customize-price-cta {
        margin-top:20px;
        margin-right: 20px
    }

    .l-customize-price-cta .product-call-to-action {
        margin-bottom: 20px
    }

    .l-customize-price-cta .product-price__inner {
        float: none
    }

    .l-customize-price-cta .product-price__value {
        float: left
    }

    .l-customize-price-cta .product-price__inventory {
        margin-top: 10px;
        float: right
    }

    .l-customize-price-cta .product-price__add-button {
        width: 100%
    }
}

.l-customize-description {
    margin: 0 10px;
    font-size: 1.4rem;
    line-height: 2rem
}

@media (min-width: 0) and (max-width:680px) {
    .l-customize-description {
        -webkit-box-ordinal-group:-1;
        -ms-flex-order: -2;
        order: -2
    }
}

@media (min-width: 681px) {
    .l-customize-description {
        width:calc(100% - 300px);
        clear: left
    }
}

@media (min-width: 1025px) {
    .l-customize-description {
        width:calc(66.6666% - 339px);
        margin-left: 45px;
        float: right;
        clear: none
    }
}

.l-customize-controls {
    margin-top: 30px;
    margin-bottom: 30px
}

@media (min-width: 0) and (max-width:680px) {
    .l-customize-controls {
        -webkit-box-ordinal-group:0;
        -ms-flex-order: -1;
        order: -1
    }
}

@media (min-width: 0) and (max-width:1024px) {
    .l-customize-controls .product-controls {
        text-align:center
    }

    .l-customize-controls .product-controls__item {
        display: inline-block;
        float: none
    }
}

@media (min-width: 1025px) {
    .l-customize-controls {
        position:absolute;
        top: 15px;
        right: 10px;
        margin-top: 0
    }
}

.l-customize-lower {
    clear: both
}

.l-pdp-block {
    margin: 30px 0
}

@media (min-width: 0) and (max-width:680px) {
    .l-pdp-upper {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

@media (min-width: 681px) {
    .l-pdp-upper {
        padding:0 10px
    }
}

@media (min-width: 1025px) {
    .l-pdp-upper {
        position:relative;
        padding: 0
    }
}

@media (min-width: 0) and (max-width:680px) {
    .l-pdp-detail {
        -webkit-box-ordinal-group:3;
        -ms-flex-order: 2;
        order: 2
    }
}

@media (min-width: 681px) {
    .l-pdp-detail {
        padding-bottom:10px;
        border-bottom: 1px solid #e2e2e2
    }
}

@media (min-width: 0) and (max-width:680px) {
    .l-pdp-name {
        -webkit-box-ordinal-group:2;
        -ms-flex-order: 1;
        order: 1;
        margin-bottom: 0
    }
}

@media (min-width: 681px) {
    .l-pdp-name {
        margin-top:8px;
        float: left
    }
}

@media (min-width: 1025px) {
    .l-pdp-name {
        margin-bottom:30px
    }

    .l-pdp-name .product-name__summary {
        margin-bottom: 0
    }

    .l-pdp-name .product-name__rating-link {
        margin-top: 20px
    }
}

.l-pdp-price-cta:after {
    display: table;
    clear: both;
    content: ''
}

.l-pdp-price-cta .form-item--select {
    margin: 0 0 20px;
    font-size: 0
}

.l-pdp-price-cta .form-item--select:after {
    display: table;
    clear: both;
    content: ''
}

.l-pdp-price-cta .label {
    display: inline-block;
    margin: 0;
    line-height: 3rem
}

@media (min-width: 681px) {
    .l-pdp-price-cta .label {
        display:block;
        text-align: left
    }
}

@media (min-width: 1025px) {
    .l-pdp-price-cta .label {
        display:inline-block;
        float: left;
        line-height: 5rem
    }
}

.l-pdp-price-cta .select-wrapper {
    display: inline-block;
    width: 100%
}

.l-pdp-price-cta .product-price {
    width: 100%;
    float: right
}

@media (min-width: 681px) {
    .l-pdp-price-cta .product-price {
        width:280px
    }
}

@media (min-width: 1025px) {
    .l-pdp-price-cta .product-price {
        width:100%
    }
}

@media (min-width: 0) and (max-width:680px) {
    .l-pdp-price-cta {
        -webkit-box-ordinal-group:4;
        -ms-flex-order: 3;
        order: 3;
        padding: 0 10px
    }
}

@media (min-width: 681px) {
    .l-pdp-price-cta {
        margin-top:15px;
        float: right
    }

    .l-pdp-price-cta .form-item--select {
        text-align: right
    }

    .l-pdp-price-cta .form-item--select.form-item--error {
        margin-bottom: 46px
    }

    .l-pdp-price-cta .form-item--select .input-error {
        position: absolute;
        right: 0;
        width: 200px;
        text-align: left
    }

    .l-pdp-price-cta .label {
        text-align: left
    }
}

@media (min-width: 1025px) {
    .l-pdp-price-cta {
        width:32%
    }

    .l-pdp-price-cta .select-wrapper {
        width: 264px
    }
}

@media (min-width: 681px) {
    .l-pdp-accordion-tabs,.l-pdp-calls-to-action {
        padding:0 10px;
        box-sizing: border-box
    }
}

@media (min-width: 681px) {
    .l-pdp-accordion-tabs {
        clear:both
    }

    .l-pdp-accordion-tabs .accordion-tabs__content-item {
        font-size: 1.4rem;
        line-height: 2rem
    }

    .l-pdp-accordion-tabs .accordion-tabs__content-wrapper:first-child {
        box-sizing: border-box;
        width: 100%;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 0;
        margin-bottom: 10px;
        padding: 0
    }

    .l-pdp-accordion-tabs .accordion-tabs__content-wrapper:first-child .accordion-tabs__content {
        padding: 0
    }

    .l-pdp-accordion-tabs .accordion-tabs__content-wrapper:first-child .accordion-tabs__content-item:first-child {
        margin-top: 0
    }
}

@media (min-width: 1025px) {
    .l-pdp-accordion-tabs {
        width:48%;
        margin: 0;
        padding: 0;
        float: left;
        clear: left
    }
}

.l-pdp-calls-to-action {
    padding: 0 10px
}

.l-pdp-calls-to-action .product-call-to-action:not(:last-child) {
    margin-bottom: 15px
}

@media (min-width: 0) and (max-width:680px) {
    .l-pdp-calls-to-action .product-call-to-action:not(:last-child) {
        padding-bottom:20px;
        border-bottom: 1px solid #e2e2e2
    }
}

@media (min-width: 1025px) {
    .l-pdp-calls-to-action .product-call-to-action:not(:last-child) {
        margin-bottom:30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #e2e2e2
    }
}

@media (min-width: 1025px) {
    .l-pdp-calls-to-action {
        width:32%;
        margin-top: 0;
        padding: 0;
        float: right
    }
}

@media (min-width: 1025px) {
    .l-pdp-controls {
        position:absolute;
        top: 15px;
        right: 10px;
        margin-top: 0
    }
}

.l-pdp-featured,.l-pdp-featured-products {
    clear: both
}

@media (min-width: 1025px) {
    .main--pdp-core .product-call-to-action,.main--pdp-rimless .product-call-to-action {
        float:right;
        clear: both
    }

    .main--pdp-core .product-call-to-action:not(:last-child),.main--pdp-rimless .product-call-to-action:not(:last-child) {
        margin: 0 0 20px;
        padding: 0;
        border-bottom-style: none
    }

    .main--pdp-core .product-call-to-action__label,.main--pdp-rimless .product-call-to-action__label {
        margin: 0 0 3px
    }
}

@media (min-width: 0) and (max-width:680px) {
    .main--pdp-core .l-pdp-price-cta,.main--pdp-rimless .l-pdp-price-cta {
        margin-top:10px;
        margin-bottom: 60px
    }
}

@media (min-width: 681px) {
    .main--pdp-core .l-pdp-price-cta .product-call-to-action__button,.main--pdp-rimless .l-pdp-price-cta .product-call-to-action__button {
        min-width:200px;
        box-sizing: border-box
    }
}

.main--pdp-core .l-pdp-calls-to-action,.main--pdp-rimless .l-pdp-calls-to-action {
    margin-top: 35px
}

@media (min-width: 1025px) {
    .main--pdp-core .l-pdp-calls-to-action,.main--pdp-rimless .l-pdp-calls-to-action {
        margin-top:-10px
    }
}

@media (min-width: 0) and (max-width:1024px) {
    .main--pdp-core .l-pdp-controls .product-controls,.main--pdp-rimless .l-pdp-controls .product-controls {
        text-align:center
    }

    .main--pdp-core .l-pdp-controls .product-controls__item,.main--pdp-rimless .l-pdp-controls .product-controls__item {
        display: inline-block;
        float: none
    }
}

.page-title--search-results {
    margin: 0 0 -10px;
    padding: 20px 10px;
    border: 0;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 2rem
}

@media (min-width: 0) and (max-width:680px) {
    .page-title--search-results {
        background-color:#525252;
        color: #fff;
        -webkit-font-smoothing: antialiased
    }
}

@media (min-width: 681px) {
    .page-title--search-results {
        margin:10px 10px 25px;
        padding: 0;
        color: #252525;
        font-size: 2.7rem;
        letter-spacing: 3px;
        line-height: 4rem;
        text-transform: none
    }

    .page-title--search-results br {
        display: none
    }
}
.spr-badge-starrating .spr-icon-star-empty {
    color:#ccc;
}
.spr-badge-starrating .spr-icon {
    color: #ff9933;
}