.srpform {
    margin-top: 35px;
}
.srpform__heading {
    text-align: center;
    }
.srpform__form {
    min-width: 716px;
}
.srpform .contact-us {
    margin-top: 25px;
}
.srpform__status {
    text-align: center;
    margin: 3em auto;
}
.btn-srp-msg {
    font-size: 11px;
    text-align: center;
    line-height: 1em;
    padding: 5px 0;
    clear: both;
}
.btn-srp-msg .error {
    font-size: 11px;
}
.product-call-to-action {
    margin:10px 0;
    clear: both;
}
.js-request-sample:disabled {
    background: #fff !important;
    color: #525252 !important;
    cursor: not-allowed;
    opacity: 0.35;
}