<!-- /templates/404.liquid -->
<div class="clearfix"></div>
<div class="l-404-page-not-found">
    <div class="page-not-found">	
    <a class="page-not-found__image-link" href="/">
    	<img class="page-not-found__image" title="404 Page Not Found" src="{{ '404.jpg' | | asset_url }}" alt="404 Page Not Found">

</a>
 		<h2 class="page-not-found__headline">{{ 'general.404.title' | t }}</h2> 
<p class="page-not-found__subheadline">{{ 'general.404.subtext_html' | t }}</p>
<a class="button button--outlined page-not-found__action" href="/">Go to the Homepage</a>
</div>
  </div>
  