<!-- /templates/cart.liquid -->
{% comment %}

  For info on test orders:
    - General http://docs.shopify.com/manual/your-store/orders/test-orders
    - Shopify Payments - http://docs.shopify.com/manual/more/shopify-payments/testing-shopify-payments

{% endcomment %}
<ul class="breadcrumb u-page-width-max-gutters">
  <li class="breadcrumb__item">
    <a class="breadcrumb__link" href="/">Maui Jim</a>
  </li>
  <li class="breadcrumb__item breadcrumb__item--current">
    Shopping Cart
  </li>
</ul>
<div class="l-shopping-cart-cart">
{% if cart.item_count > 0 %}
  <h1 class="shopping-cart__title">{{ 'cart.general.title' | t }}</h1>
  <div id="julyOfferAdded" class="hide july-offer"><strong>Congratulations</strong>! Free gift product added to cart!</div>
  <div id="julyOfferRemoved" class="hide july-offer">Free gift product remove to cart!. Continue <a href="https://wayfire.myshopify.com/search?type=product&q=luxie">Shopping</a> to avail free gifts!</div>
  <form action="/cart" method="post" novalidate class="cart table-wrap">
    <table class="shopping-cart__items">
      <thead class="shopping-cart__items-header">
        <tr class="shopping-cart__items-header-row">
        <td colspan="2" class="shopping-cart__items-header-cell text-center">{{ 'cart.label.product' | t }}</td>
        <td class="shopping-cart__items-header-cell text-center">{{ 'cart.label.quantity' | t }}</td>
        <td class="shopping-cart__items-header-cell text-right">{{ 'cart.label.total' | t }}</td>
        </tr>
      </thead>
      <tbody class="shopping-cart__items-body">
        {% for item in cart.items %}
          <tr class="shopping-cart__item {% if item.final_price == 0 %}free-product{% endif %}">
            <td class="shopping-cart__item-image-col" data-label="{{ 'customer.order.product' | t }}">
              <a href="{{ item.url | within: collections.all }}" class="cart__image">
                {% comment %}
                  More image size options at:
                    - http://docs.shopify.com/themes/filters/product-img-url
                {% endcomment %}
                <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
              </a>
            </td>
            <td class="shopping-cart__item-info-col">
              <span class="shopping-cart__item-name">{{ item.product.title }}</span>
              {% unless item.variant.title contains 'Default' %}
                <br>
                 <span class="shopping-cart__item-info">{{ item.variant.title }}</span>
              {% endunless %}

              {% if settings.cart_vendor_enable %}
                <span class="shopping-cart__item-info">{{ item.vendor }}</span>
              {% endif %}

              {% comment %}
                Optional, loop through custom product line items if available

                For more info on line item properties, visit:
                  - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization
              {% endcomment %}
              {% assign property_size = item.properties | size %}
              {% if property_size > 0 %}
                {% for p in item.properties %}
                  {% unless p.last == blank %}
                    {{ p.first }}:

                    {% comment %}
                      Check if there was an uploaded file associated
                    {% endcomment %}
                    {% if p.last contains '/uploads/' %}
                      <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                    {% else %}
                      {{ p.last }}
                    {% endif %}

                    <br>
                  {% endunless %}
                {% endfor %}
              {% endif %}

              {% if item.sku == "FREE001" %}
                <span><small>(Offer: 5 Product purchase of any product)</small></span>
              {% endif %}
              {% if item.sku == "3001" %}
                <span><small>(Free gifts on Purchase of every set of Radiant and/or Bronze and Glow set - Till July 15)</small></span>
              {% endif %}
            </td>
            {% comment %} <td class="shopping-cart__item-price-col" data-label="{{ 'cart.label.price' | t }}">
              <span class="h3">
                <span class='hulkapps-cart-item-price' data-key='{{item.key}}'>{{ item.price | money }}</span>
              </span>
            </td> {% endcomment %}
            <td class="shopping-cart__item-qty-col text-center" data-label="{{ 'cart.label.quantity' | t }}">
              {% if item.sku == "FREE001" or item.sku == "3001" %}
                {{ item.quantity }}
              {% else %}
                <input type="number" name="updates[]" id="updates_{{ item.key }}" data-id="{{ item.key }}" value="{{ item.quantity }}" min="0">
              {% endif %}
            </td>
            <td class="shopping-cart__item-price-col text-right" data-label="{{ 'cart.label.total' | t }}" class="text-right">
              {% if item.original_line_price != item.line_price %}
                <span class="cart-item__original-price"><s>{{ item.original_line_price | money }}</s></span>
              {% endif %}
              <span class="h3">
                {% if item.original_price == 0 %}
                  <span class='hulkapps-cart-item-line-price' data-key='{{item.key}}'>Free</span>
                {% else %}
                  <span class='hulkapps-cart-item-line-price' data-key='{{item.key}}'>{{ item.line_price | money }}</span>
                {% endif %}
              </span>
              {% for discount in item.discounts %}
                <span class="cart-item__discount">{{ discount.title }}</span>
              {% endfor %}
              <!-- {% if item.sku == "FREE001" or item.sku == "3001" %}
                
              {% else %} -->
                <a onclick="removeItemFromCart({{ item.sku }},{{ item.quantity }})" href="/cart/change?line={{ forloop.index }}&amp;quantity=0&amp;setremove={{ item.quantity }}" class="cart__remove shopping-cart__item-remove button button--plain-text">
                <small>{{ 'cart.general.remove' | t }}</small>
                </a>
              <!-- {% endif %} -->
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <table class="shopping-cart__items-footer">
      <tfoot>
          <tr>
              <td class="shopping-cart__items-footer-cell" colspan="2">
              {% if settings.cart_notes_enable %}
                <div class="">
                  <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
                  <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ cart.note }}</textarea>
                </div>
              {% endif %}
              <div>
              <button type="submit" name="update" class="button button--outlined update-cart">{{ 'cart.general.update' | t }}</button>
              </div>
              </td>
              <td class="shopping-cart__items-footer-cell" colspan="2">
                <ul class="shopping-cart__totals">
                    <li class="shopping-cart__totals-item">
                        <span class="shopping-cart__totals-label">{{ 'cart.general.subtotal' | t }} ({{ cart.item_count }})</span>
                        <span class="shopping-cart__totals-value">{{ cart.original_total_price | money }}</span>
                    </li>
                    {% if cart.total_discounts > 0 %}
                      {% assign savings = cart.total_discounts | money %}
                    <li class="shopping-cart__totals-item">
                      <span class="shopping-cart__totals-label">Discount:</span>
                      <span class="shopping-cart__totals-value">{{ cart.total_discounts | money }}</span>
                    </li>
                    {% endif %}
                    <li class="shopping-cart__totals-item shopping-cart__totals-item--total">
                      <span class="shopping-cart__totals-label">Total:</span>
                      <span class="shopping-cart__totals-value"><span class='hulkapps-cart-original-total'>{{ cart.total_price | money }}</span></span>
                    </li>
                    </ul>        
        
        <button type="submit" name="checkout" class="button button--primary shopping-cart__checkout">{{ 'cart.general.checkout' | t }}</button>
        </td>
        </tr>
        </table>
  </form>
{% else %}
  {% comment %}
    The cart is empty
  {% endcomment %}
  <h1 class="shopping-cart__title">{{ 'cart.general.title' | t }}</h1>
  <div id="julyOfferRemoved" class="hide july-offer july-offer--removed">Free gift product remove to cart!. Continue <a href="https://wayfire.myshopify.com/search?type=product&q=luxie">Shopping</a> to avail free gifts!</div>
  <div class="shopping-cart js-shopping-cart">
  <div class="shopping-cart__empty">
    <img class="shopping-cart__empty-brand-logo" alt="" src="{{ 'mauijim-brand-mark-grey-small.png' | asset_url }}">
    <span class="shopping-cart__empty-label">{{ 'cart.general.empty' | t }}</span>
    <a class="shopping-cart__empty-button button button--primary" href="/">{{ 'cart.general.continue_btn' | t }}</a>
  </div>
  </div>
{% endif %}
</div>
<div class="l-shopping-cart-secondary">
  {% section 'faq-blocks' %}
  {% section 'need-assistance' %}
</div>

{% assign found_title = false %}
<!-- {% for item in cart.items %}
  <h1>{{ item.sku }}</h1>
  <h2>{{ item.original_price }}</h2>
  {% if item.variant.id == 7387208286253 %}
    {% assign found_title = true %}
  {% endif %}
{% endfor %} -->
{% section 'free-gifts' %}
<!-- {% include 'cart-add-on' %} -->
<script>
  /*jQuery(document).ready(function() {
    const queryString = window.location.search;
    console.log('queryString ' + queryString);
    const urlParams = new URLSearchParams(queryString);
    const actionTypeView = urlParams.get('actiontype');
    console.log('actionTypeView' + actionTypeView);
    if(actionTypeView == "julyOffersadded") {
      jQuery('#julyOfferAdded').removeClass('hide');
    }
    if(actionTypeView == "julyOffersremoved") {
      jQuery('#julyOfferRemoved').removeClass('hide');
    }
  });*/
</script>