<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}
{% comment %} {% section 'collection-list' %} {% endcomment %}
{{ content_for_index }}