<!-- /templates/page.liquid -->
{{ 'magnific-popup.css' | asset_url | stylesheet_tag }}
<style>
    .white-popup-block {
    background: #FFF;
    padding: 20px 30px;
    text-align: left;
    max-width: 650px;
    margin: 40px auto;
    position: relative;
}</style>

<main class="main main--account u-page-width-max">
    <ul class="breadcrumb u-page-width-max-gutters">
        <li class="breadcrumb__item">
            <a class="breadcrumb__link" href="{{ shop.url }}">Home</a>
        </li>
        <li class="breadcrumb__item breadcrumb__item--current">
            {{ page.title }}
        </li>
    </ul>
    {% if customer %}
    <div class="l-account-secondary">
      <div class="l-account-account-navigation">
        <div class="account-navigation1 account-navigation--default">
        <h4 class="account-navigation__title">Aloha {{ customer.first_name }}</h4>
          <ul class="account-navigation__items">
            <li class="account-navigation__item">
              <a class="account-navigation__item-value" href="https://wayfire.myshopify.com/account">
                Your Account 
              </a>
            </li>
            <li class="account-navigation__item">
              <a class="account-navigation__item-value" href="#">
                Your Orders 
              </a>
            </li>
            <li class="account-navigation__item  account-navigation__item--current">
              <a class="account-navigation__item-value" href="https://wayfire.myshopify.com/pages/sample-request-lists">
                Sample Requests 
              </a>
            </li>
          </ul>
          <div class="account-navigation__actions1">
            <button class="account-navigation__logout button button--plain-text">Logout</button>
          </div>
        </div>

                <div class="l-account-assistance-info">
                  <div class="assistance-info assistance-info--cart">
                <h4 class="assistance-info__title">Need assistance?</h4>
                <ul class="assistance-info__items">
                    <li class="assistance-info__item">
                       <a class="assistance-info__item-value" href="#">
		        <span class="assistance-info__item-label">Contact Us</span>
		      </a>
                    </li>
                    <li class="assistance-info__item">
                        <span class="assistance-info__item-value">
		        <span class="assistance-info__item-label">Have a question or need help?</span>
                        </span>
                    </li>
                    <li class="assistance-info__item">
                        <a class="assistance-info__item-value" href="tel:+1800229933">
		        <span class="assistance-info__item-label">888-666-5905</span>
		      </a>
                    </li>
                    <li class="assistance-info__item">
                        <a class="assistance-info__item-value" href="mailto:customercare@mauijim.com">
	       		<span class="assistance-info__item-label">customercare@mauijim.com</span>
      			</a>
                    </li>
                </ul>
            </div>
        </div>
      </div>
    </div>
    <div class="l-account-primary">
    <div class="sample-request-lists">
    <h1 class="wishlist__title">{{ page.title }}</h1>
    <div class="grid">
      <div class="grid__item">
    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte">
      {{ page.content }}
      <div id="ajaxResponse">
                    <table class="table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Email</th>
                                <th scope="col">Name</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <!-- Modal -->
                <div class="white-popup-block mfp-hide" id="viewRspDetail">
                    <h5 class="modal-title" style="margin-bottom:25px" id="viewRspDetailTitle">Sample Request Details</h5>
                    <div class="product-details mb-4">
                        <div class="row">
                            <div class="col-4">
                                <img src="" id="srpDetailPimg" alt="" class="img-fluid">
                            </div>
                            <div class="col-8">
                                <h5 id="srpDetailPname"></h5>
                                <p class="mb-0" id="srpDetailPprice"></p>
                                <p class="text-muted mb-0">Qty 1</p>
                            </div>
                        </div>
                    </div>
                    <table class="table-sm">
                        <tbody>
                            <tr>
                                <th>ID</th>
                                <td id="srpDetailId"></td>
                            </tr>
                            <tr>
                                <th>Date</th>
                                <td id="srpDetailDate"></td>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <td id="srpDetailName"></td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td id="srpDetailEmail"></td>
                            </tr>
                            <tr>
                                <th>Message</th>
                                <td id="srpDetailMsg"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                            
    </div><!--- close rte -->
  </div>
</div>
</div>
{% else %}
<div class="l-account-secondary">
</div>
<div class="l-account-primary">
    <div class="sample-request-lists">
        <h1 class="wishlist__title">{{ page.title }}</h1>
    </div>
    <div>
        <span class="error">
        Please <a href="https://wayfire.myshopify.com/account?redirect={{ shop.url }}{{ page.url }}">Login</a> to view this page!
        </span>
    </div>
</div>
{% endif %}
</main>
{{ 'jquery.magnific-popup.min.js' | asset_url | script_tag }}