<!-- /templates/product.liquid -->
{% comment %}

  Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
  and allow search engines to easily understand what the content is.

  For more information on these Scheme.org tags, visit:
    - http://schema.org/docs/gs.html

{% endcomment %}
<div itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
  <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {% assign current_variant = product.selected_or_first_available_variant %}

  {% include 'breadcrumb' %}
  <div class="u-page-width-max-restricted">
    <div class="l-pdp-upper">
            <div class="l-pdp-detail">
                <div class="product-detail product-detail--core js-product-detail">
                    <div class="product-detail__carousel-wrapper">
                        <ul class="product-detail__carousel js-product-detail-carousel">
                            <li class="product-detail__carousel-item">
                                    {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
        <img src="{{ featured_image | img_url: 'original' }}" alt="{{ product.title | escape }}" class="product-detail__carousel-image js-product-detail-carousel-image" data-angle="front"
        
        {% if product.variants.size > 1 %}
        {% for variant in product.variants %}
        data-{{ variant.sku }} ="{{ variant.image.src | img_url: 'original' }}" 
        {% endfor %}
        {% endif %}
        >
                            </li>
                        </ul>
                      </div>
                        {% comment %} {% if product.variants.size > 1 %}
                        <div class="product-detail__carousel-controls js-product-detail-carousel-controls">
                            <button class="product-detail__carousel-control product-detail__carousel-control--prev">
        <span class="u-visually-hidden">Previous</span>
      </button>
                            <button class="product-detail__carousel-control product-detail__carousel-control--next">
        <span class="u-visually-hidden">Next</span>
      </button>
                        </div>
                        {% endif %} {% endcomment %}
                    
                    {% comment %} {% if product.variants.size > 1 %}
                    <div class="product-detail__carousel-nav js-product-detail-carousel-nav">
                    {% for variant in product.variants %}
                        <button class="product-detail__carousel-nav-item">
                      <span class="u-visually-hidden">{{ forloop.index0 }}</span>
                    </button>                        
                    {% endfor %}
                    {% endif %}</div>{% endif %} {% endcomment %}
                    
                    {% if product.variants.size > 1 %}
                    {% for variant in product.variants %}
                      {% if forloop.first == true %}
                      {% assign variantLabel = variant.title %}
                      {% assign variantFirstLabel = variantLabel %}
                      {% endif %}
                    {% endfor %}
                    <div class="product-detail__variant-wrapper js-product-detail-variant-wrapper">
                        <h3 class="product-detail__variant-label js-product-detail-variant-label" data-current-name="{{ variantFirstLabel }}">{{ variantFirstLabel }}</h3>
                        <ul class="product-detail__variants js-product-detail-variants js-product-detail-variants--active">
                        {% for variant in product.variants %}
                            <li class="product-detail__variant js-product-detail-variant {% if forloop.first == true %}js-product-detail-variant--active{% endif %}" data-id="{{ variant.sku }}" data-name="{{ variant.title }}">
                                <button class="product-detail__variant-button" style="">
          <img class="product-detail__variant-image" src="{{ variant.image.src | img_url: 'small' }}" alt="{{ product.title }}">
        </button>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% else %}
                    <div class="product-detail__variant-wrapper js-product-detail-variant-wrapper">
                        <h3 class="product-detail__variant-label js-product-detail-variant-label" data-current-name="{{ product.title }}">{{ product.title }}</h3>
                        <ul class="product-detail__variants js-product-detail-variants js-product-detail-variants--active">
                            <li class="product-detail__variant js-product-detail-variant js-product-detail-variant--active">
                                <button class="product-detail__variant-button" style="">
                                {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
          <img class="product-detail__variant-image" src="{{ featured_image | img_url: 'small' }}" alt="{{ product.title }}">
        </button>
                            </li>
                        </ul>
                    </div>
                    {% endif %}

                </div>

            </div>
            <div class="l-pdp-name l-pdp-block">
                <div class="product-name">
                    <h1 class="product-name__value">{{ product.title }}</h1>
                    <h2 class="product-name__summary">{{ product.type }}</h2>
                    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                </div>
            </div>
            <div class="l-pdp-price-cta l-pdp-block">
                {% if product.variants.size > 1 %}
                {% for variant in product.variants %}
                <div class="product-price js-product-price {% if forloop.first != true %}   js-hidden{% endif %}" data-product-id="{{ variant.sku }}">
                  <div class="product-price__inner">
                    <span class="product-price__value">{{ variant.price | money }}</span>
                    <span class="product-price__inventory">
                    {% if variant.available %}
                    In Stock
                    {% else %}
                    OutOfStock
                    {% endif %}
                    </span>
                  </div>
                    <div class="ssv1" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                      <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">
                        <select name="id" id="productSelect{{ variant.sku }}" class="ssv1 product-single__variants hide">
                              <option selected="selected" data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                        </select>
                        <input type="hidden" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
                        
                        <button type="submit" {% if variant.available == false %}disabled{% endif %} name="add" id="AddToCart" class="button button--primary product-price__add-button">
                          <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                        </button>
                      </form>
                      {% if customer %}
                      <div class="clearboth clearfix"></div>
                      <div class="product-call-to-action product-call-to-action--try-in-store">
                        <button id="btnRequestSample" class="product-call-to-action__button button button--outlined js-request-sample {% if customer %}loggedin{% endif %}" href="#sampleRequestFromWrapper"
                        data-pname="{{ variant.title }}"
                        data-pimg="{{ variant.image.src | img_url: 'large' }}"
                        data-pprice="{{ variant.price | money }}"
                        data-pvid="{{ variant.id }}"
                        data-pid="{{ product.id }}"
                        disabled="disabled"
                        >Request for Sample</button>
                      </div>
                      {% endif %}
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="product-price js-product-price" data-product-sku="{{ product.id }}" data-product-id="{{ product.id }}">
                  <div class="product-price__inner">
                    <span class="product-price__value">{{ product.price | money }}</span>
                    <div class="product-price__details">
                    <span class="product-price__inventory">
                    {% if product.available %}
                    In Stock
                    {% else %}
                    OutOfStock
                    {% endif %}
                    </span>
                    </div>
                  </div>
                    <div class="ssv2" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                      <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">
                        <select name="id" id="productSelect" class="ssv2 product-single__variants">
                          {%- for variant in product.variants -%}
                            <option selected="selected" data-sku="{{ product.first_available_variant.sku }}" value="{{ variant.id }}">{{ product.title }} - {{ product.price | money_with_currency }}</option>
                          {%- endfor -%}
                              
                        </select>
                        <input type="text" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
                        
                        <button type="submit" {% if product.available == false %}disabled{% endif %} name="add" id="AddToCart" class="button button--primary product-price__add-button">
                          <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                        </button>
                      </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="l-pdp-accordion-tabs">
          <div class="accordion-tabs js-accordion-tabs product-description js-product-description">
            <div class="accordion-tabs__content-wrapper">
              <div class="accordion-tabs__content">
                  {{ product.description }}
              </div>
            </div>
        </div>
      </div>
  </div>
  {% if customer %}
  <div id="sampleRequestFromWrapper">
    <div class="u-page-width-max-restricted">
    <div  class="srpform" style="display:none">
      <h3 class="srpform__heading">Request for sample product</h3>
      <div class="srpform__success srpform__status" style="display:none">
        <p class="success">We received your request. We update you soon at your mailing addresss.</p>
      </div>
      <div class="srpform__error srpform__status" style="display:none">
        <p class="error">Unable to process your request.</p>
      </div>
      <div class="srpform__form">
        <form id="srpForm" class="u-page-width-max-restricted" action="https://ssvnodemean.herokuapp.com/samplerequestssubmit" name="form1" method="post"   enctype="application/x-www-form-urlencoded" >
          <input id="rfq_customer_id" name="customer_id" value="{{ customer.id }}" type="hidden">
          <input id="rfq_date" name="date" value='{{ "now" | date: "%Y-%m-%d %H:%M" }}' type="hidden">
          <input id="rfq_pvid" name="product[vid]" value='{{ product.selected_or_first_available_variant.id }}' type="hidden">
          <input id="rfq_pprice" name="product[price]" value='{{ product.selected_or_first_available_variant.price | money }}' type="hidden">
          <input id="rfq_pimg" name="product[img]" value="{{ product.selected_or_first_available_variant.image.src | img_url: 'large' }}" type="hidden">
          <input id="rfq_pname" name="product[name]" value='{{ product.selected_or_first_available_variant.title }}' type="hidden">
          <input id="rfq_pid" name="product[id]" value='{{ product.id }}' type="hidden">
          <input id="page_url" name="page_url" value="{{ request.host }}{{ request.path }}" type="hidden">
    <div class="contact-us__form-items" >
        <div class="form-item form-item--text form-item--contact-us-first-name form-item--required">
            <label for="contact-us-first-name" class="label label--text label--required">Name</label>
            <input type="text" id="contact-us-first-name"  name="name" class="input input--text" value="{{ customer.name }}" autocomplete="given-name">
        </div>
        <div class="form-item form-item--text form-item--contact-us-company">
            <label for="contact-us-company" class="label label--text">Company</label>
            <input type="text" id="contact-us-company" name="company" class="input input--text" placeholder="Optional" autocomplete="organization">
        </div>
        <div class="form-item form-item--email form-item--contact-us-email form-item--required">
            <label for="contact-us-email" class="label label--email label--required">Email address</label>
            <input type="email" id="contact-us-email" name="email" class="input input--email" autocomplete="email" value="{{ customer.email }}">
        </div>
        <div class="form-item form-item--textarea form-item--required">
            <label for="contact-us-comments" class="label label--required">Message</label>
            <textarea id="contact-us-comments" name="message" class="textarea"></textarea>
        </div>
    </div>
    <div class="">
        <button type="submit" class="button button--primary">Submit</button>
    </div>
</form>
      </div>
    </div>
    </div>
  </div>
  {% endif %}
      {% comment %} <div class="product-single__photos" id="ProductPhoto">
        {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
        <img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
      </div> {% endcomment %}

      {% comment %}
        Create thumbnails if we have more than one product image
      {% endcomment %}
      {% comment %} {% if product.images.size > 1 %}
        <ul class="product-single__thumbnails grid-uniform" id="ProductThumbs">
          {% for image in product.images %}
            <li class="grid__item one-quarter">
              <a href="{{ image.src | img_url: 'large' }}" class="product-single__thumbnail">
                <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
              </a>
            </li>
          {% endfor %}

        </ul>
      {% endif %} {% endcomment %}

      {% comment %} <h1 itemprop="name">{{ product.title }}</h1> {% endcomment %}

      <div class="hide ssv3" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        {% comment %}
          ID addToCartForm is a selector for the ajax cart plugin
        {% endcomment %}
        <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">

          {% comment %}
            Add product variants as a dropdown.
              - By default, each variant (or combination of variants) will display as its own <option>
              - To separate these into multiple steps, which we suggest, use option_selection.js (see below)

            You can leverage jQuery to add a callback on page load and each time the select element changes:
              - Include option_selection.js (as seen at the bottom of this file)
              - This allows you to use JavaScript anytime the variant dropdown changes
              - This also separates out your variant options (ie. size, color, etc.) to separate select elements

            For more information on products with multiple options, visit:
              - http://docs.shopify.com/support/your-website/themes/can-i-make-my-theme-use-products-with-multiple-options#update-product-liquid
          {% endcomment %}
          <select name="id" id="productSelect" class="ssv3 product-single__variants hide">
            {% for variant in product.variants %}
              {% if variant.available %}

                {% comment %}
                  Note: if you use option_selection.js, your <select> tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
                {% endcomment %}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

              {% else %}
                <option value="{{ variant.id }}" disabled="disabled">
                  {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                </option>
              {% endif %}
            {% endfor %}
          </select>

          <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
          <span id="ProductPrice" class="h2" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
            {{ current_variant.price | money }}
          </span>

          {% if product.compare_at_price_max > product.price %}
            <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
            <p id="ComparePrice">
              {{ 'products.product.compare_at' | t }} {{ current_variant.compare_at_price | money }}
            </p>
          {% endif %}

          <label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
          <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">

          <button type="submit" name="add" id="AddToCart" class="btn">
            <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
          </button>
        </form>
        
      </div>
      <div class="u-page-width-max-restricted">
        <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
      </div>
      {% comment %} <div class="product-description rte" itemprop="description">
        {{ product.description }}
      </div> {% endcomment %}

      {% comment %}
        If the user is on a collection product page (ie with /collections/collection-handle/products/product-handle)
        in the URL, we can show next/previous links to other products in the collection.
      {% endcomment %}
      {% comment %} {% if collection %}
        {% if collection.previous_product or collection.next_product %}
          <p>
            {% if collection.previous_product %}
              <span class="left">
                {{ 'products.general.previous_product_html' | t | link_to: collection.previous_product }}
              </span>
            {% endif %}
            {% if collection.next_product %}
              <span class="right">
                {{ 'products.general.next_product_html' | t | link_to: collection.next_product }}
              </span>
            {% endif %}
          </p>
        {% endif %}
      {% endif %} {% endcomment %}
      
    </div>
    
  </div>

</div>
<div class="l-pdp-controls l-pdp-block" id="productcontrols">
<ul class="product-controls">
	<li class="product-controls__item">
  {% include 'wishlist-product' %}
	</li>
</ul></div>
{% comment %}
  To take advantage of a callback on the select dropdown, add option_selection.js
  and customize the JS in timber.productPage as needed.

  Currently, timber.productPage does the following:
    - Hides your <select> tag from above
    - Breaks out the product variants into separate product options, if more than one exists
    - Generates a <select> tag for each product option
    - Enables/disables elements based on variant availability

  Callback notes:
    - Keep the callback available to the global scope (window.selectCallback) so that advanced
      addons can override it.
      * E.g. multiple currencies http://docs.shopify.com/manual/configuration/store-customization/currencies-and-translations/currencies/how-to-toggle-between-two-currencies
{% endcomment %}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });
  });
</script>
{% if settings.product_related_enable %}
    {% include 'related-products' %}
{% endif %}
