<!-- /templates/search.liquid -->
{% comment %}

  To return only products or pages in results:
    - http://docs.shopify.com/manual/configuration/store-customization/return-only-product-in-storefront-search-results
    - Or manually add type=product or type=page to the search URL as a parameter

{% endcomment %}

{% comment %}
  Set grid_results to true and set search results as a grid instead of a list.
  This works well when your search is only for products.
{% endcomment %}

{% include 'breadcrumb' %}
{% assign grid_results = false %}

{% comment %}
  Check to enforce respond.js
{% endcomment %}
{% assign respond_js_secret_key = shop.domain | md5 %}
{% unless search.terms == respond_js_secret_key %}

{% comment %}
  Avoid accessing search.results before the opening paginate tag.
  If you do, the pagination of results will be broken.
{% endcomment %}


{% paginate search.results by 10 %}
  {% if search.performed %}
    {% if search.results_count == 0 %}
      <h2 class="page-title page-title--search-results u-page-width-max-gutters">{{ 'general.search.no_results_html' | t: terms: search.terms }}</h2>
    {% else %}
      <h2 class="page-title page-title--search-results u-page-width-max-gutters">{{ 'general.search.results_for_html' | t: terms: search.terms }}</h2>
    {% endif %}
  {% else %}
    <h2 class="page-title page-title--search-results u-page-width-max-gutters">{{ 'general.search.title' | t }}</h2>
  {% endif %}
    <div class="search-standalone js-search-standalone u-page-width-max-gutters">
      {% include 'search-bar' %}
      {% if search.performed %}
      <div id="productListingPage">
        <div class="cards">
        {% for product in search.results %}
          {% include 'product-grid-item' %}
        {% endfor %}
        </div>
        </div>
      {% if paginate.pages > 1 %}
        <hr>
          <div class="pagination">
            {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
          </div>
        {% endif %}

      {% endif %}

    </div>
  </div>

{% endpaginate %}

{% else %}
  {% include 'respond' %}
  {% layout none %}
{% endunless %}
